:host {
  display: block;
  min-height: 100px;
  position: relative;
}

.mat-column-select {
  overflow: initial;
  max-width: 60px;

  ni-select-all {
    margin-left: -42px;
  }
}

.mat-table {
  width: 100%;
}

.mat-column-actions {
  justify-content: flex-end;
  box-sizing: border-box;
  min-width: 166px;
  padding-left: 1em;
  ni-small-button {
    margin-left: 1em;
  }
}

.mat-column-unreadMessages {
  overflow: initial;
  max-width: 60px;
}

.clickable {
  cursor: pointer;
}

.disabled-row {
  background: rgba(0, 0, 0, 0.12);
  cursor: not-allowed;
}

[hidden] {
  display: none;
}

.select-all-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 26px; // to align with mat-table
  margin-top: 1rem;
}

.table-actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  .table-action {
    margin-top: 1rem;
    padding-bottom: 2px;
  }

  .table-action + .table-action {
    margin-left: 1rem;
  }
}
