<ni-filter-bar
  *ngIf="showQuickSearch"
  [showQuickSearch]="showQuickSearch"
  [quickSearch]="quickSearch"
  [columnDefinitions]="columnDefinitions"
  [filterText]="filterText"
  [cancelText]="cancelText"
  [dialogWidth]="dialogWidth"
  [filterTitle]="filterTitle"
  [filterDisabled]="filterDisabled"
  [lastFilters]="filterColumns || []"
  [clearText]="clearText"
  [listName]="listName ?? ''"
  (filterChange)="onFilterChange($event)"
>
</ni-filter-bar>

<mat-tab-group *ngIf="isTabbed && tabIds.length > 0; else noTabs">
  <mat-tab *ngFor="let tab of tabIds" [label]="tab">
    <mat-table
      *ngIf="items && items.length > 0; else noItems"
      [dataSource]="items || []"
      class="data-table"
      [ngClass]="{ 'mat-elevation-z1': !isFlat }"
      matSort
      (matSortChange)="sortChange($event)"
      [matSortActive]="sortColumn ?? 'reference'"
      [matSortDirection]="$any(sortDirection) ?? 'asc'"
      matSortDisableClear
      multiTemplateDataRows
      [attr.aria-label]="ariaLabel"
      [title]="ariaLabel"
    >
      <ng-container *ngFor="let column of tabbedColumns.get(tab)" [matColumnDef]="column.id">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [disabled]="!column.isSortable"
          [hidden]="column.isHidden"
          [style.min-width]="column.minWidth"
          [style.max-width]="column.maxWidth"
          [attr.aria-label]="column.value"
        >
          {{ column.value }}
        </mat-header-cell>
        <mat-cell
          *matCellDef="let item"
          ni-format
          [dataType]="column.dataType"
          [value]="getValue(item, column)"
          [hidden]="column.isHidden"
          [style.min-width]="column.minWidth"
          [style.max-width]="column.maxWidth"
          (click)="itemClicked(item, column)"
          [ngClass]="{ clickable: isFieldClickable(item, column) }"
        >
        </mat-cell>
      </ng-container>

      <ng-container *ngIf="actions && tab === currentActionsTab" [matColumnDef]="'actions'">
        <mat-header-cell *matHeaderCellDef [style.min-width]="actionsMinWidth" [style.max-width]="actionsMaxWidth">
        </mat-header-cell>
        <mat-cell *matCellDef="let item" [style.min-width]="actionsMinWidth" [style.max-width]="actionsMaxWidth">
          <ng-container *ngFor="let action of actions">
            <ni-small-button
              [text]="action.name"
              *ngIf="getActionVisible(action, item)"
              (click)="$event.stopPropagation(); onActionClick(action, item)"
            >
            </ni-small-button>
          </ng-container>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="tabbedColumnIds.get(tab)"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: tabbedColumnIds.get(tab)"
        (click)="onRowClick(row, $event)"
        [ngClass]="{ clickable: selectMode !== 'none' && !detailDialogFormId, 'disabled-row': row.isDisabled }"
      >
      </mat-row>
    </mat-table>
  </mat-tab>
</mat-tab-group>

<ng-template #noTabs>
  <mat-table
    *ngIf="items && items.length > 0; else noItems"
    [dataSource]="items || []"
    class="data-table"
    [ngClass]="{ 'mat-elevation-z1': !isFlat }"
    matSort
    (matSortChange)="sortChange($event)"
    [matSortActive]="sortColumn ?? 'reference'"
    [matSortDirection]="$any(sortDirection) ?? 'asc'"
    matSortDisableClear
    [attr.aria-label]="ariaLabel"
    [title]="ariaLabel"
  >
    <ng-container *ngIf="selectMode !== 'none'" matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <ni-select-all *ngIf="enableSelectAll" [isAllSelected]="isAllSelected" (selectChanged)="selectAllItemsOnPage()">
        </ni-select-all>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox
          *ngIf="!row.isDisabled"
          (change)="onSelectClick(row, $event)"
          [checked]="isItemChecked(row)"
          [aria-label]="'Checkbox ' + row[ariaLabelField]"
          class="jumbo light-bg"
        >
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container [matColumnDef]="column.id" *ngFor="let column of columnDefinitions">
      <ng-container *ngIf="selectMode !== 'none' && column.id === 'select'; else col"></ng-container>

      <ng-template #col>
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [disabled]="!column.isSortable"
          [hidden]="column.isHidden"
          [style.min-width]="column.minWidth"
          [style.max-width]="column.maxWidth"
        >
          {{ column.value }}
        </mat-header-cell>
        <mat-cell
          *matCellDef="let item"
          ni-format
          [dataType]="column.dataType"
          [value]="getValue(item, column)"
          [hidden]="column.isHidden"
          [style.min-width]="column.minWidth"
          [style.max-width]="column.maxWidth"
          (click)="itemClicked(item, column)"
          [ngClass]="{ clickable: isFieldClickable(item, column) }"
        >
        </mat-cell>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="actions" matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef [style.min-width]="actionsMinWidth" [style.max-width]="actionsMaxWidth">
      </mat-header-cell>
      <mat-cell *matCellDef="let item" [style.min-width]="actionsMinWidth" [style.max-width]="actionsMaxWidth">
        <ng-container *ngFor="let action of actions">
          <ni-small-button
            [text]="action.name"
            [title]="getActionTitle(action, item)"
            [disabled]="getActionDisabled(action, item)"
            [ariaLabel]="getActionAriaLabel(action, item)"
            *ngIf="getActionVisible(action, item)"
            (click)="$event.stopPropagation(); onActionClick(action, item)"
            role="button"
          >
          </ni-small-button>
        </ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnIds"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: columnIds"
      (click)="onRowClick(row, $event)"
      [ngClass]="{ clickable: selectMode !== 'none' && !detailDialogFormId, 'disabled-row': row.isDisabled }"
    >
    </mat-row>
  </mat-table>
</ng-template>

<div *ngIf="tableActions && tableActions.length > 0" class="table-actions">
  <ng-container *ngFor="let action of tableActions">
    <button
      *ngIf="getActionVisible(action, formState.rootModel) && (action.permissions ?? [] | userHasPermissions)"
      type="button"
      color="primary"
      class="table-action"
      mat-raised-button
      (click)="onActionClick(action, formState.context)"
      [attr.aria-label]="action.name"
    >
      {{ action.name }}
    </button>
  </ng-container>
</div>

<div *ngIf="enableSelectAll && !isLoading && itemCount > 0" class="select-all-container">
  <ni-select-all [isAllSelected]="isAllSelected" (selectChanged)="selectAllItemsOnPage()"> </ni-select-all>
</div>

<mat-paginator
  *ngIf="showPaging && items && items.length > 0"
  [length]="itemCount"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="[5, 10, 25, 50, 100, 250, 500]"
  (page)="pageChange($event)"
>
</mat-paginator>

<ni-loading *ngIf="isLoading"></ni-loading>

<ng-template #noItems>
  <p *ngIf="!isLoading">{{ noResultsText }}</p>
</ng-template>
