<div class="container">
  <h1 class="margin-bottom-2">{{ 'Add Intelligence Report' | translate }}</h1>
  <div class="row">
    <div class="col col-md-8" style="max-height: 100vh">
      <nw-steps-create [formIntelReport]="formIntelReport"></nw-steps-create>
    </div>
  </div>
</div>
