<mat-card
  class="card-wrapper"
  [ngClass]="{
    'card-wrapper-hover': props['cardEnableHoverClass'] ?? props['enableHoverClass'],
    'no-header': !(props['cardLabel'] ?? props['label']),
    'auto-height': props['cardAutoHeight'] ?? props['autoHeight'],
    alt: props['cardAlt'] ?? props['alt'],
    'can-collapse': props['cardCollapse'] ?? props['collapse'],
    'is-collapsed': isCardCollapsed
  }"
  [style.padding]="props['cardPadding'] ?? props['padding'] ?? '1rem'"
>
  <mat-card-header *ngIf="props['cardLabel'] ?? props['label']">
    <mat-card-title>
      <mat-icon
        size="20px"
        [icon]="props['cardLabelIcon'] ?? props['labelIcon']"
        *ngIf="props['cardLabelIcon'] ?? props['labelIcon']"
        class="mat-card-header-icon"
      ></mat-icon
      >{{ props['cardLabel'] ?? props['label'] }}
    </mat-card-title>
    <button
      *ngIf="props['cardCollapse'] ?? props['collapse']"
      type="button"
      (click)="setIsCardCollapsed()"
      (keydown.enter)="setIsCardCollapsed()"
      mat-icon-button
      class="expand-collapse-button"
      [attr.aria-label]="(isCardCollapsed ? 'Expand ' : 'Collapse ') + (props['cardLabel'] ?? props['label'])"
      [attr.aria-expanded]="!isCardCollapsed"
      [title]="(isCardCollapsed ? 'Expand' : 'Collapse') + ' card'"
    >
      <mat-icon [icon]="isCardCollapsed ? 'far fa-angle-down' : 'far fa-angle-up'"></mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content
    [@expandCollapse]="animationState"
    [ngClass]="{ 'content-overflow-visible': props['cardContentOverflowVisible'] }"
  >
    <ng-container #fieldComponent></ng-container>
  </mat-card-content>
</mat-card>
