:host {
  position: relative;
}
.card-wrapper {
  box-sizing: border-box;

  .mat-card-content:not(.content-overflow-visible) {
    overflow: hidden;
  }

  &.alt {
    box-shadow: none;
  }

  .mat-card-header-icon {
    display: inline-block;
    margin-right: 0.25rem;
  }
}

.card-wrapper:not(.auto-height) {
  height: 100%;
}

.card-wrapper:not(.no-header) .mat-card-content {
  padding-top: 1em;
}

.can-collapse {
  .mat-card-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .expand-collapse-button {
    margin-top: -0.75rem;
  }
}

.is-collapsed {
  &.mat-card {
    padding-bottom: 0 !important;
  }
}
