theme {
  color: (
    color: (
      foreground: (
        base: #ffffff,
        divider: rgba(255, 255, 255, 0.12),
        dividers: rgba(255, 255, 255, 0.12),
        disabled: rgba(255, 255, 255, 0.5),
        disabled-button: rgba(255, 255, 255, 0.3),
        disabled-text: rgba(255, 255, 255, 0.5),
        elevation: black,
        hint-text: rgba(255, 255, 255, 0.5),
        secondary-text: rgba(255, 255, 255, 0.7),
        icon: #ffffff,
        icons: #ffffff,
        text: #ffffff,
        slider-min: #ffffff, slider-off: rgba(255, 255, 255, 0.3),
        slider-off-active: rgba(255, 255, 255, 0.3),
        "accent-text": rgba(255, 255, 255, 0.7)
      )
    );
    primary: (
      main: #1d8cf8,
      lighter: #bbddfd,
      darker: #116ff5,
      200: #1d8cf8,
      contrast: (
        main: #ffffff,
        lighter: rgba(0, 0, 0, 0.87),
        darker: #ffffff
      ),
      default: #1d8cf8,
      text: #1d8cf8,
      default-contrast: #ffffff,
      lighter-contrast: rgba(0, 0, 0, 0.87),
      darker-contrast: #ffffff,
      "main-contrast": #ffffff,
      "200-contrast": null,
      "contrast-contrast": null
    );
    accent: (
      main: #0ce872,
      lighter: #b6f8d5,
      darker: #06de55,
      200: #0ce872,
      contrast: (
        main: rgba(0, 0, 0, 0.87),
        lighter: rgba(0, 0, 0, 0.87),
        darker: rgba(0, 0, 0, 0.87)
      ),
      default: #0ce872,
      text: #0ce872,
      default-contrast: rgba(0, 0, 0, 0.87),
      lighter-contrast: rgba(0, 0, 0, 0.87),
      darker-contrast: rgba(0, 0, 0, 0.87),
      "main-contrast": rgba(0, 0, 0, 0.87),
      "200-contrast": null,
      "contrast-contrast": null
    );
    warn: (
      main: #ee9402,
      lighter: #fadfb3,
      darker: #e77701,
      200: #ee9402,
      contrast: (
        main: rgba(0, 0, 0, 0.87),
        lighter: rgba(0, 0, 0, 0.87),
        darker: rgba(0, 0, 0, 0.87)
      ),
      default: #ee9402,
      text: #ee9402,
      default-contrast: rgba(0, 0, 0, 0.87),
      lighter-contrast: rgba(0, 0, 0, 0.87),
      darker-contrast: rgba(0, 0, 0, 0.87),
      "main-contrast": rgba(0, 0, 0, 0.87),
      "200-contrast": null,
      "contrast-contrast": null
    );
    is-dark: true;
    foreground: (
      base: #ffffff,
      divider: rgba(255, 255, 255, 0.12),
      dividers: rgba(255, 255, 255, 0.12),
      disabled: rgba(255, 255, 255, 0.5),
      disabled-button: rgba(255, 255, 255, 0.3),
      disabled-text: rgba(255, 255, 255, 0.5),
      elevation: black,
      hint-text: rgba(255, 255, 255, 0.5),
      secondary-text: rgba(255, 255, 255, 0.7),
      icon: #ffffff,
      icons: #ffffff,
      text: #ffffff,
      slider-min: #ffffff,
      slider-off: rgba(255, 255, 255, 0.3),
      slider-off-active: rgba(255, 255, 255, 0.3),
      "accent-text": rgba(255, 255, 255, 0.7)
    );
    background: (
      status-bar: #46466d,
      app-bar: #28283f,
      background: #1e1e2f,
      hover: rgba(250, 250, 250, 0.04),
      card: #28283f,
      dialog: #28283f,
      disabled-button: rgba(250, 250, 250, 0.12),
      raised-button: #28283f,
      focused-button: rgba(255, 255, 255, 0.12),
      selected-button: #46466d,
      selected-disabled-button: #5a5a8c,
      disabled-button-toggle: #32324e,
      unselected-chip: #46466d,
      disabled-list-option: #32324e,
      tooltip: #46466d
    );
  );
  typography: (
    font-family: 'Poppins, "Helvetica Neue", sans-serif';
    display-4: (
      font-size: 112px,
      line-height: 112px,
      font-weight: 300,
      font-family: "Poppins",
      letter-spacing: -0.0134em
    );
    display-3: (
      font-size: 56px,
      line-height: 56px,
      font-weight: 400,
      font-family: "Poppins",
      letter-spacing: -0.0089em
    );
    display-2: (
      font-size: 45px,
      line-height: 48px,
      font-weight: 400,
      font-family: "Poppins",
      letter-spacing: 0em
    );
    display-1: (
      font-size: 34px,
      line-height: 40px,
      font-weight: 400,
      font-family: "Poppins",
      letter-spacing: 0.0074em
    );
    headline: (
      font-size: 24px,
      line-height: 32px,
      font-weight: 300,
      font-family: "Poppins",
      letter-spacing: 0em
    );
    title: (
      font-size: 20px,
      line-height: 32px,
      font-weight: 300,
      font-family: "Poppins",
      letter-spacing: 0.0075em
    );
    subheading-2: (
      font-size: 16px,
      line-height: 28px,
      font-weight: 300,
      font-family: "Poppins",
      letter-spacing: 0.0094em
    );
    subheading-1: (
      font-size: 15px,
      line-height: 24px,
      font-weight: 300,
      font-family: "Poppins",
      letter-spacing: 0.0067em
    );
    body-2: (
      font-size: 14px,
      line-height: 24px,
      font-weight: 500,
      font-family: "Poppins",
      letter-spacing: 0.0179em
    );
    body-1: (
      font-size: 14px,
      line-height: 20px,
      font-weight: 400,
      font-family: "Poppins",
      letter-spacing: 0.0179em
    );
    button: (
      font-size: 14px,
      line-height: 14px,
      font-weight: 500,
      font-family: "Poppins",
      letter-spacing: 0.0893em
    );
    caption: (
      font-size: 12px,
      line-height: 20px,
      font-weight: 400,
      font-family: "Poppins",
      letter-spacing: 0.0333em
    );
    input: (
      font-size: inherit,
      line-height: 1.125,
      font-weight: 400,
      font-family: "Poppins",
      letter-spacing: 1.5px
    );
  );
}
