@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin my-component-color($color, $variables) {
  $background: map-get($color, background);
  $foreground: map-get($color, foreground);
  $is-dark-theme: map-get($color, is-dark);
  $border-color: mat.get-color-from-palette($foreground, divider, if($is-dark-theme, 0.3, 0.12));
  $background-color: mat.get-color-from-palette($background, background);
  $message-unread: map-get($variables, 'message-unread');
}

@mixin my-component-typography($typography, $variables) {
  .full-typographic-level {
    @include mat.typography-level($typography, 'body-1');
  }
  .my-font-size {
    font-size: mat.font-size($typography, 'body-1');
  }
  .my-font-family {
    font-family: mat.font-family($typography, 'body-1');
  }
  .my-font-weight {
    font-weight: mat.font-weight($typography, 'body-1');
  }
  .my-line-height {
    line-height: mat.line-height($typography, 'body-1');
  }
  .my-letter-spacing {
    letter-spacing: mat.letter-spacing($typography, 'body-1');
  }
}

@mixin my-component-theme($color, $typography, $variables) {
  @include my-component-color($color, $variables);
  @include my-component-typography($typography, $variables);
}
