<ni-page title="Formly Sandbox">
  <div class="sandbox-container">
    <div class="input-container mat-elevation-z1">
      <label for="fields"><strong>Fields</strong></label>
      <span class="textarea-container">
        <textarea id="fields" [formControl]="inputFields"></textarea>
        <button type="button" mat-icon-button niCopyToClipboard [text]="inputFields.value" aria-label="Copy Fields">
          <mat-icon icon="content_copy"></mat-icon>
        </button>
      </span>

      <div class="half-width-container">
        <section>
          <label for="model"><strong>Model</strong></label>
          <span class="textarea-container">
            <textarea id="model" [formControl]="inputModel"></textarea>
            <button type="button" mat-icon-button niCopyToClipboard [text]="inputModel.value" aria-label="Copy Model">
              <mat-icon icon="content_copy"></mat-icon>
            </button>
          </span>
        </section>

        <section>
          <label for="context"><strong>Context</strong></label>
          <span class="textarea-container">
            <textarea id="context" [formControl]="inputContext"></textarea>
            <button
              type="button"
              mat-icon-button
              niCopyToClipboard
              [text]="inputContext.value"
              aria-label="Copy Context"
            >
              <mat-icon icon="content_copy"></mat-icon>
            </button>
          </span>
        </section>
      </div>

      <section class="input-container-actions">
        <mat-checkbox [formControl]="inputShowDebug">Show Debug Information</mat-checkbox>
        <button type="button" mat-raised-button color="primary" (click)="test()" class="input-test" aria-label="Test">
          Test
        </button>
      </section>
    </div>
    <div class="content-container">
      <ni-form
        [definition]="{ fields: formlyFields, options: {}, id: 'formly-sandbox' }"
        [model]="formlyModel"
        [context]="formlyContext"
        [forceShowDebug]="inputShowDebug.value"
        (modelChangedEvent)="modelChanged($event)"
        (contextChangedEvent)="contextChanged($event)"
      ></ni-form>
    </div>
  </div>
</ni-page>
