mat-card {
  position: relative;
  padding: 24px;
}

.hidden {
  visibility: hidden;
}

img {
  max-width: 100%;
  max-height: 250px;
  margin: 0;
}

.image-outer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  margin-bottom: 1rem;
}

.image-inner-wrapper {
  position: relative;
  height: fit-content;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 0;
  }

  img {
    max-height: 90px;
    top: 0;
    right: 0;
  }

  .image-outer-wrapper {
    justify-content: start;
    height: 90px;
    width: 90px;
    margin-bottom: 0;
    margin-right: 2rem;
  }

  mat-icon {
    top: 0;
    right: 0;
    font-size: 12px;
  }

  .ref {
    margin-right: 2rem;
    width: 150px;
  }

  .name {
    flex-grow: 1;
  }

  .action {
    text-align: right;
    padding-right: 1.5rem;
  }
}

button {
  white-space: break-spaces;
}
