<mat-card [ngClass]="[viewType]" class="identification-component">
  <div class="image-outer-wrapper">
    <div class="image-inner-wrapper" *ngIf="item.defaultPhotoThumbnailBlobId as thumbnail">
      <img
        alt="thumbnail"
        tabindex="0"
        [attr.aria-label]="item.nameOfIndividual ? item.nameOfIndividual : 'Image'"
        [src]="photoEndpoint + thumbnail"
      />
    </div>
  </div>
  <div class="ref">
    <p *ngIf="item.reference" tabindex="0">
      Reference: <strong>{{ item.reference }}</strong>
    </p>
  </div>
  <div class="name">
    <p *ngIf="item.nameOfIndividual" tabindex="0">
      Name: <strong>{{ item.nameOfIndividual }}</strong>
    </p>
  </div>
  <div class="action">
    <p aria-label="ACTION REQUIRED" tabindex="0" id="action-label" [class.hidden]="item.actionRequired === 0">
      <strong>ACTION REQUIRED</strong>
    </p>
  </div>
  <div class="button-wrapper">
    <button
      color="primary"
      mat-raised-button
      type="button"
      [disabled]="!item.hasAttachments"
      (click)="openDialog(item)"
      (keyup.enter)="openDialog(item)"
    >
      {{ downloadButtonText }}
    </button>
  </div>
</mat-card>
