<div class="case-summary">
  <a
    *ngIf="operationId"
    [href]="'/Operations/View/' + operationId"
    [title]="'View ' + operationName"
    (keyup.enter)="onEnter('/Operations/View/' + operationId)"
  ></a>
  <section>
    <p *ngIf="operationName"><mat-icon [icon]="'fas fa-folder'" [size]="'20px'"></mat-icon>{{ operationName }}</p>
    <p *ngIf="operationReference">
      <mat-icon [icon]="'fas fa-hashtag'" [size]="'20px'"></mat-icon>{{ operationReference }}
    </p>
  </section>
  <section class="text-right">
    <p *ngIf="crimeType"><mat-icon [icon]="'fas fa-user-injured'" [size]="'20px'"></mat-icon>{{ crimeType }}</p>
    <p *ngIf="creationDate">
      <mat-icon [icon]="'fas fa-calendar-alt'" [size]="'20px'"></mat-icon>{{ creationDate | toDate }}
    </p>
  </section>
</div>
