.case-summary {
  display: flex;
  justify-content: space-between;

  > a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  p {
    margin: 0;

    .mat-icon {
      margin-right: 0.3rem;
    }
  }

  .text-right {
    text-align: right;
  }
}
