<div class="rich-fields-view">
  <ng-container *ngIf="!isEmpty; else elseBlock">
    <ni-rich-fields-view [fieldGroup]="field.fieldGroup" [formControl]="formControl"></ni-rich-fields-view>
  </ng-container>
  <ng-template #elseBlock>
    <div class="rich-fields-value">{{ props['noData'] }}</div>
  </ng-template>
</div>
