<ng-template *ngIf="watermark; else plain">
  <img
    #image
    [src]="value | entityMedia : width : height : maintainAspect"
    [style.margin]="margins"
    [alt]="text || ''"
  />
</ng-template>
<ng-template #plain>
  <img
    *ngIf="imageUrl"
    [src]="imageUrl"
    [alt]="text || ''"
    [style.margin]="margins"
    [style.width]="width"
    [style.height]="height"
  />
</ng-template>
