<div class="inline-calendar" [style.max-width]="width">
  <div *ngIf="showTitle" class="inline-calendar-title">
    <p class="title-label" [style]="{ fontSize: subtitleFontSize, lineHeight: subtitleLineHeight }">Today</p>
    <p class="title-text" [style]="{ fontSize: titleFontSize, lineHeight: titleLineHeight }">
      {{ today | date: todayFormat }}
    </p>
  </div>

  <div #position class="inline-calendar-position">
    <div *ngIf="!calculating" class="material-calendar-wrapper" [style.max-width]="wrapperMaxWidth">
      <p *ngIf="activeMonth" class="inline-calendar-active">{{ activeMonth | date: activeFormat }}</p>
      <mat-calendar #calendar [dateClass]="dateClass()"></mat-calendar>
    </div>
  </div>
</div>
