ni-inline-calendar {
  display: block;
  height: 100%;
}

.inline-calendar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin: auto;

  .inline-calendar-title {
    text-align: center;
    margin-bottom: 0.5rem;

    > p {
      margin: 0.5rem;
    }
  }

  .inline-calendar-position {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .inline-calendar-active {
    text-align: center;
  }

  .material-calendar-wrapper {
    padding: 0 40px;
    position: relative;
    width: 100%;

    // Removing the month label
    .mat-calendar-body-label:not(:last-of-type) {
      visibility: hidden;
    }

    .mat-calendar-body-label:last-of-type {
      display: none;
    }

    .mat-calendar-body-cell {
      appearance: none !important;
      background: 0 !important;
      font-weight: 700 !important;
      cursor: default;
      pointer-events: none;
    }

    .task-date {
      position: relative !important;
      pointer-events: all !important;

      &:hover {
        .mat-calendar-body-cell-content {
          background-color: transparent !important;
        }
      }

      &::after {
        content: '' !important;
        position: absolute !important;
        top: -6px !important;
        left: 60% !important;
        display: block !important;
        width: 8px !important;
        height: 8px !important;
        border-radius: 50% !important;
        z-index: 1 !important;
      }
    }

    .mat-calendar-previous-button,
    .mat-calendar-next-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .mat-calendar-previous-button {
      left: 0;
    }

    .mat-calendar-next-button {
      right: 0;
    }

    .mat-calendar-period-button {
      display: none;
    }

    .mat-calendar-controls {
      justify-content: center;
      margin: 0;
    }

    .mat-calendar-spacer {
      display: none;
    }

    .mat-calendar-table-header-divider {
      display: none;
    }

    .mat-calendar-table-header th {
      padding-bottom: 0;
    }

    // Override the circle that the calendar puts around today
    .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
      border-color: transparent !important;
    }
  }
}
