@use '@angular/material' as mat;
@import '@angular/material/theming';
@import '/src/themes/palettes';

@mixin my-intel-management-color($color, $variables) {
  .anchor-box {
    &.authorise {
      color: mat.get-color-from-palette($shadow-green, 500);
    }

    &.sanitise {
      color: #cddcef;
    }

    &.manage {
      color: mat.get-color-from-palette($shadow-blue, 500);
    }
  }
}

@mixin my-intel-management-typography($typography, $variables) {
  .anchor-count {
    font-size: mat.font-size($typography, 'display-2');
  }

  .anchor-label {
    font-size: mat.font-size($typography, 'subheading-2');
  }
}

@mixin my-intel-management-theme($color, $typography, $variables) {
  @include my-intel-management-color($color, $variables);
  @include my-intel-management-typography($typography, $variables);
}
