@use '@angular/material' as mat;
@import '@angular/material/theming';
@import '/src/themes/palettes';

.my-intel-management {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 1rem;

  .anchor-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    text-decoration: none;

    &:hover {
      color: #0ce1e8;
    }
  }

  .anchor-count {
    font-weight: 300;
    margin: 0;
  }

  .anchor-label {
    text-transform: uppercase;
    margin: 0;
  }
}
