<div class="my-intel-management" nwTranslateContext="MY INTEL">
  <a routerLink="." class="anchor-box authorise" [attr.aria-label]="'Authorise' | translate">
    <mat-icon [icon]="'fa-light fa-file-signature'" [size]="'4rem'"></mat-icon>
    <p class="anchor-count">{{ authoriseCount }}</p>
    <p class="anchor-label" nwTranslate>Authorise</p>
  </a>
  <a routerLink="." class="anchor-box sanitise" [attr.aria-label]="'Sanitise' | translate">
    <mat-icon [icon]="'fa-light fa-soap'" [size]="'4rem'"></mat-icon>
    <p class="anchor-count">{{ sanitiseCount }}</p>
    <p class="anchor-label" nwTranslate>Sanitise</p>
  </a>
  <a routerLink="." class="anchor-box manage" [attr.aria-label]="'Manage' | translate">
    <mat-icon [icon]="'fa-light fa-gears'" [size]="'4rem'"></mat-icon>
    <p class="anchor-count">{{ manageCount }}</p>
    <p class="anchor-label" nwTranslate>Manage</p>
  </a>
</div>
