.messages-type {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;

  .mat-card-title {
    font-weight: 400;
    font-size: 16px;
  }

  .messages-type-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: calc(100% - 15px);
  }

  .no-results {
    padding: 1rem;
  }

  &.can-collapse {
    .mat-card-header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    .expand-collapse-button {
      margin-top: -0.75rem;
    }
  }

  &.is-collapsed {
    &.mat-card {
      padding-bottom: 0 !important;
    }
  }
}
