<mat-card class="messages-type main-card" [ngClass]="{ 'can-collapse': collapse, 'is-collapsed': isCardCollapsed }">
  <mat-card-header *ngIf="icon || title">
    <mat-card-title> <mat-icon size="20px" icon="{{ icon }}" *ngIf="icon"></mat-icon> {{ title }} </mat-card-title>
    <button
      *ngIf="collapse"
      type="button"
      (click)="setIsCardCollapsed()"
      (keydown.enter)="setIsCardCollapsed()"
      mat-icon-button
      class="expand-collapse-button"
      [title]="(isCardCollapsed ? 'Expand' : 'Collapse') + ' card'"
      [attr.aria-label]="(isCardCollapsed ? 'Show' : 'Hide') + ' messages'"
      [attr.aria-expanded]="!isCardCollapsed"
    >
      <mat-icon [icon]="isCardCollapsed ? 'far fa-angle-down' : 'far fa-angle-up'"></mat-icon>
    </button>
  </mat-card-header>
  <div class="messages-type-content" [@expandCollapse]="animationState">
    <ni-data-cards
      [formControl]="control"
      [columnDefinitions]="columnDefinitions"
      [idColumn]="idColumn"
      [context]="context"
      [contextChanged]="contextChanged"
      [additionalParams]="additionalParams"
      [filterColumns]="filterColumns"
      [listName]="listName"
      [showPaging]="showPaging"
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      [savedOptionsId]="savedOptionsId"
      [selectMode]="selectMode"
      [sortColumn]="sortColumn"
      [sortDirection]="sortDirection"
      [field]="field"
      [itemsUi]="itemsUi"
      [noResultsText]="noResultsText"
      [title]="title ?? ''"
      [icon]="icon ?? ''"
      [maxHeight]="maxHeight"
      [fullWidthContent]="fullWidthContent"
      [cardWrapper]="cardWrapper"
      [refreshInterval]="refreshInterval"
      [refreshSignalR]="refreshSignalR"
      (itemsUpdate)="onItemsUpdate($event)"
      #messageslist
    >
    </ni-data-cards>

    <ni-message-bar
      [messageCount]="itemCount"
      [filterColumns]="filterColumns"
      (toggleMessageBox)="onToggleMessageBox($event)"
      (sendComplete)="onSendComplete()"
      *ngIf="allowAddMessage"
    >
    </ni-message-bar>
  </div>
</mat-card>
