<div class="page">
  <ni-page-banner *ngIf="pageBanner" [config]="pageBanner"></ni-page-banner>
  <div layout="row" class="page-layout">
    <h1 *ngIf="!hidePageTitle">
      <a
        *ngIf="backButtonUrl"
        [routerLink]="backButtonUrl"
        class="back-button"
        [attr.aria-label]="'Back to ' + title + ' list'"
      >
        <mat-icon icon="far fa-arrow-left"></mat-icon> </a
      >{{ title }}
    </h1>
    <div class="page-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
