@import '@syncfusion/ej2-icons/styles/material';

@import '@fortawesome/fontawesome-pro/scss/fontawesome';
@import '@fortawesome/fontawesome-pro/scss/regular';
@import '@fortawesome/fontawesome-pro/scss/solid';
@import '@fortawesome/fontawesome-pro/scss/brands';
@import '@fortawesome/fontawesome-pro/scss/duotone';
@import '@fortawesome/fontawesome-pro/scss/light';
@import '@fortawesome/fontawesome-pro/scss/thin';

$MaterialIcons_FontPath: '../../../node_modules/material-icons-font/fonts';
@import 'material-icons-font/sass/variables';
@import 'material-icons-font/sass/mixins';
@import 'material-icons-font/sass/main';
@import 'material-icons-font/sass/Regular';

nw-root {
  .mat-icon {
    display: inline-flex;
    flex-shrink: 0;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    overflow: visible;
  }
  .ni,
  .fa,
  .fas,
  .far,
  .fal,
  .fad,
  .fab {
    &.scale {
      &:before {
        font-size: 0.8em; //scale to be proportionate to the material icons, this way everything can be driven by single size setting and look consistent.
      }
    }
  }
}

@font-face {
  font-family: 'exhibittypes';
  src: url('/assets/fonts/exhibittypes.eot?sdhax1');
  src: url('/assets/fonts/exhibittypes.eot?sdhax1#iefix') format('embedded-opentype'),
    url('/assets/fonts/exhibittypes.ttf?sdhax1') format('truetype'),
    url('/assets/fonts/exhibittypes.woff?sdhax1') format('woff'),
    url('/assets/fonts/exhibittypes.svg?sdhax1#exhibittypes') format('svg');
  font-weight: normal;
  font-style: normal;
}
.ni {
  font-family: 'exhibittypes';
  font-style: normal;
}
.ni-flask:before {
  content: '\f018';
}
.ni-road:before {
  content: '\f0a0';
}
.ni-hard-drive:before {
  content: '\f0c7';
}
.ni-floppy:before {
  content: '\f0d1';
}
.ni-truck:before {
  content: '\f0d3';
}
.ni-pinterest:before {
  content: '\f0d6';
}
.ni-dollar-bill:before {
  content: '\f0e3';
}
.ni-auction-hammer:before {
  content: '\f15a';
}
.ni-bitcoin:before {
  content: '\f16a';
}
.ni-youtube:before {
  content: '\f16b';
}
.ni-dropbox:before {
  content: '\f16d';
}
.ni-instagram:before {
  content: '\f174';
}
.ni-twitter:before {
  content: '\f179';
}
.ni-apple:before {
  content: '\f17a';
}
.ni-windows:before {
  content: '\f17b';
}
.ni-android:before {
  content: '\f17c';
}
.ni-linux:before {
  content: '\f17d';
}
.ni-dribbble:before {
  content: '\f17e';
}
.ni-skype:before {
  content: '\f180';
}
.ni-foursquare:before {
  content: '\f194';
}
.ni-vimeo:before {
  content: '\f197';
}
.ni-jet-plane:before {
  content: '\f198';
}
.ni-hashtag:before {
  content: '\f199';
}
.ni-email:before {
  content: '\f19a';
}
.ni-wordpress:before {
  content: '\f19c';
}
.ni-library:before {
  content: '\f1a2';
}
.ni-reddit:before {
  content: '\f1a6';
}
.ni-digg:before {
  content: '\f1ac';
}
.ni-card-reader:before {
  content: '\f1ad';
}
.ni-office:before {
  content: '\f1b2';
}
.ni-cube:before {
  content: '\f1b3';
}
.ni-boxes:before {
  content: '\f1b7';
}
.ni-steam:before {
  content: '\f1d2';
}
.ni-git:before {
  content: '\f1ec';
}
.ni-calculator:before {
  content: '\f1ed';
}
.ni-paypal:before {
  content: '\f1ee';
}
.ni-google-wallet:before {
  content: '\f1f0';
}
.ni-visa-debit-card:before {
  content: '\f1f1';
}
.ni-mastercard:before {
  content: '\f1f2';
}
.ni-discover-credit-card:before {
  content: '\f1f3';
}
.ni-american-express-credit-card:before {
  content: '\f1f4';
}
.ni-paypal-card:before {
  content: '\f1f5';
}
.ni-stripe-card:before {
  content: '\f206';
}
.ni-bicycle:before {
  content: '\f128';
}
.ni-question-mark:before {
  content: '\f21b';
}
.ni-incognito:before {
  content: '\f21c';
}
.ni-motorbike:before {
  content: '\f24e';
}
.ni-scales:before {
  content: '\f267';
}
.ni-safari:before {
  content: '\f268';
}
.ni-google-chrome:before {
  content: '\f269';
}
.ni-firefox:before {
  content: '\f26a';
}
.ni-opera:before {
  content: '\f26b';
}
.ni-internet-explorer:before {
  content: '\f270';
}
.ni-amazon:before {
  content: '\f283';
}
.ni-credit-card:before {
  content: '\f290';
}
.ni-hand-bag:before {
  content: '\f293';
}
.ni-bluetooth:before {
  content: '\f29b';
}
.ni-wheelchair:before {
  content: '\f2b5';
}
.ni-handshake:before {
  content: '\f2bb';
}
.ni-id:before {
  content: '\f2db';
}
.ni-chip:before {
  content: '\e90a';
}
.ni-printer:before {
  content: '\ec90';
}
.ni-knife:before {
  content: '\ec91';
}
.ni-house:before {
  content: '\eb2f';
}
.ni-binoculars:before {
  content: '\eb30';
}
.ni-magnifying-glass:before {
  content: '\eb4a';
}
.ni-key:before {
  content: '\eb51';
}
.ni-padlock:before {
  content: '\eb58';
}
.ni-wrench:before {
  content: '\eb68';
}
.ni-hammer:before {
  content: '\eb69';
}
.ni-tools:before {
  content: '\eb6a';
}
.ni-pocket-knife:before {
  content: '\eb6b';
}
.ni-screwdriver:before {
  content: '\eb6f';
}
.ni-heart:before {
  content: '\eb70';
}
.ni-heartbeat:before {
  content: '\eb73';
}
.ni-stethoscope:before {
  content: '\eb74';
}
.ni-ambulance:before {
  content: '\eb7a';
}
.ni-injection:before {
  content: '\eb7c';
}
.ni-pill:before {
  content: '\ebb6';
}
.ni-bottle:before {
  content: '\ebd8';
}
.ni-paw-print:before {
  content: '\ebe4';
}
.ni-small-hammer:before {
  content: '\e90c';
}
.ni-m16:before {
  content: '\e90d';
}
.ni-uzi:before {
  content: '\ebe7';
}
.ni-bomb:before {
  content: '\ebe8';
}
.ni-fire:before {
  content: '\ebea';
}
.ni-car:before {
  content: '\ec0a';
}
.ni-steering-wheel:before {
  content: '\ec0b';
}
.ni-bike:before {
  content: '\ec10';
}
.ni-sunglasses:before {
  content: '\ec26';
}
.ni-brain:before {
  content: '\ec27';
}
.ni-person:before {
  content: '\ec28';
}
.ni-bullseye:before {
  content: '\ec2b';
}
.ni-target:before {
  content: '\ec2c';
}
.ni-bullets:before {
  content: '\ec2e';
}
.ni-handgun:before {
  content: '\ec2f';
}
.ni-bow-and-arrow:before {
  content: '\ec3a';
}
.ni-sword:before {
  content: '\ec3b';
}
.ni-thunder:before {
  content: '\ec48';
}
.ni-lightning:before {
  content: '\ec49';
}
.ni-anchor:before {
  content: '\eca3';
}
.ni-eye:before {
  content: '\ecb6';
}
.ni-star:before {
  content: '\ece2';
}
.ni-warning-sign:before {
  content: '\ed67';
}
.ni-scissors:before {
  content: '\ee84';
}
.ni-sim-card:before {
  content: '\e900';
}
.ni-memory-stick:before {
  content: '\e901';
}
.ni-hard-drive-2:before {
  content: '\e902';
}
.ni-tablet:before {
  content: '\e903';
}
.ni-phone:before {
  content: '\e905';
}
.ni-laptop:before {
  content: '\e906';
}
.ni-monitor:before {
  content: '\e907';
}
.ni-sandisk:before {
  content: '\e908';
}
.ni-pointer:before {
  content: '\e909';
}
.ni-question-block:before {
  content: '\e90b';
}
.ni-bone:before {
  content: '\e90e';
}
.ni-tablets:before {
  content: '\e90f';
}
.ni-needle:before {
  content: '\e910';
}
.ni-weed:before {
  content: '\e911';
}
.ni-fingerprint:before {
  content: '\e912';
}
.ni-flat-screwdriver:before {
  content: '\e913';
}
.ni-splash:before {
  content: '\e914';
}
.ni-water-drop:before {
  content: '\e915';
}
.ni-spoon:before {
  content: '\e916';
}
.ni-dna:before {
  content: '\e917';
}
.ni-flame:before {
  content: '\e918';
}
.ni-pill-box:before {
  content: '\e919';
}
.ni-footsteps:before {
  content: '\e91a';
}
.ni-tyre-tracks:before {
  content: '\e91b';
}
.ni-arrow-up:before {
  content: '\e91c';
}
.ni-processor-chip:before {
  content: '\e91d';
}
