@mixin _colour-loop($map: '', $prefix: '', $colour-property: '', $opposite-property: '') {
  @each $name, $palette in $map {
    &-#{$prefix}-#{$name} {
      @if $colour-property != '' {
        #{$colour-property}: map-get($palette, 'colour');
      }

      @if $opposite-property != '' {
        #{$opposite-property}: map-get($palette, 'opposite');
      }
    }
  }
}
@mixin colour_loop($colour-property: '', $opposite-property: '') {
  .c {
    @include _colour-loop($negative-colours, 'neg', $colour-property, $opposite-property);
    @include _colour-loop($positive-colours, 'pos', $colour-property, $opposite-property);
    @include _colour-loop($neutral-colours, 'neu', $colour-property, $opposite-property);
  }
}
@mixin colour_loop_and($colour-property: '', $opposite-property: '') {
  &.c {
    @include _colour-loop($negative-colours, 'neg', $colour-property, $opposite-property);
    @include _colour-loop($positive-colours, 'pos', $colour-property, $opposite-property);
    @include _colour-loop($neutral-colours, 'neu', $colour-property, $opposite-property);
  }
}

@mixin debug-map($map) {
  @at-root {
    __properties__ {
      @each $key, $value in $map {
        #{$key}: inspect($value);
      }
    }
  }
}

@function theme-background-change($theme, $name, $value) {
  $modified-theme: $theme;
  $theme-color: map-get($theme, color);
  $color-background-palette: map-get($theme-color, background);
  @if $color-background-palette {
    $color-background-palette: map-merge(
      $color-background-palette,
      (
        $name: $value,
      )
    );
  }
  @if $color-background-palette {
    $modified-theme: map-merge(
      $modified-theme,
      (
        color: (
          background: $color-background-palette,
        ),
      )
    );
  }
  $background-palette: map-get($theme, background);
  @if $background-palette {
    $background-palette: map-merge(
      $background-palette,
      (
        $name: $value,
      )
    );
  }
  @if $background-palette {
    $modified-theme: map-merge(
      $modified-theme,
      (
        background: $background-palette,
      )
    );
  }
  @return $modified-theme;
}

@function theme-foreground-change($theme, $name, $value) {
  $modified-theme: $theme;
  $theme-color: map-get($theme, color);
  $color-foreground-palette: map-get($theme-color, foreground);
  @if $color-foreground-palette {
    $color-foreground-palette: map-merge(
      $color-foreground-palette,
      (
        $name: $value,
      )
    );
  }
  @if $color-foreground-palette {
    $modified-theme: map-merge(
      $modified-theme,
      (
        color: (
          foreground: $color-foreground-palette,
        ),
      )
    );
  }
  $foreground-palette: map-get($theme, foreground);
  @if $foreground-palette {
    $foreground-palette: map-merge(
      $foreground-palette,
      (
        $name: $value,
      )
    );
  }
  @if $foreground-palette {
    $modified-theme: map-merge(
      $modified-theme,
      (
        foreground: $foreground-palette,
      )
    );
  }
  @return $modified-theme;
}
// Angular 13 Version
// @use 'sass:map';

// @function theme-background-change($theme, $name, $value) {
//     $modified-theme: $theme;
//     $theme-color: map.get($theme, color);
//     $color-background-palette: map.get($theme-color, background);
//     @if $color-background-palette {
//         $color-background-palette: map.merge(
//             $color-background-palette,
//             (
//                 $name: $value,
//             )
//         );
//     }
//     @if $color-background-palette {
//         $modified-theme: map.merge(
//             $modified-theme,
//             (
//                 color:
//                     map.merge(
//                         $theme-color,
//                         (
//                             background: $color-background-palette,
//                         )
//                     ),
//             )
//         );
//     }

//     $background-palette: map.get($theme, background);
//     @if $background-palette {
//         $background-palette: map.merge(
//             $background-palette,
//             (
//                 $name: $value,
//             )
//         );
//     }
//     @if $background-palette {
//         $modified-theme: map.merge(
//             $modified-theme,
//             (
//                 background: $background-palette,
//             )
//         );
//     }
//     @return $modified-theme;
// }
