$app-light-blue: (
  50: #e3f1f7,
  100: #b3e5fc,
  200: #81d4fa,
  300: #4fc3f7,
  400: #29b6f6,
  500: #03a9f4,
  600: #039be5,
  700: #0288d1,
  800: #0277bd,
  900: #158ac0,
  A100: #80d8ff,
  A200: #40c4ff,
  A400: #00b0ff,
  A700: #0091ea,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  ),
);

$shadow-purple: (
  50: #dbd6e6,
  100: #b7aecd,
  200: #9e92bc,
  300: #8678ab,
  400: #6e5e9b,
  500: #55428a,
  600: #483875,
  700: #3b2e60,
  800: #2d234a,
  900: #1e1e2f,
  A100: #b7aecd,
  A200: #9e92bc,
  A400: #6e5e9b,
  A700: #3b2e60,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  ),
);

$shadow-blue: (
  50: #e4f1fe,
  100: #bbddfd,
  200: #8ec6fc,
  300: #61affa,
  400: #3f9df9,
  500: #1d8cf8,
  600: #1a84f7,
  700: #1579f6,
  800: #116ff5,
  900: #0a5cf3,
  A100: #ffffff,
  A200: #e9f0ff,
  A400: #b6ccff,
  A700: #9cbbff,
  contrast: (
    50: rgba(0, 0, 0, 0.8),
    100: rgba(0, 0, 0, 0.8),
    200: rgba(0, 0, 0, 0.8),
    300: rgba(0, 0, 0, 0.8),
    400: rgba(0, 0, 0, 0.8),
    500: rgba(255, 255, 255, 0.8),
    600: rgba(255, 255, 255, 0.8),
    700: rgba(255, 255, 255, 0.8),
    800: rgba(255, 255, 255, 0.8),
    900: rgba(255, 255, 255, 0.8),
    A100: rgba(0, 0, 0, 0.8),
    A200: rgba(0, 0, 0, 0.8),
    A400: rgba(0, 0, 0, 0.8),
    A700: rgba(0, 0, 0, 0.8),
  ),
);

$shadow-green: (
  50: #e2fcee,
  100: #b6f8d5,
  200: #86f4b9,
  300: #55ef9c,
  400: #30eb87,
  500: #0ce872,
  600: #0ae56a,
  700: #08e25f,
  800: #06de55,
  900: #03d842,
  A100: #ffffff,
  A200: #cdffd9,
  A400: #9affb2,
  A700: #80ff9e,
  contrast: (
    50: rgba(0, 0, 0, 0.8),
    100: rgba(0, 0, 0, 0.8),
    200: rgba(0, 0, 0, 0.8),
    300: rgba(0, 0, 0, 0.8),
    400: rgba(0, 0, 0, 0.8),
    500: rgba(0, 0, 0, 0.8),
    600: rgba(0, 0, 0, 0.8),
    700: rgba(0, 0, 0, 0.8),
    800: rgba(0, 0, 0, 0.8),
    900: rgba(0, 0, 0, 0.8),
    A100: rgba(0, 0, 0, 0.8),
    A200: rgba(0, 0, 0, 0.8),
    A400: rgba(0, 0, 0, 0.8),
    A700: rgba(0, 0, 0, 0.8),
  ),
);

$shadow-orange: (
  50: #fdf2e1,
  100: #fadfb3,
  200: #f7ca81,
  300: #f3b44e,
  400: #f1a428,
  500: #ee9402,
  600: #ec8c02,
  700: #e98101,
  800: #e77701,
  900: #e26501,
  A100: #ffffff,
  A200: #ffe6d6,
  A400: #ffc6a3,
  A700: #ffb78a,
  contrast: (
    50: rgba(0, 0, 0, 0.8),
    100: rgba(0, 0, 0, 0.8),
    200: rgba(0, 0, 0, 0.8),
    300: rgba(0, 0, 0, 0.8),
    400: rgba(0, 0, 0, 0.8),
    500: rgba(0, 0, 0, 0.8),
    600: rgba(0, 0, 0, 0.8),
    700: rgba(0, 0, 0, 0.8),
    800: rgba(0, 0, 0, 0.8),
    900: rgba(255, 255, 255, 0.8),
    A100: rgba(0, 0, 0, 0.8),
    A200: rgba(0, 0, 0, 0.8),
    A400: rgba(0, 0, 0, 0.8),
    A700: rgba(0, 0, 0, 0.8),
  ),
);
