@use '@angular/material' as mat;
@import 'fonts-poppins';
@import 'palettes';
@import 'variables';
@mixin shadow-theme($color, $typography) {
  $background: map-get($color, background);
  $foreground: map-get($color, foreground);
  $primary: map-get($color, primary);
  $primary-main: map-get($primary, main);
  $primary-light: map-get($primary, lighter);
  $accent: map-get($color, accent);
  $accent-main: map-get($accent, main);
  $text-color: map-get($color, text);
  $shadow-text: Poppins, 'Helvetica Neue', sans-serif;
  $is-dark-theme: map-get($color, is-dark);

  // Specific component overrides, pieces that are not in line with the general theming

  // Body

  html,
  body {
    background: linear-gradient(-45deg, #1e1e2f 0%, #27293d 33%, #27293d 66%, #1e1e2f 100%);
    font-family: $shadow-text;
    font-weight: 400;
  }

  // Buttons

  // Handle buttons appropriately, with respect to line-height
  .mat-flat-button,
  .mat-raised-button,
  .mat-stroked-button {
    padding: 0 1.15em;
    margin: 0 0.65em;
    min-width: 3em;
    line-height: 36.4px;

    &:hover,
    &:focus {
      border-color: #0ce1e8;
      color: #0ce1e8;
    }
  }
  .mat-button,
  .mat-flat-button,
  .mat-icon-button,
  .mat-stroked-button {
    text-transform: uppercase;

    &:hover,
    &:focus {
      border-color: #0ce1e8;
      color: #0ce1e8;
    }
  }
  a.mat-stroked-button,
  button.mat-stroked-button {
    border-radius: 100px;
    color: $primary-main;
    text-transform: uppercase;

    &:hover,
    &:focus {
      border-color: #0ce1e8;
      color: #0ce1e8;
    }
  }
  .mat-stroked-button:not(.mat-button-disabled) {
    border-color: $primary-main;
  }
  .actions-buttons .mat-stroked-button:not(.mat-button-disabled) {
    margin-left: 6px;
  }

  //  Chips

  .mat-standard-chip {
    padding: 0.5em 0.85em;
    min-height: 2.5em;
  }

  // Icons

  .material-icons {
    font-size: 24px;
    font-family: 'Material Icons', 'Material Icons';
    .mat-badge-content {
      font-family: 'Poppins';
    }
  }

  // Scrollbars

  ni-scroll-wrapper {
    --scroll-wrapper-width: 8px !important;

    .scroll-wrapper {
      &::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.25);
      }
    }
  }

  // Graphs

  .chart-pie .center-titles,
  .circular-gauge .center-titles,
  .circular-gauge .circular-gauge-legend,
  .my-teams-header-col .title-text,
  .my-teams-header .title-text {
    text-transform: uppercase;
  }
  .e-lib.e-tooltip.e-control {
    path {
      //display: none!important;
      fill: $shadow-dark-background !important;
      opacity: 1 !important;
      stroke: $accent-main !important;
      stroke-width: 1px !important;
    }
    // svg {
    //   background: $shadow-dark-background;
    //   padding: 0px;
    //   border: 1px solid #fff;
    //   border-radius: 10px;
    //   max-height: 35px;
    // }
    text {
      color: $text-color !important;
      font-family: $shadow-text !important;
    }
  }
  .e-control.e-chart.e-lib.e-touch text {
    font-family: $shadow-text !important;
  }

  #circulargauge_control_1_Axis_Ranges_0 path {
    fill: rgba(255, 255, 255, 0.25);
  }

  // Calendars

  .inline-calendar .inline-calendar-title .title-text {
    text-transform: uppercase;
  }

  // Menu

  .mat-drawer.mat-sidenav,
  .mat-drawer.mat-sidenav .mat-list-base .mat-list-item {
    color: $primary-light;

    &:hover,
    &.active,
    .active {
      color: $shadow-text-light;
    }
    footer svg.menu-logo {
      color: $shadow-text-light;
      fill: $shadow-text-light;
    }
  }

  formly-field .mat-card {
    border-radius: 10px;
  }
  formly-field .mat-card:not([class*='mat-elevation-z']) {
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    box-shadow: 0px 10px 15px rgb(0 0 0 / 50%);
  }
  .mat-card formly-field .mat-card {
    background-color: $shadow-dark-bg-lighter-10;
    box-shadow: none;

    .mat-card-content {
      font-size: 12px;
    }
  }

  .mat-card .repeat-wrapper-grid {
    margin-right: 6px;
  }
  .card-wrapper.card-wrapper-hover:hover {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#32324e+0,14141f+100 */
    background: $shadow-dark-bg-lighter-10; /* Old browsers */
    background: -moz-linear-gradient(top, $shadow-dark-bg-lighter-10 0%, $shadow-dark-bg-darker-5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      $shadow-dark-bg-lighter-10 0%,
      $shadow-dark-bg-darker-5 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      $shadow-dark-bg-lighter-10 0%,
      $shadow-dark-bg-darker-5 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32324e', endColorstr='#14141f',GradientType=0 ); /* IE6-9 */
  }

  .alt-form-field {
    .mat-form-field-outline {
      background-color: $shadow-dark-background;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
      color: $shadow-dark-background;
    }
  }
}
