@import 'icons';
@import 'variables';
@import 'mixins';

html,
body {
  height: 100%;
  font-size: 16px;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
hr {
  border: none;
  border-bottom: solid 1px rgba(128, 128, 128, 0.4);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  font-family: inherit;
}

@mixin alert-variant($background, $border, $color) {
  color: $color;
  background-color: $background;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid $border;
  border-radius: 0.25rem;
  hr {
    border-top-color: darken($border, 5%);
  }
  .alert-link {
    color: darken($color, 10%);
  }
}
.alert-warning {
  @include alert-variant($warn, $warn, $warn-opposite);
}
.alert-danger {
  @include alert-variant($danger, $danger, $danger-opposite);
}
.alert-success {
  @include alert-variant($success, $success, $success-opposite);
}
.alert-info {
  @include alert-variant($info, $info, $info-opposite);
}

nw-header-bar {
  z-index: 2;
}

.block {
  display: block;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-right-1 {
  margin-right: 1rem;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.margin-left-1 {
  margin-left: 1rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem !important;
}

.margin-2 {
  margin: 2rem;
}

@include colour-loop('background-color', 'color');

.no-dialog-padding .mat-dialog-container {
  padding: 0;
}

.mat-checkbox.jumbo {
  .mat-checkbox-inner-container {
    height: 32px;
    width: 32px;
  }
  .mat-checkbox-ripple {
    height: 80px;
    width: 80px;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
  }

  .mat-ripple-element {
    height: 80px !important;
    width: 80px !important;
    left: calc(50% - 40px) !important;
    top: calc(50% - 40px) !important;
  }

  .mat-checkbox-frame,
  .mat-checkbox-background {
    border-radius: 4px;
  }
}

.mat-checkbox {
  &.dark-bg {
    .mat-checkbox-frame {
      background-color: $mat-checkbox-background-dark;
    }
  }

  &.light-bg {
    .mat-checkbox-frame {
      background-color: $mat-checkbox-background-light;
    }
  }
}

.page-title {
  font-size: 24px;
  margin-bottom: 30px;

  .text {
    margin-left: 1rem;
  }
}

.my-teams-header {
  .title {
    margin-top: -28px;
  }

  .actions {
    margin-top: -44px;
    margin-bottom: 2.5rem !important;
  }
}

.my-teams-header-col {
  .title {
    margin-top: 20px;
  }

  .actions {
    margin-top: -92px;
    margin-bottom: 70px !important;
  }
}

.list-filter-wrapper-header {
  margin-top: -24px;
  display: block;
}

.person-image {
  ni-profile-picture {
    img.small {
      width: 40px;
      height: 40px;
    }
  }
}

.nw-menu-item {
  .mat-list-item-content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 !important;
    white-space: nowrap;
  }
}

.alt-form-field {
  .mat-form-field-outline {
    border-radius: 5px;
  }
  .mat-form-field-infix {
    border: 0;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1.2em 0 1em 0;
  }
}
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.2em;
  display: flex;
}
.custom-date-container .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.2em;
  display: flex;
}

// flex-layout classes
.flex {
  display: flex;
}

.flex-0 {
  flex: 1 1 0%;
}

.flex-100 {
  flex: 1 1 100%;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.compact-form {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
  }
}
/**
 * Breakpoints previously used in angular/flex-layout
 * xs: 'screen and (max-width: 599px)'
 * sm: 'screen and (min-width: 600px) and (max-width: 959px)'
 * md: 'screen and (min-width: 960px) and (max-width: 1279px)'
 * lg: 'screen and (min-width: 1280px) and (min-width: 1919px)'
 * xl: 'screen and (min-width: 1920px) and (max-width: 5000px)'
**/

$lt-sm: 599px;
$lt-md: 959px;
$lt-lg: 1279px;
$lt-xl: 1919px;

$gt-xs: 600px;
$gt-sm: 960px;
$gt-md: 1280px;
$gt-lg: 1920px;

.lt-sm-hide {
  @media screen and (max-width: $lt-sm) {
    display: none !important;
  }
}

.lt-md-hide {
  @media screen and (max-width: $lt-md) {
    display: none !important;
  }
}

.lt-lg-hide {
  @media screen and (max-width: $lt-lg) {
    display: none !important;
  }
}

.lt-xl-hide {
  @media screen and (max-width: $lt-xl) {
    display: none !important;
  }
}

.gt-xs-hide {
  @media screen and (min-width: $gt-xs) {
    display: none !important;
  }
}

.gt-sm-hide {
  @media screen and (min-width: $gt-sm) {
    display: none !important;
  }
}

.gt-md-hide {
  @media screen and (min-width: $gt-md) {
    display: none !important;
  }
}

.gt-lg-hide {
  @media screen and (min-width: $gt-lg) {
    display: none !important;
  }
}
