@use '@angular/material' as mat;
@import '@angular/material/theming';
@import './palettes';
@include mat.core();

// =================================================================================================
// vanilla
// =================================================================================================

$vanilla-typography: mat.define-typography-config();

// light
$vanilla-light-primary-palette: mat.define-palette($app-light-blue, 900);
$vanilla-light-accent-palette: mat.define-palette($app-light-blue, A200, A100, A400);
$vanilla-light-warn-palette: mat.define-palette(mat.$red-palette);
$vanilla-light-theme: mat.define-light-theme(
  $vanilla-light-primary-palette,
  $vanilla-light-accent-palette,
  $vanilla-light-warn-palette
);

// dark
$vanilla-dark-primary-palette: mat.define-palette($app-light-blue, 900);
$vanilla-dark-accent-palette: mat.define-palette($app-light-blue, A200, A100, A400);
$vanilla-dark-warn-palette: mat.define-palette(mat.$orange-palette);
$vanilla-dark-theme: mat.define-dark-theme(
  $vanilla-dark-primary-palette,
  $vanilla-dark-accent-palette,
  $vanilla-dark-warn-palette
);
// =================================================================================================
