/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
* Fork at: https://materialtheme.arcsine.dev/?c=YHBhbGV0dGU$shadow-YHByaW1hcnk$shadow-YF48IzFkOGNmOCIsIj9lcjwjYmJkZGZkIiwiO2VyPCMxMTZmZjV$shadow-LCIlPmBePCMwY2U4NzIiLCI~ZXI8I2I2ZjhkNSIsIjtlcjwjMDZkZTU1fiwid2Fybj5gXjwjZWU5NDAyIiwiP2VyPCNmYWRmYjMiLCI7ZXI8I2U3NzcwMX4sIj9UZXh0PCMwMDAwMDAiLCI~PTwjZmFmYWZhIiwiO1RleHQ8I2ZmZmZmZiIsIjs9PCMxZTFlMmZ$shadow-LCJmb250cz5bYEA8KC00IiwiZmFtaWx5PFBvcHBpbnN$shadow-LGBAPCgtMyIsImZhbWlseTxQb3BwaW5zfixgQDwoLTIiLCJmYW1pbHk8UG9wcGluc34sYEA8KC0xIiwiZmFtaWx5PFBvcHBpbnN$shadow-LGBAPGhlYWRsaW5lIiwiZmFtaWx5PFBvcHBpbnMiLCJ2YXJpYW50PD9$shadow-LGBAPHRpdGxlIiwiZmFtaWx5PFBvcHBpbnMiLCJ2YXJpYW50PD9$shadow-LGBAPHN1YiktMiIsImZhbWlseTxQb3BwaW5zIiwidmFyaWFudDw~fixgQDxzdWIpLTEiLCJmYW1pbHk8UG9wcGlucyIsInZhcmlhbnQ8P34sYEA8Ym9keS0yIiwiZmFtaWx5PFBvcHBpbnN$shadow-LGBAPGJvZHktMSIsImZhbWlseTxQb3BwaW5zfixgQDxidXR0b24iLCJmYW1pbHk8UG9wcGluc34sYEA8Y2FwdGlvbiIsImZhbWlseTxQb3BwaW5zfixgQDxpbnB1dCIsImZhbWlseTxQb3BwaW5zIiwic2l6ZT5udWxsfV0sImljb25zPEZpbGxlZCIsIj9uZXNzPmZhbHNlLCJ2ZXJzaW9uPjExfQ==
*/

@import '@angular/material/theming';
@import './mixins';
@import 'palettes';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

// Fonts

$shadow-typography: (
  font-family: 'Poppins, "Helvetica Neue", sans-serif',
  display-4: mat-typography-level(112px, 112px, 300, 'Poppins', -0.0134em),
  display-3: mat-typography-level(56px, 56px, 400, 'Poppins', -0.0089em),
  display-2: mat-typography-level(45px, 48px, 400, 'Poppins', 0em),
  display-1: mat-typography-level(34px, 40px, 400, 'Poppins', 0.0074em),
  headline: mat-typography-level(24px, 32px, 300, 'Poppins', 0em),
  title: mat-typography-level(20px, 32px, 300, 'Poppins', 0.0075em),
  subheading-2: mat-typography-level(16px, 28px, 300, 'Poppins', 0.0094em),
  subheading-1: mat-typography-level(15px, 24px, 300, 'Poppins', 0.0067em),
  body-2: mat-typography-level(14px, 24px, 500, 'Poppins', 0.0179em),
  body-1: mat-typography-level(14px, 20px, 400, 'Poppins', 0.0179em),
  button: mat-typography-level(14px, 14px, 500, 'Poppins', 0.0893em),
  caption: mat-typography-level(12px, 20px, 400, 'Poppins', 0.0333em),
  input: mat-typography-level(inherit, 1.125, 400, 'Poppins', 1.5px),
);

// Light Theme Text
$shadow-text-dark: #000000;
$shadow-dark-text: lighten($shadow-text-dark, 25%);
$shadow-dark-primary-text: rgba($shadow-dark-text, 0.87);
$shadow-dark-accent-text: rgba($shadow-dark-primary-text, 0.54);
$shadow-dark-disabled-text: rgba($shadow-dark-primary-text, 0.58);
$shadow-dark-dividers: rgba($shadow-dark-primary-text, 0.12);
$shadow-dark-focused: rgba($shadow-dark-primary-text, 0.12);

// Dark Theme text
$shadow-text-light: #ffffff;
$shadow-light-text: darken($shadow-text-light, 25%);
$shadow-light-primary-text: rgba($shadow-light-text, 0.7);
$shadow-light-accent-text: rgba($shadow-light-primary-text, 0.7);
$shadow-light-disabled-text: rgba($shadow-light-primary-text, 0.5);
$shadow-light-dividers: rgba($shadow-light-primary-text, 0.12);
$shadow-light-focused: rgba($shadow-light-primary-text, 0.12);

// Light bg
$shadow-light-background: #fafafa;
$shadow-light-bg-darker-5: darken($shadow-light-background, 5%);
$shadow-light-bg-darker-10: darken($shadow-light-background, 10%);
$shadow-light-bg-darker-20: darken($shadow-light-background, 20%);
$shadow-light-bg-darker-30: darken($shadow-light-background, 30%);
$shadow-light-bg-lighter-5: lighten($shadow-light-background, 5%);
$shadow-dark-bg-tooltip: lighten(#1e1e2f, 20%);
$shadow-dark-bg-alpha-4: rgba(#1e1e2f, 0.04);
$shadow-dark-bg-alpha-12: rgba(#1e1e2f, 0.12);

// Dark bg
$shadow-dark-background: #1e1e2f;
$shadow-dark-bg-darker-5: darken($shadow-dark-background, 5%);
$shadow-dark-bg-darker-10: darken($shadow-dark-background, 10%);
$shadow-dark-bg-darker-20: darken($shadow-dark-background, 20%);
$shadow-dark-bg-darker-30: darken($shadow-dark-background, 30%);
$shadow-dark-bg-lighter-5: lighten($shadow-dark-background, 5%);
$shadow-dark-bg-lighter-10: lighten($shadow-dark-background, 10%);
$shadow-dark-bg-lighter-20: lighten($shadow-dark-background, 20%);
$shadow-dark-bg-lighter-30: lighten($shadow-dark-background, 30%);
$shadow-light-bg-alpha-4: rgba(#fafafa, 0.04);
$shadow-light-bg-alpha-12: rgba(#fafafa, 0.12);

// Theme Config

// body {
//   --primary-color: #1d8cf8;
//   --primary-lighter-color: #bbddfd;
//   --primary-darker-color: #116ff5;
//   --text-primary-color: #{$shadow-light-primary-text};
//   --text-primary-lighter-color: #{$shadow-dark-primary-text};
//   --text-primary-darker-color: #{$shadow-light-primary-text};
// }
$shadow-dark-mat-primary: (
  main: #1d8cf8,
  lighter: #bbddfd,
  darker: #116ff5,
  200: #1d8cf8,
  // For slide toggle,
  contrast:
    (
      main: $shadow-light-primary-text,
      lighter: $shadow-dark-primary-text,
      darker: $shadow-light-primary-text,
    ),
);
$shadow-dark-primary-palette: mat-palette($shadow-dark-mat-primary, main, lighter, darker);

// body {
//   --accent-color: #0ce872;
//   --accent-lighter-color: #b6f8d5;
//   --accent-darker-color: #06de55;
//   --text-accent-color: #{$shadow-dark-primary-text};
//   --text-accent-lighter-color: #{$shadow-dark-primary-text};
//   --text-accent-darker-color: #{$shadow-dark-primary-text};
// }
$shadow-dark-mat-accent: (
  main: #0ce872,
  lighter: #b6f8d5,
  darker: #06de55,
  200: #0ce872,
  // For slide toggle,
  contrast:
    (
      main: $shadow-dark-primary-text,
      lighter: $shadow-dark-primary-text,
      darker: $shadow-dark-primary-text,
    ),
);
$shadow-dark-accent-palette: mat-palette($shadow-dark-mat-accent, main, lighter, darker);

// body {
//   --warn-color: #ee9402;
//   --warn-lighter-color: #fadfb3;
//   --warn-darker-color: #e77701;
//   --text-warn-color: #{$shadow-dark-primary-text};
//   --text-warn-lighter-color: #{$shadow-dark-primary-text};
//   --text-warn-darker-color: #{$shadow-dark-primary-text};
// }
$shadow-dark-mat-warn: (
  main: #ee9402,
  lighter: #fadfb3,
  darker: #e77701,
  200: #ee9402,
  // For slide toggle,
  contrast:
    (
      main: $shadow-dark-primary-text,
      lighter: $shadow-dark-primary-text,
      darker: $shadow-dark-primary-text,
    ),
);
$shadow-dark-warn-palette: mat-palette($shadow-dark-mat-warn, main, lighter, darker);

$shadow-light-theme: mat.define-light-theme(
  $shadow-dark-primary-palette,
  $shadow-dark-accent-palette,
  $shadow-dark-warn-palette
);
$shadow-dark-theme: mat.define-dark-theme(
  $shadow-dark-primary-palette,
  $shadow-dark-accent-palette,
  $shadow-dark-warn-palette
);

// Foreground Elements

$shadow-light-theme: theme-foreground-change($shadow-light-theme, 'base', black);
$shadow-light-theme: theme-foreground-change($shadow-light-theme, 'divider', $shadow-light-dividers);
$shadow-light-theme: theme-foreground-change($shadow-light-theme, 'dividers', $shadow-light-dividers);
$shadow-light-theme: theme-foreground-change($shadow-light-theme, 'disabled', $shadow-light-disabled-text);
$shadow-light-theme: theme-foreground-change($shadow-light-theme, 'disabled-button', rgba($shadow-light-text, 0.26));
$shadow-light-theme: theme-foreground-change($shadow-light-theme, 'disabled-text', $shadow-light-disabled-text);
$shadow-light-theme: theme-foreground-change($shadow-light-theme, 'elevation', black);
$shadow-light-theme: theme-foreground-change($shadow-light-theme, 'secondary-text', $shadow-light-accent-text);
$shadow-light-theme: theme-foreground-change($shadow-light-theme, 'hint-text', $shadow-light-disabled-text);
$shadow-light-theme: theme-foreground-change($shadow-light-theme, 'accent-text', $shadow-light-accent-text);
$shadow-light-theme: theme-foreground-change($shadow-light-theme, 'icon', $shadow-light-accent-text);
$shadow-light-theme: theme-foreground-change($shadow-light-theme, 'icons', $shadow-light-accent-text);
$shadow-light-theme: theme-foreground-change($shadow-light-theme, 'text', $shadow-light-primary-text);
$shadow-light-theme: theme-foreground-change($shadow-light-theme, 'slider-min', $shadow-light-primary-text);
$shadow-light-theme: theme-foreground-change($shadow-light-theme, 'slider-off', rgba($shadow-light-text, 0.26));
$shadow-light-theme: theme-foreground-change($shadow-light-theme, 'slider-off-active', $shadow-light-disabled-text);

$shadow-dark-theme: theme-foreground-change($shadow-dark-theme, 'base', $shadow-light-text);
$shadow-dark-theme: theme-foreground-change($shadow-dark-theme, 'divider', $shadow-light-dividers);
$shadow-dark-theme: theme-foreground-change($shadow-dark-theme, 'dividers', $shadow-light-dividers);
$shadow-dark-theme: theme-foreground-change($shadow-dark-theme, 'disabled', $shadow-light-disabled-text);
$shadow-dark-theme: theme-foreground-change($shadow-dark-theme, 'disabled-button', rgba($shadow-light-text, 0.3));
$shadow-dark-theme: theme-foreground-change($shadow-dark-theme, 'disabled-text', $shadow-light-disabled-text);
$shadow-dark-theme: theme-foreground-change($shadow-dark-theme, 'elevation', black);
$shadow-dark-theme: theme-foreground-change($shadow-dark-theme, 'hint-text', $shadow-light-disabled-text);
$shadow-dark-theme: theme-foreground-change($shadow-dark-theme, 'secondary-text', $shadow-light-accent-text);
$shadow-dark-theme: theme-foreground-change($shadow-dark-theme, 'accent-text', $shadow-light-accent-text);
$shadow-dark-theme: theme-foreground-change($shadow-dark-theme, 'icon', $shadow-light-text);
$shadow-dark-theme: theme-foreground-change($shadow-dark-theme, 'icons', $shadow-light-text);
$shadow-dark-theme: theme-foreground-change($shadow-dark-theme, 'text', $shadow-light-text);
$shadow-dark-theme: theme-foreground-change($shadow-dark-theme, 'slider-min', $shadow-light-text);
$shadow-dark-theme: theme-foreground-change($shadow-dark-theme, 'slider-off', rgba($shadow-light-text, 0.3));
$shadow-dark-theme: theme-foreground-change($shadow-dark-theme, 'slider-off-active', rgba($shadow-light-text, 0.3));

// Background config

$shadow-light-theme: theme-background-change($shadow-light-theme, 'background', $shadow-light-background);
$shadow-light-theme: theme-background-change($shadow-light-theme, 'status-bar', $shadow-light-bg-darker-20);
$shadow-light-theme: theme-background-change($shadow-light-theme, 'app-bar', $shadow-light-bg-darker-5);
$shadow-light-theme: theme-background-change($shadow-light-theme, 'hover', $shadow-dark-bg-alpha-4);
$shadow-light-theme: theme-background-change($shadow-light-theme, 'card', $shadow-light-bg-lighter-5);
$shadow-light-theme: theme-background-change($shadow-light-theme, 'dialog', $shadow-light-bg-lighter-5);
$shadow-light-theme: theme-background-change($shadow-light-theme, 'tooltip', $shadow-dark-bg-tooltip);
$shadow-light-theme: theme-background-change($shadow-light-theme, 'disabled-button', $shadow-dark-bg-alpha-12);
$shadow-light-theme: theme-background-change($shadow-light-theme, 'raised-button', $shadow-light-bg-lighter-5);
$shadow-light-theme: theme-background-change($shadow-light-theme, 'focused-button', $shadow-dark-focused);
$shadow-light-theme: theme-background-change($shadow-light-theme, 'selected-button', $shadow-light-bg-darker-20);
$shadow-light-theme: theme-background-change(
  $shadow-light-theme,
  'selected-disabled-button',
  $shadow-light-bg-darker-30
);
$shadow-light-theme: theme-background-change($shadow-light-theme, 'disabled-button-toggle', $shadow-light-bg-darker-10);
$shadow-light-theme: theme-background-change($shadow-light-theme, 'unselected-chip', $shadow-light-bg-darker-10);
$shadow-light-theme: theme-background-change($shadow-light-theme, 'disabled-list-option', $shadow-light-bg-darker-10);

$shadow-dark-theme: theme-background-change($shadow-dark-theme, 'background', $shadow-dark-background);
$shadow-dark-theme: theme-background-change($shadow-dark-theme, 'status-bar', $shadow-dark-bg-lighter-20);
$shadow-dark-theme: theme-background-change($shadow-dark-theme, 'app-bar', $shadow-dark-bg-lighter-5);
$shadow-dark-theme: theme-background-change($shadow-dark-theme, 'hover', $shadow-light-bg-alpha-4);
$shadow-dark-theme: theme-background-change($shadow-dark-theme, 'card', $shadow-dark-bg-lighter-5);
$shadow-dark-theme: theme-background-change($shadow-dark-theme, 'dialog', $shadow-dark-bg-lighter-5);
$shadow-dark-theme: theme-background-change($shadow-dark-theme, 'tooltip', $shadow-dark-bg-lighter-20);
$shadow-dark-theme: theme-background-change($shadow-dark-theme, 'disabled-button', $shadow-light-bg-alpha-12);
$shadow-dark-theme: theme-background-change($shadow-dark-theme, 'raised-button', $shadow-dark-bg-lighter-5);
$shadow-dark-theme: theme-background-change($shadow-dark-theme, 'focused-button', $shadow-light-focused);
$shadow-dark-theme: theme-background-change($shadow-dark-theme, 'selected-button', $shadow-dark-bg-lighter-20);
$shadow-dark-theme: theme-background-change($shadow-dark-theme, 'selected-disabled-button', $shadow-dark-bg-lighter-30);
$shadow-dark-theme: theme-background-change($shadow-dark-theme, 'disabled-button-toggle', $shadow-dark-bg-lighter-10);
$shadow-dark-theme: theme-background-change($shadow-dark-theme, 'unselected-chip', $shadow-dark-bg-lighter-20);
$shadow-dark-theme: theme-background-change($shadow-dark-theme, 'disabled-list-option', $shadow-dark-bg-lighter-10);
