$is-roboto-loaded: true;
$branding-background-image: '/assets/phaneros.png' !default;
$branding-logo: '/assets/svg/phaneros_dark.svg' !default;

$danger: #bc204b !default;
$danger-opposite: #fff; //WGAC AA compliant
$warn: #ffca1c;
$warn-opposite: #1b1400; //WGAC AAA compliant
$success: #22b24b;
$success-opposite: #000000; //WGAC AAA compliant
$info: #489bd5;
$info-opposite: #ffffff; // Not showing as WGAG compliant
$message-unread: #fff6ec !default;
$button-lowlight: #a1d0e6;
$expanded-menu-bg: rgba(0, 0, 0, 0.04) !default;
$file-word: #00a2ed;
$file-powerpoint: #d04423;
$file-excel: #1d6f42;
$file-pdf: #f40f02;

$mat-table-row-highlight-background: whitesmoke !default;
$mat-table-row-highlight-dark-border: white !default;
$mat-checkbox-background-light: white !default;
$mat-checkbox-background-dark: #f2f2f2 !default;
$contrast-font-color: black !default;
$contrast-background-color: white !default;
$input-background: white !default;

// Any variables you need to pass in to the component theme mixins set in here.
$theme-variables: (
  'message-unread': $message-unread,
  'contrast-font-color': $contrast-font-color,
  'contrast-background-color': $contrast-background-color,
  'button-lowlight': $button-lowlight,
  'input-background': $input-background,
);

$positive-colours: (
  '1': (
    'colour': #009a44,
    'opposite': #ffffff,
  ),
  '2': (
    'colour': #43b02a,
    'opposite': #ffffff,
  ),
  '3': (
    'colour': #7bae1c,
    'opposite': #ffffff,
  ),
  '4': (
    'colour': #b2ac0e,
    'opposite': #ffffff,
  ),
  '5': (
    'colour': #eaaa00,
    'opposite': #ffffff,
  ),
) !default;

$neutral-colours: (
  '1': (
    'colour': #00338d,
    'opposite': #ffffff,
  ),
  '2': (
    'colour': #005eb8,
    'opposite': #ffffff,
  ),
  '3': (
    'colour': #0091da,
    'opposite': #ffffff,
  ),
  '4': (
    'colour': #00a3a1,
    'opposite': #ffffff,
  ),
  '5': (
    'colour': #c6007e,
    'opposite': #ffffff,
  ),
  '6': (
    'colour': #6d2077,
    'opposite': #ffffff,
  ),
  '7': (
    'colour': #470a68,
    'opposite': #ffffff,
  ),
) !default;

$negative-colours: (
  '1': (
    'colour': #bc204b,
    'opposite': #ffffff,
  ),
  '2': (
    'colour': #cb3b44,
    'opposite': #ffffff,
  ),
  '3': (
    'colour': #d9573d,
    'opposite': #ffffff,
  ),
  '4': (
    'colour': #d9573d,
    'opposite': #ffffff,
  ),
  '5': (
    'colour': #f68d2e,
    'opposite': #ffffff,
  ),
) !default;
