@use '@angular/material' as mat;
@import 'variables';

// variable overrides
$branding-background-image: '/assets/phaneros-dark.png';
$branding-logo: '/assets/svg/phaneros.svg';
$expanded-menu-bg: rgba(255, 255, 255, 0.04);
$message-unread: #616161;
$contrast-background-color: #27293d;
$contrast-font-color: rgba(255, 255, 255, 0.8);

@import 'themes';
@import 'themes-shadow';
@import 'components';
@import 'styles';
@import 'shadow-theme';
@import 'ej2-inputs/styles/material-dark.scss';

@include mat.core($shadow-typography);
@include mat.all-component-colors($shadow-dark-theme);
@include component-themes($shadow-dark-theme, $shadow-typography, $theme-variables);
@include syncfusion-theme();

@include shadow-theme($shadow-dark-theme, $shadow-typography);
