@use '@angular/material' as mat;
@import 'variables';

// variable overrides
$branding-background-image: '/assets/phaneros-dark.png';
$branding-logo: '/assets/svg/phaneros.svg';
$expanded-menu-bg: rgba(255, 255, 255, 0.04);

@import 'themes';
@import 'components';
@import 'styles';
@import 'node_modules/@syncfusion/ej2-inputs/styles/material-dark.scss';

@include mat.core($vanilla-typography);
@include mat.all-component-colors($vanilla-dark-theme);
@include component-themes($vanilla-dark-theme, $vanilla-typography, $theme-variables);
@include syncfusion-theme();
