@use '@angular/material' as mat;

@mixin header-bar-color($color, $variables) {
  $foreground: map-get($color, 'foreground');
  $foreground-color: mat.get-color-from-palette($foreground, 'icon');

  .header-logo { fill: $foreground-color;}
}

@mixin header-bar-typography($typography, $variables) {
}

@mixin header-bar-theme($color, $typography, $variables) {
  @include header-bar-color($color, $variables);
  @include header-bar-typography($typography, $variables);
}
