<svg
  class="header-logo"
  version="1.1"
  id="Layer_1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  x="0px"
  y="0px"
  viewBox="0 0 180 13"
  style="width: 230px; height: 18px; max-width: 90vw"
  xml:space="preserve"
>
  <g>
    <g>
      <path
        d="M17.2,0.3h6.8c1.7,0,2.8,0.4,3.6,1.2c0.5,0.5,0.8,1.2,0.8,2.1v0c0,1.5-0.9,2.4-2,2.9C27.9,7.1,29,8,29,9.8v0
  c0,2.3-1.8,3.6-5,3.6h-6.8V0.3z M23,5.5c1.1,0,1.7-0.4,1.7-1.1v0c0-0.7-0.6-1.1-1.7-1.1h-2.4v2.3H23z M23.6,10.5
  c1.1,0,1.8-0.4,1.8-1.2v0c0-0.7-0.6-1.2-1.8-1.2h-2.8v2.4H23.6z"
      ></path>
      <path d="M30.6,0.3h3.7v10h6.4v3.2h-10V0.3z"></path>
      <path d="M46.8,0.2h3.5l5.6,13.3H52l-1-2.4H46L45,13.4h-3.8L46.8,0.2z M50,8.2l-1.5-3.7L47,8.2H50z"></path>
      <path
        d="M55.9,6.9L55.9,6.9c0-3.9,3-6.9,6.9-6.9c2.7,0,4.4,1.1,5.6,2.7l-2.7,2.1c-0.8-0.9-1.6-1.5-2.9-1.5
  c-1.8,0-3.1,1.6-3.1,3.5v0c0,2,1.3,3.5,3.1,3.5c1.4,0,2.2-0.6,3-1.6l2.7,2c-1.2,1.7-2.9,3-5.8,3C58.9,13.7,55.9,10.8,55.9,6.9z"
      ></path>
      <path d="M70.1,0.3h3.7v5.3l4.5-5.3h4.3l-5,5.7l5.2,7.5h-4.4l-3.3-4.9L73.8,10v3.4h-3.7V0.3z"></path>
      <path
        d="M94.2,13.4L90,8h-4.3v5.5h-1V0.3h5.5c2.8,0,4.7,1.5,4.7,3.7v0c0,2.2-1.6,3.5-3.9,3.8l4.4,5.6H94.2z M93.9,4
  c0-1.8-1.4-2.9-3.8-2.9h-4.5v5.9h4.4C92.3,7.1,93.9,6,93.9,4L93.9,4z"
      ></path>
      <path
        d="M109.3,13.4l-1.7-3.7h-7.8l-1.7,3.7h-1l6.1-13.3h0.9l6.1,13.3H109.3z M103.7,1.2l-3.5,7.6h6.9L103.7,1.2z"
      ></path>
      <path d="M113.3,13.4V0.3h1v13.2H113.3z"></path>
      <path d="M128.5,13.4l-9.3-11.7v11.7h-0.9V0.3h0.9l9.1,11.5V0.3h0.9v13.2H128.5z"></path>
      <path
        d="M138.9,13.4h-5.7V0.3h5.4c2.6,0,4.3,1.3,4.3,3.2v0c0,1.8-1.2,2.7-2.2,3.1c1.6,0.4,3,1.3,3,3.1v0
  C143.7,12.1,141.8,13.4,138.9,13.4z M141.9,3.6c0-1.5-1.2-2.4-3.3-2.4h-4.4v5.2h4.4C140.5,6.3,141.9,5.4,141.9,3.6L141.9,3.6z
   M142.7,9.8c0-1.6-1.4-2.6-4-2.6h-4.5v5.3h4.8C141.2,12.5,142.7,11.5,142.7,9.8L142.7,9.8z"
      ></path>
      <path
        d="M152.8,13.7c-4,0-6.6-3.2-6.6-6.8v0c0-3.6,2.7-6.8,6.6-6.8c4,0,6.6,3.2,6.6,6.8c0,0,0,0,0,0
  C159.5,10.5,156.8,13.7,152.8,13.7z M158.5,6.9c0-3.3-2.4-5.9-5.6-5.9c-3.3,0-5.6,2.6-5.6,5.9v0c0,3.3,2.4,5.9,5.6,5.9
  C156.1,12.8,158.5,10.2,158.5,6.9L158.5,6.9z"
      ></path>
      <path
        d="M175.2,13.5h-0.8l-3.9-11.4l-3.9,11.4h-0.8l-4.8-13.3h1.1l4.1,11.7l3.9-11.8h0.8l3.9,11.8L179,0.3h1
  L175.2,13.5z"
      ></path>
    </g>
    <g>
      <path d="M0,4v2.9c3.8,0,6.9,3.1,6.9,6.9h2.9C9.7,8.3,5.4,4,0,4z"></path>
      <path d="M0,8v2.9c1.6,0,2.9,1.3,2.9,2.9h2.9C5.7,10.6,3.2,8,0,8z"></path>
      <path d="M0,0v2.9c6,0,10.9,4.9,10.9,10.9h2.9C13.7,6.1,7.6,0,0,0z"></path>
    </g>
  </g>
</svg>
<section class="header-profile">
  <button type="button" (click)="openProfileDialog()">
    <ni-profile-picture
      [blobId]="userProfile?.thumbnailBlobId"
      [initials]="userProfile?.initials"
      [size]="'medium'"
      [title]="userProfile?.fullName"
    ></ni-profile-picture>
  </button>
</section>
