:host {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
}

.header-logo {
  margin-left: 30px;
}

.header-profile {

  button {
    background: 0;
    border: 0;
    cursor: pointer;
    padding: 0;
  }
}
