<div #dropArea class="droparea uploader-type" id="dropArea">
  <button
    *ngIf="!readonly"
    type="button"
    mat-raised-button
    color="primary"
    #browse
    (click)="onBrowseClick()"
    [attr.aria-label]="ariaLabel"
  >
    Browse...
  </button>
  <span *ngIf="!readonly" class="drop-text"> Or drop {{ multiple ? 'files' : 'a file' }} here</span>
  <div class="file-list-wrapper" *ngIf="filesDetails">
    <ul class="file-list">
      <li class="file-list-item" *ngFor="let file of metaDataAttachments">
        <div class="file-info file-info--meta-data">
          <span class="file-name" [title]="file.Description">{{ file.Description }}</span>
        </div>
        <div class="file-actions">
          <button
            *ngIf="enableDownload && file.AttachmentId"
            type="button"
            mat-icon-button
            (click)="downloadAttachment(file.AttachmentId)"
            niAnnounce
            [message]="'Download button for ' + file.Description"
          >
            <mat-icon>file_download</mat-icon>
          </button>

          <button
            *ngIf="enableDelete"
            type="button"
            mat-icon-button
            (click)="removeMetaData(file.AttachmentId)"
            niAnnounce
            [message]="'Delete button for ' + file.Description"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </li>

      <li class="file-list-item" *ngFor="let file of filesDetails" #filelist>
        <div class="file-info">
          <span class="file-name" title="{{ file.info.name }}">{{ file.info.name }}</span>
          <span *ngIf="file.info.size">{{ uploader.bytesToSize(file.info.size) }}</span>
        </div>

        <div class="file-progresss">
          <div *ngIf="!file.error">{{ file.combining === true ? 'Processing upload...' : file.info.status }}</div>
          <div *ngIf="file.error" class="error">{{ file.error }}</div>
          <div class="progress-wrapper" *ngIf="file.progress < 100">
            <mat-progress-bar mode="determinate" [value]="file.progress"></mat-progress-bar>
          </div>
        </div>
        <img
          *ngIf="includeThumbnail && file.thumbnailId"
          [src]="file.thumbnailId | blobView"
          alt="Thumbnail"
          width="60"
        />
        <div class="file-actions">
          <button
            *ngIf="enableDownload && file.attachmentId"
            type="button"
            mat-icon-button
            (click)="downloadAttachment(file.attachmentId)"
            niAnnounce
            [message]="'Download button for ' + file.info.name"
          >
            <mat-icon>file_download</mat-icon>
          </button>

          <button
            *ngIf="enableDelete"
            type="button"
            mat-icon-button
            (click)="removeFiles(file)"
            niAnnounce
            [message]="'Delete button for ' + file.info.name"
          >
            <mat-icon>delete</mat-icon>
          </button>

          <button
            *ngIf="canRetry(file)"
            type="button"
            mat-icon-button
            (click)="retry(file)"
            niAnnounce
            [message]="'Retry upload of ' + file.info.name"
          >
            <mat-icon>refresh</mat-icon>
          </button>

          <button
            *ngIf="file.progress < 100 && !file.error && !file.paused"
            type="button"
            mat-icon-button
            (click)="pause(file)"
            niAnnounce
            [message]="'Pause upload of ' + file.info.name"
          >
            <mat-icon>pause</mat-icon>
          </button>

          <button
            *ngIf="file.progress < 100 && !file.error && file.paused"
            type="button"
            mat-icon-button
            (click)="resume(file)"
            niAnnounce
            [message]="'Resume upload of ' + file.info.name"
          >
            <mat-icon>play_arrow</mat-icon>
          </button>
        </div>

        <div *ngIf="file.fileId && showFileIdAfterUpload" class="file-id-copy">
          File Id: {{ file.fileId }}
          <button type="button" mat-icon-button niCopyToClipboard [text]="file.fileId" title="Copy File Id">
            <mat-icon>content_copy</mat-icon>
          </button>
        </div>
      </li>
    </ul>
  </div>
  <ejs-uploader
    #uploader
    id="uploader"
    [dropArea]="dropArea"
    [asyncSettings]="asyncSettings"
    [autoUpload]="autoUpload"
    [maxFileSize]="maxFileSize"
    [minFileSize]="minFileSize"
    [multiple]="multiple"
    [sequentialUpload]="sequentialUpload"
    [showFileList]="true"
    [allowedExtensions]="allowedExtensions"
    (progress)="onFileUpload($event)"
    (selected)="onFileSelect($event)"
    (removing)="onFileRemove($event)"
    (failure)="onUploadFailed($event)"
    (success)="onUploadSuccess($event)"
    (uploading)="onUploading($event)"
    (chunkUploading)="onChunkUploading($event)"
    (removing)="onRemoving($event)"
    (created)="onUploaderCreated()"
  >
  </ejs-uploader>
</div>
