#uploader {
  display: none;
}

.droparea {
  border: 1px solid;
  border-radius: 0.3rem;
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 15px;
}

.drop-text {
  display: inline-block;
  margin-left: 1rem;
}

.file-list-wrapper {
  margin: 1rem 0;

  .file-list {
    list-style: none;
    margin: 0;
    padding: 0;

    .file-list-item {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 1rem 0;
      border-top: 1px solid;

      .file-progresss {
        flex-grow: 1;
        padding: 0 1rem;

        .progress-wrapper {
          height: 1rem;
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }

      .file-info {
        width: 30%;
        display: flex;
        flex-direction: column;

        .file-name {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .file-info--meta-data {
        width: auto;
        flex-grow: 1;
      }

      .file-actions {
        min-width: 3rem;
        flex-grow: 1;
        text-align: right;
      }
    }
  }
}

.file-id-copy {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .mat-icon {
    cursor: pointer;
  }
}
