<ni-page title="Theme Gallery">
  <h1 class="section-header">Headings</h1>
  <h1>h1</h1>
  <h2>h2</h2>
  <h3>h3</h3>
  <hr />

  <h1 class="section-header">Alerts</h1>
  <div class="alert-danger">alert-danger</div>
  <div class="alert-warning">alert-warning</div>
  <div class="alert-success">alert-success</div>
  <div class="alert-info">alert-info</div>
  <hr />

  <h1 class="section-header">Messaging</h1>
  <div>
    <button mat-raised-button (click)="openDialog('OK Dialog', 'This is an OK dialog', DialogType.OK)">
      OK Dialog
    </button>
    <button
      mat-raised-button
      (click)="openDialog('OK Cancel Dialog', 'This is an OK/Cancel dialog', DialogType.OKCancel)"
    >
      OK Cancel Dialog
    </button>
    <button mat-raised-button (click)="openDialog('Cancel Dialog', 'This is a Cancel dialog', DialogType.Cancel)">
      Cancel Dialog
    </button>
  </div>
  <hr />
  <div>
    <button mat-raised-button (click)="openSnack(SnackMessageType.Error, 'This is an error snackbar message')">
      Snackbar - Error
    </button>
    <button mat-raised-button (click)="openSnack(SnackMessageType.Info, 'This is an info snackbar message')">
      Snackbar - Info
    </button>
    <button mat-raised-button (click)="openSnack(SnackMessageType.Warn, 'This is a warn snackbar message')">
      Snackbar - Warn
    </button>
  </div>
  <hr />

  <h1 class="section-header">Badge & Constant Colour Classes</h1>
  <div>
    <ni-badge cssClass="c-pos-1" text="c-pos-1"> </ni-badge>
    <ni-badge cssClass="c-pos-2" text="c-pos-2"> </ni-badge>
    <ni-badge cssClass="c-pos-3" text="c-pos-3"> </ni-badge>
    <ni-badge cssClass="c-pos-4" text="c-pos-4"> </ni-badge>
    <ni-badge cssClass="c-pos-5" text="c-pos-5"> </ni-badge>
  </div>
  <div>
    <ni-badge cssClass="c-neg-1" text="c-neg-1"> </ni-badge>
    <ni-badge cssClass="c-neg-2" text="c-neg-2"> </ni-badge>
    <ni-badge cssClass="c-neg-3" text="c-neg-3"> </ni-badge>
    <ni-badge cssClass="c-neg-4" text="c-neg-4"> </ni-badge>
    <ni-badge cssClass="c-neg-5" text="c-neg-5"> </ni-badge>
  </div>
  <div>
    <ni-badge cssClass="c-neu-1" text="c-neu-1"> </ni-badge>
    <ni-badge cssClass="c-neu-2" text="c-neu-2"> </ni-badge>
    <ni-badge cssClass="c-neu-3" text="c-neu-3"> </ni-badge>
    <ni-badge cssClass="c-neu-4" text="c-neu-4"> </ni-badge>
    <ni-badge cssClass="c-neu-5" text="c-neu-5"> </ni-badge>
    <ni-badge cssClass="c-neu-6" text="c-neu-6"> </ni-badge>
    <ni-badge cssClass="c-neu-7" text="c-neu-7"> </ni-badge>
  </div>
  <hr />

  <h1 class="section-header">Icons</h1>
  <h2>Material</h2>
  <div>
    <mat-icon icon="account_circle"></mat-icon>
    <mat-icon icon="alarm_on"></mat-icon>
    <mat-icon icon="refresh"></mat-icon>
  </div>
  <hr />
  <h2>Font Awesome</h2>
  <div>
    <mat-icon icon="fas fa-dove"></mat-icon>
    <mat-icon icon="fas fa-copy"></mat-icon>
    <mat-icon icon="fas fa-charging-station"></mat-icon>
  </div>
  <hr />
  <h2>Nimbus</h2>
  <div>
    <mat-icon *ngFor="let icon of niIcons" [icon]="icon" title="{{ icon }}"></mat-icon>
  </div>
  <hr />

  <h1 class="section-header">Loading</h1>
  <button mat-raised-button (click)="showLoading()">Loading</button>
  <hr />

  <h1 class="section-header">Profile Picture</h1>
  <ni-profile-picture blobId="611e801baa3469c834709d1c"> </ni-profile-picture>
  <ni-profile-picture initials="RG"> </ni-profile-picture>
  <hr />

  <h1 class="section-header">Buttons</h1>
  <h2>Basic</h2>
  <button mat-button>Basic</button>
  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>
  <button mat-button disabled>Disabled</button>
  <hr />
  <h2>Raised</h2>
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <hr />
  <h2>Flat</h2>
  <button mat-flat-button>Basic</button>
  <button mat-flat-button color="primary">Primary</button>
  <button mat-flat-button color="accent">Accent</button>
  <button mat-flat-button color="warn">Warn</button>
  <button mat-flat-button disabled>Disabled</button>
  <hr />
  <h2>Stroked</h2>
  <button mat-stroked-button>Basic</button>
  <button mat-stroked-button color="primary">Primary</button>
  <button mat-stroked-button color="accent">Accent</button>
  <button mat-stroked-button color="warn">Warn</button>
  <button mat-stroked-button disabled>Disabled</button>
  <hr />

  <ni-form [definition]="definition" [model]="model" [context]="context" [disableDebug]="true"> </ni-form>
</ni-page>
