<div class="entity-media-item">
  <mat-card>
    <div>
      <div class="entity-media-item-thumbnail">
        <div
          ni-format
          [dataType]="DataType.blobView"
          [value]="item.thumbnailBlobId"
          (click)="onImageClick(item, $event)"
          class="clickable thumbnail-wrapper"
        ></div>
        <mat-checkbox
          *ngIf="selectMode !== 'none'"
          (change)="itemClicked(item)"
          (click)="$event.stopPropagation()"
          [checked]="isItemChecked(item)"
        >
        </mat-checkbox>
      </div>
      <h3 class="entity-break-all">
        <strong>{{ item.fileName }}</strong>
      </h3>
      <p class="entity-break-all">{{ item.description }}</p>
      <p>{{ item.creationDate | toDateRelative }}</p>
      <p>{{ item.createdByFullName }}</p>
    </div>
    <p
      class="entity-media-item-linked"
      ni-format
      [dataType]="14"
      [value]="{ icon: linkedEntity.icon, text: linkedEntity.text, enableDefault: true }"
    ></p>
  </mat-card>
</div>
