.entity-media-item {
  box-sizing: border-box;
  height: 100%;

  .mat-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
    justify-content: space-between;
    height: 100%;
  }

  .entity-media-item-thumbnail {
    position: relative;

    .mat-checkbox {
      position: absolute;
      top: 0;
      right: 0;
    }

    .image-wrapper {
      width: 100%;
      margin: 0;
    }

    .thumbnail-wrapper {
      display: flex;
      justify-content: center;
    }
  }

  h3 {
    margin: 12px 0;
  }

  p {
    margin: 0;

    ~ p {
      margin-top: 4px;
    }
  }

  .entity-media-item-linked {
    margin-top: 12px;
  }
  .entity-break-all {
    line-height: 1;
    word-break: break-all;
  }
}

.clickable {
  cursor: pointer;
}
