@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin app-component-color($color, $variables) {
  $foreground: map-get($color, foreground);
  $foreground-color: mat.get-color-from-palette($foreground, 'icon');

  .menu-logo {
    fill: $foreground-color;
  }
  .menu-header-link:hover {
    background-color: rgba(250, 250, 250, 0.04);
  }
}

@mixin app-component-typography($typography, $variables) {
}

@mixin app-component-theme($color, $typography, $variables) {
  @include app-component-color($color, $variables);
  @include app-component-typography($typography, $variables);
}
