:host {
  display: block;
  overflow: hidden;
  height: 100%;
}

.page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mat-drawer-inner-container {
  display: flex;
}

.menu-wrapper {
  height: 100%;
  background: linear-gradient(#0148a4, #1e8df9);
  flex-grow: 1;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 23px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;

  footer {
    width: 254px;
  }

  hr {
    width: 100%;
    margin: 9px 0 2px 0;
  }

  .menu-header {
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
  }

  .menu-header-link {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 48px;
    flex-grow: 1;
  }

  .menu-header-text {
    font-size: 18px;
    margin-left: 15px;
    flex-grow: 1;
  }

  .pinned {
    cursor: pointer;
  }

  .menu-body {
    flex-grow: 1;
  }
}

.mat-sidenav-container {
  height: calc(100% - 70px);
  background-color: transparent;
}

.mat-sidenav-content {
  margin-left: 100px;
}

.no-toolbars {
  .mat-sidenav-content {
    margin-left: 0;
  }
  .content {
    padding: 0;
  }
  .mat-sidenav-container {
    height: 100%;
  }
}

.mat-sidenav {
  padding-left: 30px;
  transform: none !important;
  visibility: visible !important;
  display: block !important;
  background-color: transparent;
}

.mat-icon {
  flex-shrink: 0;
}

.header-logo,
.menu-logo {
}

.header-logo {
  margin-left: 30px;
}

.main-header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  padding: 0 30px 30px;
}

.profile {
  width: 55px;
  height: 55px;
  border-radius: 55px;
  margin-right: 55px;
}

formly-form:not([style*="display: none"]),
formly-group:not([style*="display: none"]),
formly-field:not([style*="display: none"]):not(.item-field-margin) {
  display: contents !important;

  &.block {

    > * {
      display: block;
    }
  }

  &.margin-top-1 {

    > * {
      margin-top: 1rem;
    }
  }

  &.margin-top-2 {

    > * {
      margin-top: 2rem;
    }
  }
}

.content-wrapper {
  height: 100%;
}

.content-fit {
  &,
  .content-fit-item,
  .content-fit-item-block > ni-grid-wrapper,
  .content-fit-item-block > ni-grid-wrapper > .grid-wrapper,
  .content-fit-item > ni-flex-wrapper > .flex-wrapper,
  .content-fit-item-block,
  .mat-card-content {
    height: 100%;
  }
  .content-fit-item-block > ni-grid-wrapper,
  .content-fit-item-block {
    display: block;
  }

  .content-wrapper {
    min-height: 840px;
  }

  .margin-top-2 > * {
    height: calc(100% - 32px);
  }
}

.page-stepper {
  padding-bottom: 0;

  .content {
    min-height: 100%;
    padding: 0;

    display: flex;
    flex-direction: column;
  }

  ni-grid-wrapper {
    flex: 1;
  }

  ni-dynamic-route,
  ni-form,
  form {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
