<div class="form-gallery-wrapper" [id]="props['id']" [ngClass]="{ grouped: props['grouped'] }">
  <div class="form-gallery-options">
    <h2>
      <span>{{ props['title'] }}</span>
    </h2>
    <div>
      <button
        (click)="viewComponent($event)"
        class="mat-icon-button"
        [ngClass]="{ active: active === 'component' }"
        aria-label="Visibility"
      >
        <mat-icon icon="visibility"></mat-icon>
      </button>
      <button
        (click)="viewJSON($event)"
        class="mat-icon-button"
        [ngClass]="{ active: active === 'json' }"
        aria-label="View JSON"
      >
        <mat-icon icon="code"></mat-icon>
      </button>
      <button
        (click)="viewDoc($event)"
        class="mat-icon-button"
        [ngClass]="{ active: active === 'doc' }"
        aria-label="View Doc"
      >
        <mat-icon icon="settings"></mat-icon>
      </button>
    </div>
  </div>

  <div [hidden]="active !== 'component'">
    <ng-container #fieldComponent></ng-container>
  </div>

  <div [hidden]="active !== 'json'">
    <div class="form-gallery-json">
      <button *ngIf="codeObject | json as text" (click)="copyToClipboard($event, text)" class="mat-icon-button">
        <mat-icon icon="content_copy"></mat-icon>
      </button>
      <pre>{{ codeObject | json }}</pre>
    </div>
  </div>

  <div [hidden]="active !== 'doc'">
    <div [innerHTML]="props['doc']" class="form-gallery-api"></div>
  </div>
</div>
