:host {
  display: block;
  margin-top: 2em;
}

.form-gallery-wrapper:not(.grouped) {
  border-radius: 4px;
  padding: 0.5em 1em 1em;
}

.form-gallery-wrapper {
  &.grouped {
    padding-top: 0.5em;
  }
  h2 {
    margin: 0;
    line-height: 1;
  }
}

.form-gallery-json {
  border-radius: 4px;
  padding: 1em;
  margin: 0;
  position: relative;

  pre {
    margin: 0;
    word-break: break-all;
    white-space: pre-wrap;
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

::ng-deep .form-gallery-api pre {
  border-radius: 4px;
  margin: 0;
  padding: 1rem;
}

.form-gallery-options {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .mat-icon-button:not(.active) {
    opacity: 0.3;
  }
}
