<ng-container *ngIf="pips && pips.length > 1">
  <ng-container *ngFor="let pip of pips; let i = index">
    <button mat-icon-button (click)="handlePipClick(i)">
      <mat-icon class="pip" icon="fa-solid fa-circle" [class.active]="i == currIndex" color="primary"></mat-icon>
    </button>
  </ng-container>
</ng-container>
