@use '@angular/material' as mat;

@mixin binary-size-color($color, $variables) {
  $primary-color: mat.get-color-from-palette(map-get($color, primary));
  ni-binary-size {
    .mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
    .mat-button-toggle-group-appearance-standard {
      border-radius: 0 4px 4px 0;
      border-left-style: none;
    }

    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
      padding: 0 12px;
    }

    .mat-button-toggle-label-content {
      line-height: 46px;
    }

    .mat-form-field-outline-end {
      border-radius: 0 0 0 0;
      border-left-style: none;
      flex-grow: 1;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline-end {
      border-radius: 0 0 0 0;
      border-left-style: none;
      flex-grow: 1;
    }
  }
}

@mixin binary-size-typography($typography, $variables) {
}

@mixin binary-size-theme($color, $typography, $variables) {
  @include binary-size-color($color, $variables);
  @include binary-size-typography($typography, $variables);
}
