@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin chart-line-color($color, $variables) {
  $accent-color: mat.get-color-from-palette(map-get($color, accent));
  $text-color: map-get(map-get($color, foreground), text);

  .chart-line {
    &.themed-title {
      text[id*='_ChartTitle'] {
        fill: $accent-color;
      }
      text[id*='_AxisTitle_'] {
        fill: $accent-color;
      }
    }

    &.themed-labels {
      text[id*='_AxisLabel_'] {
        fill: $text-color;
      }
    }
  }
}

@mixin chart-line-typography($typography, $variables) {
}

@mixin chart-line-theme($color, $typography, $variables) {
  @include chart-line-color($color, $variables);
  @include chart-line-typography($typography, $variables);
}
