@use '@angular/material' as mat;

@mixin custom-stepper-color($color, $variables) {
  $primary: map-get($color, primary);

  $active-icon-color: mat.get-color-from-palette(map-get($color, primary));
  $active-font-color: mat.get-color-from-palette($primary, default-contrast);

  .step-icon {
    background-color: $active-icon-color;
    color: $active-font-color;
  }
}

@mixin custom-stepper-typography($config, $variables) {
}

@mixin custom-stepper-theme($color, $typography, $variables) {
  @include custom-stepper-color($color, $variables);
  @include custom-stepper-typography($typography, $variables);
}
