@use '@angular/material' as mat;

@mixin downloader-color($color, $variables) {
  $primary-color: mat.get-color-from-palette(map-get($color, primary));
  $foreground: map-get($color, foreground);
  $is-dark-theme: map-get($color, is-dark);
  $border-color: mat.get-color-from-palette($foreground, divider, if($is-dark-theme, 0.3, 0.12));
  $contrast-background-color: map-get($variables, 'contrast-background-color');
  $contrast-font-color: map-get($variables, 'contrast-font-color');

  .attachment-download {
    background: $contrast-background-color;
    color: $contrast-font-color;
    border: 1px solid $border-color;
    .download-icon {
      color: $primary-color;
    }
    .mat-icon:not(.download-icon) {
      color: rgba(0, 0, 0, 0.5) !important;
      &.fa-file-word {
        color: $file-word !important;
      }

      &.fa-file-powerpoint {
        color: $file-powerpoint !important;
      }

      &.fa-file-excel {
        color: $file-excel !important;
      }

      &.fa-file-pdf {
        color: $file-pdf !important;
      }
    }
  }
}

@mixin downloader-typography($config, $variables) {
}

@mixin downloader-theme($color, $typography, $variables) {
  @include downloader-color($color, $variables);
  @include downloader-typography($typography, $variables);
}
