@use '@angular/material' as mat;

@mixin entity-table-color($color, $variables) {
  $is-dark-theme: map-get($color, is-dark);
  $foreground: map-get($color, foreground);
  $divider: mat.get-color-from-palette($foreground, divider);
  $disabled-text: mat.get-color-from-palette($foreground, disabled-text);

  .entity-table {
    @if ($is-dark-theme) {
      td.mat-cell {
        border-top: 1px solid transparent;
        border-bottom: 1px solid $divider;
      }
      .mat-row:hover td.mat-cell {
        border-top: 1px solid $mat-table-row-highlight-dark-border;
        border-bottom: 1px solid $mat-table-row-highlight-dark-border;
      }
      .mat-row:hover {
        background: transparent;
      }
    } @else {
      .mat-row:hover {
        background: $mat-table-row-highlight-background;
      }
    }

    .placeholder {
      color: $disabled-text;
    }
  }
}

@mixin entity-table-typography($typography, $variables) {
}

@mixin entity-table-theme($color, $typography, $variables) {
  @include entity-table-color($color, $variables);
  @include entity-table-typography($typography, $variables);
}
