@use '@angular/material' as mat;

@mixin entity-add-color($color, $variables) {
  $background: map-get($color, background);
  $card: mat.get-color-from-palette($background, card);

  .entity-add {

    .entities {

      button {
        color: lighten($card, 25%);
      }

      button:hover {
        color: lighten($card, 20%);
      }
    }
  }
}

@mixin entity-add-typography($typography, $variables) {
}

@mixin entity-add-theme($color, $typography, $variables) {
  @include entity-add-color($color, $variables);
  @include entity-add-typography($typography, $variables);
}
