@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin entity-breadcrumbs-color($color, $variables) {
  $primary-color: mat.get-color-from-palette(map-get($color, primary));
  $is-dark-theme: map-get($color, is-dark);

  .entity-breadcrumbs {
    li:not(.last-item) {
      opacity: 0.66;
    }

    @if ($is-dark-theme) {
      .last-item {
        color: white;
      }
    } @else {
      .last-item {
        color: #333;
      }
    }
  }
}

@mixin entity-breadcrumbs-typography($typography, $variables) {
}

@mixin entity-breadcrumbs-theme($color, $typography, $variables) {
  @include entity-breadcrumbs-color($color, $variables);
  @include entity-breadcrumbs-typography($typography, $variables);
}
