@mixin format-color($color, $variables) {
  $message-unread: map-get($variables, 'message-unread');
  .ni-format-message {
    color: darken($message-unread, 20%);
  }
}

@mixin format-typography($typography, $variables) {
}

@mixin format-theme($color, $typography, $variables) {
  @include format-color($color, $variables);
  @include format-typography($typography, $variables);
}
