@use '@angular/material' as mat;

@mixin icon-text-color($color, $variables) {
  $primary: mat.get-color-from-palette(map-get($color, primary));
  $secondary: mat.get-color-from-palette(map-get($color, accent));
  $divider: mat.get-color-from-palette(map-get($color, foreground), divider);

  .icon-text.active {
    color: $secondary;
  }
}

@mixin icon-text-typography($config, $variables) {

  .icon-text {

    .label {
      font-size: 12px;
    }

    .text {
      font-size: 14px;
    }

    .count {
      font-size: 18px;
    }
  }
}

@mixin icon-text-theme($color, $typography, $variables) {
  @include icon-text-color($color, $variables);
  @include icon-text-typography($typography, $variables);
}
