@use '@angular/material' as mat;

@mixin page-stepper-color($color, $variables) {
  $primary: mat.get-color-from-palette(map-get($color, primary));
  $secondary: mat.get-color-from-palette(map-get($color, accent));
  $divider: mat.get-color-from-palette(map-get($color, foreground), divider);

  .page-stepper {
    .step button {
      color: $primary;
      width: 100%;
    }

    .step--active button {
      color: $secondary;
    }

    .step:not(.step--active):not(.step--no-click) button:hover {
      color: #0ce1e8;
    }

    .step__divider {
      border-right: 1px solid $divider;
    }
  }
}

@mixin page-stepper-typography($config, $variables) {
  .page-stepper {
    .step__label {
      font-size: 26px;
    }

    .step__sub-label {
      font-size: 16px;
    }
  }
}

@mixin page-stepper-theme($color, $typography, $variables) {
  @include page-stepper-color($color, $variables);
  @include page-stepper-typography($typography, $variables);
}
