@use '@angular/material' as mat;

@mixin page-color($color, $variables) {
  .page {
    h1:not(.mat-dialog-title) {
      background-color: mat.get-color-from-palette(map-get($color, primary));
      color: #fff;
      padding: 0.75rem;
    }

    .back-button {
      color: #fff;
    }
  }
}

@mixin page-typography($typography, $variables) {
}

@mixin page-theme($color, $typography, $variables) {
  @include page-color($color, $variables);
  @include page-typography($typography, $variables);
}
