@use '@angular/material' as mat;

@mixin panel-wrapper-color($color, $variables) {
  $background: map-get($color, background);
  $foreground: map-get($color, foreground);
  $is-dark-theme: map-get($color, is-dark);
  $border-color: mat.get-color-from-palette($foreground, divider, if($is-dark-theme, 0.3, 0.12));
  .panel-wrapper {
    h2 {
      border-bottom: 1px solid $border-color;
      border-top: 1px solid $border-color;
      background-color: mat.get-color-from-palette($background, background);
    }
  }
}
@mixin panel-wrapper-typography($typography, $variables) {
}

@mixin panel-wrapper-theme($color, $typography, $variables) {
  @include panel-wrapper-color($color, $variables);
  @include panel-wrapper-typography($typography, $variables);
}
