@use '@angular/material' as mat;

@mixin profile-initials-color($color, $variables) {
  $primary-color: mat.get-color-from-palette(map-get($color, primary));
  .profile-initials {
    background: $primary-color;
    color: #fff;
  }
}

@mixin profile-initials-typography($typography, $variables) {
}

@mixin profile-initials-theme($color, $typography, $variables) {
  @include profile-initials-color($color, $variables);
  @include profile-initials-typography($typography, $variables);
}
