@use '@angular/material' as mat;

@mixin progress-bar-color($color, $variables) {
  $primary: mat.get-color-from-palette(map-get($color, primary));
  $secondary: mat.get-color-from-palette(map-get($color, accent));

  .progress-bar {

    .label {
      color: $secondary;
    }
  }
}

@mixin progress-bar-typography($typography, $variables) {

  .progress-bar {

    .label {
      font-size: 18px;
    }

    .label__value,
    .label__max {
      font-size: 80px;
    }
  }
}

@mixin progress-bar-theme($color, $typography, $variables) {
  @include progress-bar-color($color, $variables);
  @include progress-bar-typography($typography, $variables);
}
