@use '@angular/material' as mat;
@import '~@angular/material/theming';

@mixin search-result-case-color($color, $variables) {
  $primary-color: mat.get-color-from-palette(map-get($color, primary));
  $background: map-get($color, background);
  $foreground: map-get($color, foreground);
  $is-dark-theme: map-get($color, is-dark);
  $border-color: mat.get-color-from-palette($foreground, divider, if($is-dark-theme, 0.3, 0.12));

  .search-result-case {
    color: rgb(0, 0, 0);

    &:hover,
    &:focus,
    &:visited {
      color: rgb(0, 0, 0);
    }
  }
}

@mixin search-result-case-typography($typography, $variables) {
  .search-result-case {
    &-name {
      font-size: 16px;
    }
  }
}

@mixin search-result-case-theme($color, $typography, $variables) {
  @include search-result-case-color($color, $variables);
  @include search-result-case-typography($typography, $variables);
}
