@use '@angular/material' as mat;

@mixin select-color($color, $variables) {
  $primary-color: mat.get-color-from-palette(map-get($color, primary));
  .mat-form-field {
    .loading .mat-select-arrow {
      border: 3px rgba(128, 128, 128, 0.5) solid;
      border-top: 3px $primary-color solid;
      border-right: 3px $primary-color solid;
      border-bottom: 3px $primary-color solid;
    }
  }
  @-webkit-keyframes spin3 {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
  @keyframes spin3 {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
}

@mixin select-typography($typography, $variables) {
}

@mixin select-theme($color, $typography, $variables) {
  @include select-color($color, $variables);
  @include select-typography($typography, $variables);
}
