@use '@angular/material' as mat;

@mixin small-button-color($color, $variables) {
  $primary-color: mat.get-color-from-palette(map-get($color, primary));
  $foreground: map-get($color, foreground);
  $disabled-text: mat.get-color-from-palette($foreground, disabled-text);
  $background: map-get($color, background);
  $is-dark-theme: map-get($color, is-dark);
  $disabled: mat.get-color-from-palette($background, disabled-button, if($is-dark-theme, 0.5, 0.12));

  .small-button {
    background: $primary-color;
    color: #fff;

    &:disabled {
      background: $disabled;
      color: $disabled-text;
    }
  }
}

@mixin small-button-typography($typography, $variables) {
}

@mixin small-button-theme($color, $typography, $variables) {
  @include small-button-color($color, $variables);
  @include small-button-typography($typography, $variables);
}
