@use '@angular/material' as mat;

@mixin stepper-color($color, $variables) {
  $foreground: map-get($color, foreground);
  $is-dark-theme: map-get($color, is-dark);
  .forms-stepper .stepper-actions {
    border-top: 1px solid;
    border-color: mat.get-color-from-palette($foreground, divider, if($is-dark-theme, 0.3, 0.12));
  }
}
@mixin stepper-typography($typography, $variables) {
}

@mixin stepper-theme($color, $typography, $variables) {
  @include stepper-color($color, $variables);
  @include stepper-typography($typography, $variables);
}
