@use '@angular/material' as mat;

@mixin type-ahead-color($color, $variables) {
  $primary-color: mat.get-color-from-palette(map-get($color, primary));
  .type-ahead {
    .mat-form-field {
      &.loading {
        &:after {
          border: 3px rgba(128, 128, 128, 0.5) solid;
          border-top: 3px $primary-color solid;
          border-right: 3px $primary-color solid;
          border-bottom: 3px $primary-color solid;
        }
      }
    }
  }
  @-webkit-keyframes spin3 {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
  @keyframes spin3 {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
}

@mixin type-ahead-typography($typography, $variables) {
}

@mixin type-ahead-theme($color, $typography, $variables) {
  @include type-ahead-color($color, $variables);
  @include type-ahead-typography($typography, $variables);
}
