@use '@angular/material' as mat;

@mixin uploader-offline-color($color, $variables) {
  $is-dark-theme: map-get($color, is-dark);
  $foreground: map-get($color, foreground);
  $outline-color: mat.get-color-from-palette($foreground, divider, if($is-dark-theme, 0.3, 0.12));

  .uploader-offline .action-button {
    @if $is-dark-theme {
      color: white;
    } @else {
      color: black;
    }
  }

  .uploader-offline__item {
    border-top: 1px solid $outline-color;
  }
}

@mixin uploader-offline-typography($typography, $variables) {
}

@mixin uploader-offline-theme($color, $typography, $variables) {
  @include uploader-offline-color($color, $variables);
  @include uploader-offline-typography($typography, $variables);
}
