@use '@angular/material' as mat;

@mixin uploader-color($color, $variables) {
  $is-dark-theme: map-get($color, is-dark);
  $foreground: map-get($color, foreground);
  $outline-color: mat.get-color-from-palette($foreground, divider, if($is-dark-theme, 0.3, 0.12));

  .uploader-type {
    .uploader-type,
    .file-list-item {
      border-color: $outline-color !important;
    }
    .error {
      color: mat.get-color-from-palette(map-get($color, warn));
    }
  }
}

@mixin uploader-typography($typography, $variables) {
}

@mixin uploader-theme($color, $typography, $variables) {
  @include uploader-color($color, $variables);
  @include uploader-typography($typography, $variables);
}
