<mat-form-field [appearance]="appearance" [style.width]="'100%'">
  <input
    #input
    matInput
    [id]="id"
    [matDatepicker]="picker"
    [showTime]="showTime"
    [showSeconds]="showSeconds"
    [showTimeZone]="showTimeZone"
    [formControl]="dateControl"
    [readonly]="readonly"
    [required]="required"
    [placeholder]="
      placeholder || 'Please input a ' + placeholderType + ' (e.g. ' + (currentDate | date: dateTimeFormat) + ')'
    "
    [max]="enableFutureDate"
    [attr.aria-label]="ariaLabel"
    (focus)="openOnInputFocus ? picker.open() : null"
    (dateChange)="onChange()"
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker
    #picker
    [showTime]="showTime"
    [showTimeZone]="showTimeZone"
    [showSpinners]="showSpinners"
    [showSeconds]="showSeconds"
    [stepHours]="stepHours"
    [stepMinutes]="stepMinutes"
    [stepSeconds]="stepSeconds"
    [touchUi]="touchUi"
    [color]="color"
    [showMeridian]="showMeridian"
    [disableMinutes]="disableMinutes"
    [disabled]="readonly"
    [timeZones]="timeZones"
    [defaultTime]="defaultTime"
    (closed)="openOnInputFocus ? input.blur() : null"
  >
  </mat-datepicker>
</mat-form-field>
