<div cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
  <h1 tabindex="0" mat-dialog-title>{{ config.title }}</h1>
  <div mat-dialog-content #content>
    <ni-form [definition]="definition" [model]="model" [context]="context" [disableDebug]="true"></ni-form>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="onClose(DialogFilterAction.Cancel)">{{ config.cancelText }}</button>
    <button mat-raised-button (click)="clearForm()">{{ config.clearText }}</button>
    <button
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="data.disabled"
      [attr.aria-label]="config.filterText"
      (click)="onClose(DialogFilterAction.Filter)"
    >
      {{ config.filterText }}
    </button>
  </div>
</div>
