.select-container {
  mat-form-field {
    width: 100%;
  }
  mat-select {
    &.loading .mat-select-arrow {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: 10px;
      height: 23px;
      width: 23px;
      margin: -12px -12px 0 -25px;

      border-radius: 50%;
      -webkit-animation: spin3 1s infinite linear;
      animation: spin3 1s infinite linear;
    }
  }
}
