<h1 *ngIf="title" mat-dialog-title>{{ title }}</h1>
<div cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
  <div mat-dialog-content>
    <ni-lookup-level [lookups]="lookups" (itemSelected)="onItemSelected($event)" [selectedIds]="selectedIds">
    </ni-lookup-level>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
    <button
      mat-raised-button
      type="button"
      (click)="onOk()"
      color="primary"
      [disabled]="!selectedLookup?.isLeaf && leafSelection"
    >
      OK
    </button>
  </div>
</div>
