@use '@angular/material' as mat;

@mixin home-color($color, $variables) {
  $background: map-get($color, background);
  $background-color: mat.get-color-from-palette($background, background);
  $foreground: map-get($color, foreground);
  $is-dark-theme: map-get($color, is-dark);

  .home-component {
    .branding-pane {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-image: url($branding-background-image);
    }
    .split-screen-col {
      background-color: mat.get-color-from-palette($background, card);
      .options-wrapper {
        background-color: $background-color;
      }
    }
    .mat-list-item {
      background-color: mat.get-color-from-palette($background, raised-button);
      .mat-icon {
        background-color: $background-color;
        color: mat.get-color-from-palette(map-get($color, primary));
      }
    }
    header {
      background-color: mat.get-color-from-palette($background, card);
      border-bottom: mat.get-color-from-palette($foreground, divider, if($is-dark-theme, 0.3, 0.12)) 1px solid;
    }
    &.bg-secondary {
      background-color: darken($background-color, 50%);
    }
    .split-screen-col {
      &.branding-pane {
        background-color: $background-color;
      }
    }
  }
}

@mixin home-typography($typography, $variables) {
}

@mixin home-theme($color, $typography, $variables) {
  @include home-color($color, $variables);
  @include home-typography($typography, $variables);
}
