<div class="home-component d-flex w-100 flex-column justify-content-center align-items-center vh-100 bg-secondary">
  <div class="split-screen-wrapper">
    <div class="split-screen-col branding-pane"></div>
    <div class="split-screen-col primary-col col-sm-fixed index-bg overflow-hidden">
      <header>
        <div class="main-header-wrapper">
          <div class="nav-profile">
            <ni-profile-picture
              [blobId]="(user$ | async)?.thumbnailBlobId"
              [initials]="(user$ | async)?.initials"
              [size]="'large'"
            >
            </ni-profile-picture>
            <div class="d-flex align-items-center py-2">
              <mat-icon *ngIf="online$ | async" class="online">wifi</mat-icon>
              <mat-icon *ngIf="(online$ | async) !== true">wifi_off</mat-icon>
              <h4 class="mt-0">{{ (user$ | async)?.fullName }}</h4>
            </div>
          </div>
        </div>
      </header>
      <div class="options-wrapper w-100 align-items-center d-flex flex-column position-relative">
        <div class="nav-list-wrapper">
          <mat-nav-list>
            <ng-container *ngFor="let item of homeItems$ | async">
              <a
                mat-list-item
                class="mat-elevation-z2"
                color="primary"
                [routerLink]="[item.route]"
                [ngClass]="{ standalone: item.standalone }"
                [title]="item.name"
              >
                <mat-icon mat-list-icon [icon]="item.icon"></mat-icon>
                <h2>{{ item.name }}</h2>
              </a>
              <mat-divider *ngIf="item.separator"></mat-divider>
            </ng-container>
            <div class="no-permissions">
              <h2>No Permissions</h2>
              <p>Please contact your system administrator to request permissions.</p>
            </div>
          </mat-nav-list>
        </div>
        <footer>
          <img src="/assets/svg/black-rainbow_full.svg" width="131" />
        </footer>
      </div>
    </div>
  </div>
</div>
