.home-wrapper {
  .vh-100 {
    height: 100vh !important;
  }
  .w-100 {
    width: 100% !important;
  }
  .align-items-center {
    align-items: center !important;
  }
  .justify-content-center {
    justify-content: center !important;
  }
  .flex-column {
    flex-direction: column !important;
  }
  .d-flex {
    display: flex !important;
  }
  .rounded-circle {
    border-radius: 50% !important;
  }
  .nav-profile {
    width: 100%;
    display: flex;
    padding-top: 40px;
    margin-bottom: 30px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 15px;

    img {
      margin: auto;
      width: 75px;
      height: 75px;
      font-size: 1.75em;
    }
    mat-icon {
      height: 1rem;
      width: 1rem;
      margin-right: 1rem;
    }
  }
  .split-screen-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    place-content: stretch center;
    align-items: stretch;

    @media screen and (min-width: 768px) {
      max-width: 50vw;
      min-height: 50vh;
    }

    @media screen and (min-width: 1200px) {
      max-width: 1200px;
      min-height: 50vh;
    }

    .split-screen-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
      height: 100vh;

      @media screen and (min-width: 768px) {
        width: 50%;
        height: 100%;

        &.primary-col {
          border-left: 1px;
        }
      }

      @media screen and (max-width: 576px) {
        &:not(.primary-col) {
          display: none;
        }
      }

      .btn-icon {
        width: auto;
      }

      &.branding-pane {
        @media screen and (max-width: 1199.98px) {
          display: none;
        }
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      .content-pane {
        padding: 0 95px;

        a {
          text-decoration: none;
        }
      }
    }
  }

  .options-wrapper {
    padding-top: 2rem !important;
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
    .nav-list-wrapper {
      flex-grow: 1;
    }

    footer {
      margin-bottom: 1rem !important;

      @media screen and (min-width: 1200px) {
        margin-top: 1rem !important;
      }
    }
  }

  header {
    display: flex;
    width: 100%;
    box-shadow: 0px 3px 3px rgb(0 0 0 / 8%);
    align-items: flex-start;
    transition: height 0.6s;

    .main-header-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-grow: 1;

      @media screen and (min-width: 768px) {
        position: relative;
        align-items: flex-start;
      }

      .logo-wrapper {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 60px;

        @media screen and (min-width: 768px) {
          justify-content: start;
        }
      }

      .intro-logo {
        width: 134px;
      }
      .nav-profile h4 {
        margin: 0;
        margin-top: 10px;
        font-size: 1rem;
      }
    }
  }

  .mat-list-item {
    min-width: 0px;

    @media screen and (max-width: 1199.98px) {
      margin-bottom: 15px;
    }

    h2 {
      text-align: left;
      margin-bottom: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }

    .mat-icon {
      width: 30px !important;
      height: 30px !important;
      border-radius: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
    }
  }

  .no-permissions {
    h2 {
      text-align: center;
    }

    &:not(:first-child) {
      display: none;
    }
  }

  @media screen and (min-width: 1199.98px) {
    mat-nav-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      .mat-list-item {
        box-sizing: border-box;
        min-width: auto;
        text-align: center;
        padding: 10px 0;
        max-width: 250px;

        h2 {
          line-height: 1;
          margin-top: 8px;
          text-align: center;
        }
      }

      a.standalone {
        display: block;
        margin: 0 auto;
        grid-column: span 2;
        max-width: 100%;
      }

      mat-divider {
        width: 100%;
        grid-column: span 2;
      }
    }

    .mat-list-item-content {
      flex-direction: column !important;
      align-items: center;
    }

    .mat-list-item.mat-list-item-with-avatar {
      height: auto !important;
    }
  }
}
