.vh-100 {
  height: 100vh !important;
}
.w-100 {
  width: 100% !important;
}
.align-items-center {
  align-items: center !important;
}
.justify-content-center {
  justify-content: center !important;
}
.flex-column {
  flex-direction: column !important;
}
.d-flex {
  display: flex !important;
}

.split-screen-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  place-content: stretch center;
  align-items: stretch;

  @media screen and (min-width: 768px) {
    max-width: 50vw;
    min-height: 800px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    min-height: 800px;
  }

  .split-screen-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    height: 100vh;

    @media screen and (min-width: 768px) {
      width: 50%;
      height: 100%;

      &.primary-col {
        border-left: 1px;
      }
    }

    @media screen and (max-width: 576px) {
      &:not(.primary-col) {
        display: none;
      }
    }

    .btn-icon {
      width: auto;
    }

    &.branding-pane {
      @media screen and (max-width: 1199.98px) {
        display: none;
      }
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    .content-pane {
      padding: 0 95px;

      a {
        text-decoration: none;
      }
    }
  }
}

.options-wrapper {
  padding-top: 2rem !important;
  display: flex;
  flex-grow: 1;
  mat-nav-list {
    flex-grow: 1;
  }

  footer {
    margin-bottom: 1rem !important;
  }
}

header {
  display: flex;
  width: 100%;
  box-shadow: 0px 3px 3px rgb(0 0 0 / 8%);
  align-items: flex-start;
  transition: height 0.6s;
  overflow: hidden;
  height: 200px;

  .main-header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 100%;

    .logo-wrapper {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      height: 100%;
      flex-direction: column;

      img {
        margin-bottom: 10px;
      }
    }

    .intro-logo {
      width: 134px;
    }
    .nav-profile h4 {
      margin: 0;
      margin-top: 10px;
      font-size: 1rem;
    }
  }
}

.mat-list-item {
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    min-width: 350px;
  }

  h2 {
    margin-left: 10px;
    text-align: left;
    margin-bottom: 0;
  }
  .mat-icon {
    width: 30px !important;
    height: 30px !important;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

.text-wrapper {
  flex-grow: 1;
  text-align: center;

  h2 {
    margin-bottom: 0;
  }
}

.button-wrapper {
  margin-top: 20px;
  button {
    width: 100%;
  }
}
