:host {
  display: block;
  width: 100%;
}

.no-person {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  place-content: center flex-start;
  align-items: center;
}

.no-person-image {
  margin-right: 1rem;
}
