.ev-chart-header-icon {
  margin-right: 0.2rem;
  margin-bottom: 2px;
}

.chart-panel-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem 2rem;
}

.age-chart,
.org-chart {
  min-width: 250px;
  display: block;
  padding: 1em;
  flex: 2 1 0%;
}
.user-custom-chart {
  min-width: 50%;
  flex: 2 2 0%;
}

.chart-wrapper {
  height: 180px;
  box-sizing: border-box;
}

.chart-wrapper-padded {
  padding-left: 2rem;
  padding-right: 2rem;
}
