<div class="chart-panel-flex">
  <mat-card class="age-chart mat-elevation-z8" role="group" [attr.aria-label]="ageChartConfig.ariaLabel" tabindex="0">
    <h3>
      <mat-icon size="1rem" class="ev-chart-header-icon" icon="fa-solid fa-rectangle-list"></mat-icon>
      Age (Days)
    </h3>
    <mat-card-content>
      <div class="chart-wrapper chart-wrapper-padded">
        <ni-chart-bar
          [data]="ageChartData"
          [hasData]="ageChartHasData"
          [xAxis]="ageChartConfig.xAxis"
          [yAxis]="ageChartConfig.yAxis"
          [flexPosition]="ageChartConfig.flexPosition"
          [height]="ageChartConfig.height"
          [width]="ageChartConfig.width"
          [tooltip]="ageChartConfig.tooltip"
          [enableAnimation]="ageChartConfig.enableAnimation"
          [chartArea]="ageChartConfig.chartArea"
        ></ni-chart-bar>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="org-chart mat-elevation-z8" role="group" [attr.aria-label]="orgChartConfig.ariaLabel" tabindex="0">
    <h3>
      <mat-icon size="1rem" class="ev-chart-header-icon" icon="fa-solid fa-building"></mat-icon>
      Organisation
    </h3>
    <div class="chart-wrapper">
      <ni-chart-pie
        [data]="orgChartDataItems"
        [hasData]="orgChartHasData"
        [legend]="orgChartConfig.legend"
        [chartLegendPadding]="orgChartConfig.chartLegendPadding"
        [height]="orgChartConfig.height"
        [width]="orgChartConfig.width"
        [dataLabel]="orgChartConfig.dataLabel"
        [innerRadius]="orgChartConfig.innerRadius"
        [flexPosition]="orgChartConfig.flexPosition"
        [tooltip]="orgChartConfig.tooltip"
        [title]="orgChartTitle"
        [titleSize]="orgChartConfig.titleSize"
        [centerTitles]="orgChartConfig.centerTitles"
      ></ni-chart-pie>
    </div>
  </mat-card>

  <mat-card
    class="user-custom-chart mat-elevation-z8"
    role="group"
    [attr.aria-label]="userChartConfig.ariaLabel"
    tabindex="0"
  >
    <h3>
      <mat-icon size="1rem" class="ev-chart-header-icon" icon="fa-solid fa-chart-column"></mat-icon>
      Performance Data
    </h3>
    <div class="chart-wrapper">
      <ni-chart-line
        [data]="userChartData"
        [hasData]="userChartHasData"
        [tooltip]="userChartConfig.tooltip"
        [xAxis]="userChartConfig.xAxis"
        [yAxis]="userChartConfig.yAxis"
        [height]="userChartConfig.height"
        [width]="userChartConfig.width"
        [chartArea]="userChartConfig.chartArea"
        [isAreaGradient]="userChartConfig.isAreaGradient"
        [areaColour]="userChartConfig.areaColour"
        [lineWidth]="userChartConfig.lineWidth"
        [lineColour]="userChartConfig.lineColour"
      ></ni-chart-line>
    </div>
  </mat-card>
</div>
