<div *ngIf="config" class="page-banner-wrapper" [style.height]="height" [style.margin-bottom]="marginBottom">
  <div
    class="page-banner"
    [style.background-image]="'url(' + bannerImage + ')'"
    [style.background-size]="size"
    [style.background-position]="position"
    [style.height]="height"
  ></div>
  <div class="page-banner-logo-wrapper" [style.height]="logoWrapperHeight">
    <img
      [src]="logoImage"
      [alt]="logoAlt"
      class="page-banner-logo"
      [style.width]="logoWidth"
      [style.height]="logoHeight"
    />
  </div>
</div>
