.page-banner-logo-wrapper {
  display: flex;
  align-items: center;
}

.page-banner {
  transition: margin 125ms ease-in-out;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
}

.page-banner-logo {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
