<div class="search-result-case">
  <a [href]="operationUrl" [target]="target"></a>
  <mat-icon>folder</mat-icon>
  <div>
    <p class="search-result-case-name">{{ operationName }}</p>
    <p class="search-result-case-alias">{{ operationAlias }}</p>
  </div>
</div>
