.search-result-case {
  display: flex;
  width: 100%;
  align-items: center;
  text-decoration: none;
  position: relative;

  > a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &-name {
    font-size: 16px;
  }

  p {
    margin: 0;
  }

  .mat-icon {
    margin-right: 1rem;
  }
}
