<ni-page-stepper
  [stepDivider]="props['stepDivider']"
  [progressBar]="props['progressBar']"
  [valueChanges]="formControl.valueChanges"
>
  <ni-page-stepper-step
    *ngFor="let step of field.fieldGroup; let index = index"
    [label]="step.props?.['label'] ?? 'Step ' + (index + 1)"
    [subLabel]="step.props?.['subLabel']"
    [icon]="step.props?.['icon']"
    [aria-label]="step.props?.['label'] ?? 'Step ' + (index + 1)"
    [control]="step.formControl"
  >
    <formly-field [field]="step"></formly-field>
  </ni-page-stepper-step>
</ni-page-stepper>
