<mat-form-field [appearance]="props['appearance']">
  <input
    *ngIf="type !== 'number'; else numberTmp"
    matInput
    [id]="id"
    [type]="type || 'text'"
    [readonly]="props['readonly']"
    [required]="props['required'] || false"
    [errorStateMatcher]="errorStateMatcher"
    [formControl]="formControl"
    [formlyAttributes]="field"
    [tabIndex]="props['tabindex']"
    [placeholder]="props['placeholder'] || ''"
    [name]="uniqueName"
    [autocomplete]="!props['enableAutoComplete']"
    [attr.aria-label]="props['ariaLabel']"
    [pattern]="props['patternValidationPattern']"
  />
  <ng-template #numberTmp>
    <input
      matInput
      [id]="id"
      type="number"
      [readonly]="props['readonly']"
      [required]="props['required'] || false"
      [errorStateMatcher]="errorStateMatcher"
      [formControl]="formControl"
      [formlyAttributes]="field"
      [tabIndex]="props['tabindex']"
      [placeholder]="props['placeholder'] || ''"
      [name]="uniqueName"
      [autocomplete]="!props['enableAutoComplete']"
      [attr.aria-label]="props['ariaLabel']"
      [pattern]="props['patternValidationPattern']"
    />
  </ng-template>
</mat-form-field>
