<div *ngIf="dialogView" class="dialog-header">
  <h2>File Manager</h2>
</div>
<ng-container *ngIf="dataSource && dataSource.data.length > 0; else noData">
  <div cdkTrapFocus [cdkTrapFocusAutoCapture]="dialogView">
    <div mat-dialog-content #content class="mat-dialog-content">
      <div class="dialog-content-wrapper">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                (change)="selectAll($event.checked)"
                [checked]="allSelected ? true : false"
                [indeterminate]="selectedList.length > 0 && someSelected"
                title="{{ allSelected ? 'Deselect All' : 'Select All' }}"
              ></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element; index as index; last as isLastItem">
              <mat-checkbox
                name="{{ element.id }}"
                [checked]="element.checked"
                (change)="selectedIndex($event, element, element.id)"
                niAnnounce
                [message]="isLastItem ? index + 1 + (index === 0 ? 'checkbox' : 'checkboxes') + ' available' : ''"
              ></mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.file.name }}</td>
          </ng-container>
          <ng-container matColumnDef="size">
            <th mat-header-cell *matHeaderCellDef>Size</th>
            <td mat-cell *matCellDef="let element">{{ element.file ? (element.file.size | formatFileSize) : 0 }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
    <section class="mat-dialog-actions">
      <button *ngIf="dialogView" class="close-dialog" mat-raised-button mat-dialog-close type="button">Cancel</button>
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="deleteFiles()"
        [disabled]="selectedList && selectedList.length < 1"
      >
        Delete selected
      </button>
      &nbsp;
    </section>
  </div>
</ng-container>
<ng-template #noData>
  <p>{{ noResultsText }}</p>
</ng-template>
