:host {
  display: block;
  min-height: 100px;
  position: relative;

  &.collapse {
    min-height: 0;
  }

  &.full-height {
    height: 100%;
  }
}

.max-height {
  overflow-x: hidden;
  overflow-y: auto;
}

.fullWidth {
  margin-left: -16px;
  margin-right: -16px;
}

.select-all-container {
  display: flex;
  justify-content: flex-end;

  &.top {
    margin-bottom: 1rem;
  }

  &.bottom {
    margin-top: 1rem;
  }
}

.no-items-html {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
