<div
  *ngIf="showList"
  [ngStyle]="{ maxHeight: maxHeight }"
  [ngClass]="{ fullWidth: fullWidthContent, 'max-height': maxHeight }"
>
  <div *ngIf="itemCount > 0; else noItems">
    <div *ngIf="enableSelectAll && itemCount > 0" class="select-all-container top">
      <ni-select-all [isAllSelected]="isAllSelected" (selectChanged)="selectAllItemsOnPage()"> </ni-select-all>
    </div>
    <formly-form
      *ngIf="fieldConfigs[0].fieldArray"
      class="block"
      [form]="formGroup"
      [fields]="fieldConfigs"
      [model]="getModel()"
    >
    </formly-form>
    <div *ngIf="enableSelectAll && itemCount > 0" class="select-all-container bottom">
      <ni-select-all [isAllSelected]="isAllSelected" (selectChanged)="selectAllItemsOnPage()"> </ni-select-all>
    </div>
  </div>
</div>

<mat-paginator
  *ngIf="showPaging && items && items.length > 0"
  [length]="itemCount"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="[5, 10, 25, 50, 100, 250, 500]"
  (page)="pageChange($event)"
>
</mat-paginator>

<ni-loading *ngIf="isLoading"></ni-loading>

<ng-template #noItems>
  <ng-container *ngIf="noResultsAction as action; else noItemsText">
    <div *ngIf="!isLoading" class="no-items-html">
      <div *ngIf="action.html" [innerHTML]="action.html"></div>
      <button *ngIf="action.text" type="button" mat-stroked-button [attr.aria-label]="action.text">
        {{ action.text }}
      </button>
    </div>
  </ng-container>

  <ng-template #noItemsText>
    <p *ngIf="!isLoading" class="no-results">{{ noResultsText }}</p>
  </ng-template>
</ng-template>
