<div class="welcome-wrapper" fxLayout="row" fxLayoutAlign="center">
  <mat-card class="home-card" fxLayout="column" fxFlexAlign="center">
    <mat-card-title>
      <img src="/assets/svg/phaneros.svg" width="100" />
    </mat-card-title>
    <mat-card-subtitle>Welcome</mat-card-subtitle>
    <mat-card-content fxLayout="row" fxLayoutGap="20px">
      <div>
        <img class="phaneros-image" src="/assets/phaneros.png" />
      </div>
      <div>
        <mat-nav-list>
          <a mat-list-item color="primary" (click)="login()" *ngIf="(isLoggedIn$ | async) === false">
            <mat-icon mat-list-icon>person</mat-icon>
            <div>
              <h2>Login</h2>
              <p>Login to Phaneros</p>
            </div>
          </a>
        </mat-nav-list>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <img src="/assets/svg/black-rainbow_full.svg" width="131" />
    </mat-card-footer>
  </mat-card>
</div>
