:host {
  display: flex;
  width: 100%;
  height: 100%;
}

.grid-wrapper {
  min-height: 0;
  min-width: 0;
  flex: 1 1 auto;
  position: relative;
  grid-template-columns: repeat(var(--cols), minmax(0, 1fr));

  > div {
    min-width: 0;
    min-height: 0;
  }

  .grid-section-relative {
    position: relative;
  }

  .contracted {

    .mat-icon-button {
      position: absolute;

      &.grid {

        &.bottom-right {
          transform: rotate(90deg);
          bottom: 3px;
          right: 3px;
        }

        &.bottom-left {
          bottom: 3px;
          left: 3px;
        }

        &.top-right {
          top: 3px;
          right: 3px;
        }

        &.top-left {
          transform: rotate(90deg);
          top: 3px;
          left: 3px;
        }
      }

      &.column {
        transform: rotate(45deg);
        top: 3px;
        right: 3px;
      }
    }
  }

  .expanded {

    .mat-icon-button {
      transform: rotate(45deg);
      position: absolute;
      top: 0;
      right: 3px;
    }
  }

  &.even-rows {
    grid-template-rows: repeat(var(--rows), minmax(0, 1fr));
  }
}
