<div
  #grid
  class="grid-wrapper"
  [ngClass]="{ 'even-rows': props['gridEvenRowHeights'] }"
  [gdAreas]="areas$ | async"
  [gdGap]="props['gridGap'] || defaults.gridGap"
  [style.--rows]="rows$ | async"
  [style.--cols]="cols$ | async"
>
  <div
    *ngFor="let item of field.fieldGroup; let i = index"
    [gdArea]="item.props?.['gridArea']"
    [ngClass]="{
      'grid-section-relative': isExpandable,
      expanded: itemStateMap.get(item) === 'expanded',
      contracted: itemStateMap.get(item) !== 'expanded'
    }"
    [@expandCollapse]="{
      value: itemStateMap.get(item) || 'collapsed',
      params: itemDimensionsMap.get(item)?.dimensions
    }"
    (@expandCollapse.done)="onAnimationComplete(i, item)"
    #sections
  >
    <span [ngClass]="this.formState?.context?.layoutKey">
      <formly-field [field]="item"></formly-field>
      <button
        class="mat-icon-button"
        type="button"
        mat-icon-button
        color="primary"
        [disableRipple]="true"
        *ngIf="isExpandable"
        [ngClass]="[item.props?.['expandIconPosition'], this.formState?.context?.layoutKey]"
        [attr.aria-label]="itemStateMap.get(item) === 'expanded' ? 'Collapse Field' : 'Expand Field'"
        [attr.aria-expanded]="itemStateMap.get(item) === 'expanded' ? true : false"
        (click)="setExpandContext(i, item)"
      >
        <mat-icon
          *ngIf="itemStateMap.get(item) === 'expanded'"
          [icon]="'fas fa-arrow-down-left-and-arrow-up-right-to-center'"
        ></mat-icon>
        <mat-icon
          *ngIf="itemStateMap.get(item) !== 'expanded'"
          [icon]="'fas fa-arrow-up-right-and-arrow-down-left-from-center'"
        ></mat-icon>
      </button>
    </span>
  </div>
</div>
