<ng-container *ngIf="enableDynamicRoutePageComponent; else niPageDisabled">
  <ni-page
    [title]="getHeader(dynamicRoute?.header || dynamicRoute?.pageTitle, model$ | async)"
    [backButtonUrl]="context?.backButtonUrl"
    [pageBanner]="dynamicRoute?.pageBanner"
    [hidePageTitle]="dynamicRoute?.hidePageTitle ?? false"
  >
    <ni-form
      #form
      [definition]="definition$ | async"
      [model]="model$ | async"
      [context]="context"
      (formAction)="handleFormAction($event, context)"
      [errorMessage]="error$ | async"
    >
    </ni-form>
  </ni-page>
</ng-container>

<ng-template #niPageDisabled>
  <ni-form
    #form
    [definition]="definition$ | async"
    [model]="model$ | async"
    [context]="context"
    (formAction)="handleFormAction($event, context)"
    [errorMessage]="error$ | async"
  >
  </ni-form>
</ng-template>
