<form
  class="content-fit-item-block"
  *ngIf="fields"
  [formGroup]="form"
  (ngSubmit)="executeAction('default')"
  (keydown.enter)="$event.preventDefault()"
>
  <formly-form
    *ngIf="model && definition"
    #formly
    [model]="model"
    [fields]="fields"
    [options]="options"
    [form]="form"
    (modelChange)="modelChange($event)"
  ></formly-form>
  <div niAnnounce [message]="errorMessage" class="alert alert-danger error-message" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
</form>

<ng-container *ngIf="(debug && !disableDebug) || forceShowDebug">
  <h2>Form State</h2>
  <strong>valid: </strong>{{ form.valid }}, <strong>invalid: </strong>{{ form.invalid }}, <strong>dirty: </strong
  >{{ form.dirty }}, <strong>pristine: </strong>{{ form.pristine }}
  <h2>Model</h2>
  <pre>{{ model | json }}</pre>
  <h2>Context</h2>
  <pre>{{ options.formState?.context | json }}</pre>
  <h2>Dirty Fields</h2>
  <pre>{{ getDirtyFields() }}</pre>
</ng-container>
