<mat-checkbox
  [checked]="isChecked"
  [id]="id"
  [tabIndex]="tabIndex"
  [indeterminate]="indeterminate && isChecked === undefined"
  [color]="color"
  [labelPosition]="labelPosition"
  [disabled]="isDisabled"
  [required]="isRequired"
  (change)="valueChanged($event.checked)"
  [aria-label]="label"
>
  <span [class]="labelClass">{{ label }}</span>
  <span *ngIf="isRequired && hideRequiredMarker !== true" class="mat-form-field-required-marker">*</span>
</mat-checkbox>
