:host {
  display: block;
  height: 100%;
}

.main-card {
  box-sizing: border-box;
  height: 100%;
}

.mat-card-title {
  font-weight: 400;
  font-size: 16px;
}

mat-card-actions {
  margin-left: -16px;
  margin-right: -16px;
  border-top: 1px solid;
  border-color: rgba(0, 0, 0, 0.12);
  padding: 16px !important;
  margin-bottom: -16px !important;
}

.content {
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: -16px;
  margin-right: -16px;
}

.attachment-wrapper {
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  place-content: center flex-start;

  + .attachment-wrapper {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }

  mat-checkbox {
    margin-right: 16px;
  }
}

button {
  margin: 0 !important;
}

.select-all {
  line-height: 34px;
}

.mat-card-actions {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  place-content: stretch space-between;
}
