<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title> <mat-icon size="20px" icon="attach_file"></mat-icon> Attachments </mat-card-title>
  </mat-card-header>
  <div class="content" [ngStyle]="{ maxHeight: maxHeight }">
    <ng-container *ngIf="itemCount > 0; else noResults">
      <ng-container *ngFor="let attachment of items">
        <div class="attachment-wrapper">
          <mat-checkbox
            (change)="selectItem(attachment)"
            (keydown.enter)="selectItem(attachment)"
            [checked]="isItemChecked(attachment)"
            [aria-label]="attachment[ariaLabelField]"
          >
          </mat-checkbox>
          <ni-attachment [attachment]="attachment"> </ni-attachment>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #noResults>
      <p class="attachment-wrapper">{{ noResultsText }}</p>
    </ng-template>
  </div>
  <mat-card-actions *ngIf="itemCount > 0" class="mat-card-actions">
    <mat-checkbox
      class="select-all"
      (change)="selectAllItemsOnPage()"
      (keydown.enter)="selectAllItemsOnPage()"
      [checked]="isAllSelected"
      [aria-label]="'Select ' + (isAllSelected ? 'None' : 'All')"
      >Select {{ isAllSelected ? 'None' : 'All' }}
    </mat-checkbox>
    <button
      type="button"
      mat-raised-button
      color="primary"
      [disabled]="!selectedItems || selectedItems.length < 1"
      (click)="download(); $event.preventDefault()"
      (keydown.enter)="download(); $event.preventDefault()"
      aria-label="Download"
    >
      Download
    </button>
  </mat-card-actions>
</mat-card>
