@use '@angular/material' as mat;

@mixin menu-item-color($color, $variables) {
  $primary: map-get($color, primary);
  $primary-color: mat.get-color-from-palette($primary);
}

@mixin menu-item-typography($typography, $variables) {
}

@mixin menu-item-theme($color, $typography, $variables) {
  @include menu-item-color($color, $variables);
  @include menu-item-typography($typography, $variables);
}
