:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;
  overflow: hidden;

  &.child {
    padding-left: 0.75em;
  }
}

.mat-list-item {
  display: flex;
  width: auto;
  cursor: pointer;

  .icon {
    margin-right: 15px;
  }
}

.menu-list-item {
  width: 254px;
}

nw-menu-item {
  box-sizing: border-box;
}

.indicator {
  background-color: transparent;
}

.separator {
  width: 100%;
}
