<a
  mat-list-item
  (click)="onItemSelected(item)"
  [ngClass]="{ active: active, expanded: expanded, child: child }"
  class="nw-menu-item"
  [title]="menuState === 'closed' ? item.name : ''"
  href="javascript:void(0)"
>
  <mat-icon *ngIf="item.icon" [icon]="item.icon" class="icon"></mat-icon>
  {{ item.name }}
  <span class="flex flex-0 flex-row" *ngIf="item.items && item.items.length">
    <span class="flex-0"></span>
    <mat-icon [@indicatorRotate]="expanded ? 'expanded' : 'collapsed'" class="indicator"> expand_more </mat-icon>
  </span>
</a>
<div [@toggleChild]="expanded && menuState !== 'closed' ? 'expanded' : 'collapsed'">
  <nw-menu-item
    *ngFor="let child of item.items"
    [item]="child"
    [depth]="depth + 1"
    [menuState]="menuState"
    [child]="true"
    [routeId]="routeId"
    (itemSelected)="onItemSelected($event)"
  >
  </nw-menu-item>
</div>
