<div class="jumbo-link-wrapper">
  <a
    *ngIf="jumboLinkControl && jumboLinkControl.value"
    class="jumbo-link"
    color="primary"
    [routerLink]="jumboLinkControl.value.url"
    (keyup.enter)="navigateToRoute()"
    [ngClass]="{ 'jumbo-link-fill': fill, 'mat-elevation-z1': fill }"
    [title]="jumboLinkControl.value.text"
  >
    <mat-icon [icon]="jumboLinkControl.value.icon" [size]="'24px'" mat-list-icon></mat-icon>
    <span>{{ jumboLinkControl.value.text }}</span>
  </a>
  <button
    *ngIf="enableBookmark"
    type="button"
    class="jumbo-link-bookmark"
    mat-icon-button
    (click)="bookmarkLink()"
    (keyup.enter)="bookmarkLink()"
    [attr.aria-label]="
      isBookmarkSaved ? jumboLinkControl?.value.text + ' bookmarked' : 'Bookmark ' + jumboLinkControl?.value.text
    "
  >
    <mat-icon [icon]="isBookmarkSaved ? 'fas fa-bookmark' : 'far fa-bookmark'" [size]="'14px'"></mat-icon>
  </button>
</div>
