.jumbo-link-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .jumbo-link-bookmark {
    margin: 0 auto;
  }
}

.jumbo-link {
  display: block;
  padding: 1rem;
  width: 180px;
  height: 100%;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;

  @media screen and (max-width: 767px) {
    max-width: auto;
  }

    span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .mat-icon {
    flex-shrink: 0;
    font-size: 24px;
    box-sizing: content-box;
    border-radius: 50%;
    padding: 4px;
    display: block;
    margin: 0 auto 0.5rem;
  }
}
