@use '@angular/material' as mat;
@import '@angular/material/theming';
@mixin theme-menu($theme, $class) {
  .theme-preview.#{$class} {
    .preview-background {
      fill: mat.get-color-from-palette(map-get($theme, background), card);
    }
    .preview-accent {
      fill: mat.get-color-from-palette(map-get($theme, accent));
    }
    .preview-primary {
      fill: mat.get-color-from-palette(map-get($theme, primary));
    }
  }
}
