<mat-form-field [appearance]="appearance" class="binary-size-input">
  <input
    matInput
    #numberInput
    [id]="id"
    type="number"
    [readonly]="readonly"
    [required]="required || false"
    [errorStateMatcher]="errorStateMatcher"
    [formControl]="inputControl"
    [tabIndex]="tabindex"
    [placeholder]="placeholder || ''"
    [name]="uniqueName"
    (blur)="blur()"
    [attr.aria-label]="getAriaInputLabel()"
  />
</mat-form-field>

<mat-button-toggle-group
  #buttonToggle
  class="binary-size-toggle"
  [disabled]="readonly || false"
  [formControl]="buttonToggleControl"
  (change)="onButtonToggleChange()"
  [attr.aria-label]="getAriaButtonToggleLabel()"
>
  <ng-container *ngFor="let option of toggleOptions">
    <mat-button-toggle [value]="option.value">{{ option.value }}</mat-button-toggle>
  </ng-container>
</mat-button-toggle-group>
