<div class="field-view" [ngClass]="{ 'flex-column': layout === 'column', 'flex-row': layout === 'row' }">
  <ng-container *ngIf="model; else elseBlock">
    <formly-form [fields]="fieldConfig || []" [model]="model || {}" [form]="form" [options]="{}"> </formly-form>
  </ng-container>
  <ng-template #elseBlock>
    <div class="rich-fields-value">{{ props['noData'] }}</div>
  </ng-template>
</div>
