.person {
  display: flex;
  flex-direction: row;
  place-content: center flex-start;
  align-items: center;
  flex: 1 1 auto;

  .person-image {
    margin-right: 1rem;
  }

  form {
    padding: 0;
  }
}
