<div class="person">
  <div class="person-image">
    <ni-profile-picture
      *ngIf="person"
      [blobId]="getValue(photoProp)"
      [initials]="getValue(initialsProp)"
      [size]="imageSize"
    >
    </ni-profile-picture>
  </div>
  <div class="person-details">
    <form [formGroup]="form">
      <formly-form [fields]="fieldConfig || []" [model]="person || {}" [form]="form" [options]="{}"> </formly-form>
    </form>
  </div>
</div>
