<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>{{ text }}</mat-dialog-content>
<mat-dialog-actions [ngSwitch]="type">
  <ng-container *ngSwitchCase="dialogTypes.OKCancel">
    <button mat-raised-button type="button" Cancel (click)="close()">Cancel</button>
    <button mat-raised-button type="button" color="primary" (click)="confirm()">OK</button>
  </ng-container>

  <ng-container *ngSwitchCase="dialogTypes.Cancel">
    <button mat-raised-button type="button" Cancel [mat-dialog-close]="true">Cancel</button>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <button mat-raised-button type="button" Cancel [mat-dialog-close]="true">OK</button>
  </ng-container>
</mat-dialog-actions>
