@mixin outline($color) {
  // Use of !important because these are immutable and must be shown
  outline-style: solid !important;
  outline-width: 2px !important;
  outline-color: $color !important;
  outline-offset: -2px !important;
}

@mixin ripple-outline($color) {
  @include outline($color);
  border-radius: 50%;
}

@mixin accessibility($outline-colour) {
  .cdk-focused,
  .cdk-keyboard-focused,
  a:focus,
  button:focus,
  .mat-chip:focus {
    // Some controls look awful when outlined so we excluce them here and outline the mat-ripple below
    &:not(.mat-slide-toggle):not(.mat-calendar-content):not(.mat-checkbox):not(.mat-radio-button):not(.thumbnail-wrapper) {
      @include outline($outline-colour);
    }

    // Ripple outlines

    // Checkbox
    .mat-ripple.mat-checkbox-ripple.mat-focus-indicator {
      @include ripple-outline($outline-colour);
    }

    // Radio
    .mat-ripple.mat-radio-ripple.mat-focus-indicator {
      @include ripple-outline($outline-colour);
    }

    // Slide toggle
    .mat-ripple.mat-slide-toggle-ripple.mat-focus-indicator {
      @include ripple-outline($outline-colour);
    }
  }

  // When a form field is invalid, we need to use the outline colour to show
  // that we have refocused the field otherwise it stays the same as the warn
  // colour and does not visually show that we have refocussed this field
  .mat-form-field-appearance-outline {
    &.mat-focused {
      &.mat-form-field-invalid {
        .mat-form-field-outline-thick {
          color: $outline-colour !important;
        }
      }
    }
  }
}
