@use '@angular/material' as mat;

@mixin classic-theme($color, $typography) {
  $background: map-get($color, background);
  $foreground: map-get($color, foreground);
  $is-dark-theme: map-get($color, is-dark);

  .mat-stepper-horizontal {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  }

  .mat-card-header {
    margin: 0 -15px;
    padding-top: 15px;
    border-bottom: 1px solid;
    border-color: mat.get-color-from-palette($foreground, divider, if($is-dark-theme, 0.3, 0.12));
    background-color: mat.get-color-from-palette($background, background);

    &:first-of-type {
      margin-top: -15px !important;
    }
  }

  .mat-drawer {
    width: 100%;

    h2 {
      padding: 15px 15px 0;
    }
  }
  .mat-form-field-infix {
    border-top: none;
  }

  .mat-paginator .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1rem 0 1rem 0;
  }

  .mat-form-field-appearance-outline {
    .mat-form-field-infix {
      padding: 1rem;
    }

    .mat-form-field-outline {
      top: 0 !important;
    }

    .mat-form-field-prefix,
    .mat-form-field-suffix {
      top: 0.4em;
    }

    .mat-form-field-flex {
      padding: 0 0.75em 0 0;
    }

    .mat-select-arrow-wrapper {
      transform: none !important;
    }

    .mat-form-field-flex {
      padding: 0 0.75em;
    }
  }

  .mat-error {
    margin-top: -0.7em;
  }

 
}
