@import '../app/core/components/header-bar/header-bar.component.theme';
@import '../app/core/containers/app/app.component.theme';
@import '../app/core/containers/home/home.component.theme';
@import '../app/core/containers/logged-out/logged-out.component.theme';
@import '../../../core/scss/core';
@import '../../../core/scss/apto';

@mixin component-themes($theme, $typography, $variables) {
  $color: mat-get-color-config($theme);

  // Library component themes
  @include nimbus-core-themes($color, $typography, $variables);
  @include nimbus-apto-themes($color, $typography, $variables);

  // App component themes
  @include header-bar-theme($color, $typography, $variables);
  @include app-component-theme($color, $typography, $variables);
  @include home-theme($color, $typography, $variables);
  @include logged-out-theme($color, $typography, $variables);

  //Placed here so we have access to the error color
  .timepicker-tbody {
    .timepicker-invalid-time {
      color: mat.get-color-from-palette(map-get($color, warn));
    }
  }
}

// Syncfusion overrides
@mixin syncfusion-theme() {
  $warning-font-color: $warn;
  $success-font-color: $success;
  $information-font-color: $info;
}
