@use '@angular/material' as mat;
@import '@angular/material/theming';
@import './palettes';
@import './mixins';
@import 'palettes';
@import '../app/core/components/theme-menu/theme-menu.component.theme';
@include mat.core();

// =================================================================================================
// vanilla
// =================================================================================================

$vanilla-typography: mat.define-typography-config();

// light
$vanilla-light-primary-palette: mat.define-palette($app-light-blue, 900);
$vanilla-light-accent-palette: mat.define-palette($app-light-blue, A200, A100, A400);
$vanilla-light-warn-palette: mat.define-palette(mat.$red-palette);
$vanilla-light-theme: mat.define-light-theme(
  $vanilla-light-primary-palette,
  $vanilla-light-accent-palette,
  $vanilla-light-warn-palette
);

// dark
$vanilla-dark-primary-palette: mat.define-palette($app-light-blue, 900);
$vanilla-dark-accent-palette: mat.define-palette($app-light-blue, A200, A100, A400);
$vanilla-dark-warn-palette: mat.define-palette(mat.$orange-palette);
$vanilla-dark-theme: mat.define-dark-theme(
  $vanilla-dark-primary-palette,
  $vanilla-dark-accent-palette,
  $vanilla-dark-warn-palette
);
// =================================================================================================

// =================================================================================================
// classic
// =================================================================================================
$classic-typography: mat.define-typography-config(
  $title: mat.define-typography-level(1.286rem, 32px, 700),
);

// light
$classic-light-primary-palette: mat.define-palette($app-light-blue, 900);
$classic-light-accent-palette: mat.define-palette($app-light-blue, A200, A100, A400);
$classic-light-warn-palette: mat.define-palette(mat.$red-palette);
$classic-light-theme: mat.define-light-theme(
  $classic-light-primary-palette,
  $classic-light-accent-palette,
  $classic-light-warn-palette
);
// dark
$classic-dark-primary-palette: mat.define-palette($app-light-blue, 900);
$classic-dark-accent-palette: mat.define-palette($app-light-blue, A200, A100, A400);
$classic-dark-warn-palette: mat.define-palette(mat.$orange-palette);
$classic-dark-theme: mat.define-dark-theme(
  $classic-dark-primary-palette,
  $classic-dark-accent-palette,
  $classic-dark-warn-palette
);
// =================================================================================================

// theme preview - each theme needs a row in this mixin, tie up the 2nd param with the theme id in the app.settings
@mixin theme-preview() {
  @include theme-menu($vanilla-light-theme, 'vanilla-light-theme');
  @include theme-menu($vanilla-dark-theme, 'vanilla-dark-theme');
  @include theme-menu($classic-light-theme, 'classic-light-theme');
  @include theme-menu($classic-dark-theme, 'classic-dark-theme');
}
$classic-light-disabled-text: rgba(0, 0, 0, 0.7);

$classic-light-theme: theme-foreground-change($classic-light-theme, 'disabled-text', $classic-light-disabled-text);
