@use '@angular/material' as mat;
@import 'variables';
@import 'classic-theme';
@import 'accessibility';

// variable overrides
$branding-background-image: '/assets/phaneros-dark.png';
$branding-logo: '/assets/svg/phaneros.svg';
$expanded-menu-bg: rgba(255, 255, 255, 0.04);
$danger: pink;
$message-unread: #616161;
$contrast-background-color: rgba(255, 255, 255, 0.04);
$input-back-ground: #303030;
$contrast-font-color: white;
$outline-colour: #ddd;

@import 'themes';
@import 'components';
@import 'styles';
@import 'packages-dark';

@include mat.core($classic-typography);
@include mat.all-component-colors($classic-dark-theme);
@include component-themes($classic-dark-theme, $classic-typography, $theme-variables);
@include syncfusion-theme();
@include theme-preview();
@include accessibility($outline-colour);

@include classic-theme($classic-dark-theme, $classic-typography);

$primary-color: mat.get-color-from-palette(map-get($classic-dark-theme, primary));
.color-primary {
  color: $primary-color;
}
:root {
  --color-primary: #{$primary-color};
}
