@use '@angular/material' as mat;
@import 'variables';
@import 'components';
@import 'packages';

// variable overrides

@import 'themes';
@import 'components';
@import 'styles';
@import '@syncfusion/ej2-inputs/styles/material.scss';

@include mat.core($vanilla-typography);
@include mat.all-component-colors($vanilla-light-theme);
@include component-themes($vanilla-light-theme, $vanilla-typography, $theme-variables);
@include syncfusion-theme();
@include theme-preview();

$primary-color: mat.get-color-from-palette(map-get($vanilla-light-theme, primary));
.color-primary {
  color: $primary-color;
}
:root {
  --color-primary: #{$primary-color};
}
