@use '@angular/material' as mat;
@import 'variables';
@import 'packages-dark';

// variable overrides
$branding-background-image: '/assets/phaneros-dark.png';
$branding-logo: '/assets/svg/phaneros.svg';
$expanded-menu-bg: rgba(255, 255, 255, 0.04);

@import 'themes';
@import 'components';
@import 'styles';

@import 'accessibility';

@include mat.core($vanilla-typography);
@include mat.all-component-colors($vanilla-dark-theme);
@include component-themes($vanilla-dark-theme, $vanilla-typography, $theme-variables);
@include syncfusion-theme();
@include theme-preview();

$primary-color: mat.get-color-from-palette(map-get($vanilla-dark-theme, primary));
.color-primary {
  color: $primary-color;
}
:root {
  --color-primary: #{$primary-color};
}
