:host {
  display: block;
}
.mat-card {
  height: 100%;
  box-sizing: border-box;
  border: 2px solid transparent;
  margin-top: 0.7rem;
}
.selected {
  border: 2px solid #158ac0;
}

.card-wrapper {
  cursor: pointer;
  margin-bottom: 12px;
  border-radius: 4px;
}
