<mat-card *ngIf="item" [ngClass]="{ selected: isItemChecked(item) }" (click)="itemClicked(item)">
  <img *ngIf="item.thumbnail as thumnail" mat-card-image [src]="'/api/v2/media/photo?id=' + thumnail" />
  <p>
    <strong>{{ item.name }}</strong> ({{ item.reference }})
  </p>
  <p>
    <ni-badge [text]="item.crimeSceneTypeLookup" [cssClass]="item.crimeSceneTypeLookupCSSClass"> </ni-badge>
  </p>
</mat-card>
