<ni-meta-data-form-field
  *ngIf="isVisibleConditionally"
  [fieldId]="id"
  [hideRequiredMarker]="hideRequiredMarker"
  [label]="label"
  [required]="required"
  [control]="localControl"
  [itemTouched]="itemTouched"
  [instructions]="instructions"
  [showInstructions]="!readonly"
>
  <ni-rich-text
    *ngIf="!readonly"
    [height]="height"
    [width]="width"
    [tools]="tools"
    [readOnly]="readonly"
    [enableResize]="enableResize"
    [showCharCount]="showCharCount"
    [ariaLabel]="ariaLabel"
    [formControl]="localControl"
    (richTextValueUpdated)="updateControlValues($event)"
  >
  </ni-rich-text>
  <ni-rich-text-viewer *ngIf="readonly" [value]="localControl.value"></ni-rich-text-viewer>
</ni-meta-data-form-field>
