<mat-card class="card-list-wrapper">
  <mat-card-header *ngIf="props['cardListLabel'] || props['label']">
    <mat-card-title>
      <mat-icon
        size="20px"
        [icon]="props['cardListLabelIcon'] ?? props['labelIcon']"
        *ngIf="props['cardListLabelIcon'] ?? props['labelIcon']"
      ></mat-icon
      >{{ props['cardListLabel'] ?? props['label'] }}
    </mat-card-title>

    <div *ngIf="itemCount > 0 || hasFilters" class="card-list-wrapper-actions">
      <button
        type="button"
        class="card-list-wrapper-item-count"
        mat-icon-button
        disableRipple
        aria-label="Item Count"
        *ngIf="selectedItemCount > 0"
      >
        <mat-icon
          size="24px"
          [icon]="props['cardListCountIcon'] ?? props['countIcon'] ?? defaults.countIcon"
          [matBadge]="selectedItemCount"
          matBadgePosition="after"
          matBadgeSize="small"
          matBadgeOverlap="true"
        ></mat-icon>
      </button>
      <button
        *ngIf="itemCount > 0 && currentView?.icon as icon"
        type="button"
        mat-icon-button
        [attr.aria-label]="props['ariaLabel']"
        (click)="setView()"
      >
        <mat-icon size="24px" [icon]="icon"></mat-icon>
      </button>
      <button
        *ngIf="props['cardListIsFilterable'] ?? props['isFilterable']"
        type="button"
        mat-icon-button
        aria-label="Filter"
        (click)="filterClicked()"
      >
        <mat-icon size="24px" [icon]="'filter_alt'"></mat-icon>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content>
    <ng-container #fieldComponent></ng-container>
  </mat-card-content>
</mat-card>
