.card-list-wrapper {
  height: 100%;
  box-sizing: border-box;
}

.mat-card-content {
  padding-top: 1em;
}

.card-list-wrapper-actions {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 16px;

  .mat-icon-button {
    width: 24px;
    height: 24px;
    line-height: 24px;
  }

  button + button {
    margin-left: 24px;
  }
}

.mat-card-header {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.mat-card-title {
  margin: 0;
  line-height: 24px;
}

.card-list-wrapper-item-count {
  cursor: default;
}
