<ni-meta-data-form-field
  *ngIf="isVisibleConditionally"
  [fieldId]="id"
  [hideRequiredMarker]="hideRequiredMarker"
  [label]="label"
  [required]="required"
  [control]="localControl"
  [itemTouched]="itemTouched"
  [instructions]="instructions"
  [showInstructions]="!readonly"
>
  <mat-form-field [appearance]="appearance">
    <textarea
      #input
      matInput
      [attr.aria-label]="ariaLabel"
      [cdkAutosizeMaxRows]="autosizeMaxRows"
      [cdkAutosizeMinRows]="autosizeMinRows"
      [cdkTextareaAutosize]="autosize"
      [class.cdk-textarea-autosize]="autosize"
      [cols]="cols"
      [formControl]="localControl"
      [id]="id || ''"
      [placeholder]="placeholder"
      [readonly]="readonly"
      [required]="required"
      [rows]="rows"
      (keyup)="onChange(input.value)"
    ></textarea>
  </mat-form-field>
</ni-meta-data-form-field>
