<ng-container *ngFor="let f of field.fieldGroup">
  <ng-container [ngSwitch]="type">
    <formly-field *ngSwitchCase="'entitymedialist'" [field]="f | cardListField"></formly-field>
    <formly-field *ngSwitchCase="'entitymediagrid'" [field]="f | cardListField"></formly-field>
    <formly-field *ngSwitchCase="'identificationgrid'" [field]="f | cardListField"></formly-field>
    <formly-field *ngSwitchCase="'identificationlist'" [field]="f | cardListField"></formly-field>
    <formly-field *ngSwitchCase="'unidentifiedsubjectlist'" [field]="f | cardListField"></formly-field>
    <formly-field *ngSwitchCase="'unidentifiedsubjectgrid'" [field]="f | cardListField"></formly-field>
  </ng-container>
</ng-container>
