<div class="wrapper">
  <mat-form-field [style.width]="props['quickSearchWidth'] || defaults.width">
    <input matInput #input [placeholder]="props['placeholder'] ?? ''" autocomplete="off" tabindex="0" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <ng-container *ngIf="showFilters && showFilters.length > 0">
    <mat-chip-list>
      <mat-chip
        *ngFor="let filter of showFilters"
        (removed)="removeFilter(filter)"
        [removable]="true"
        [selectable]="true"
      >
        {{ getFilterText(filter) }}

        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </ng-container>
  <button
    *ngIf="props['quickSearchNavButtonUrl'] && props['quickSearchNavButtonText']"
    mat-raised-button
    color="primary"
    type="button"
    (click)="nav(props['quickSearchNavButtonUrl'])"
  >
    {{ props['quickSearchNavButtonText'] }}
  </button>
</div>
<h3 *ngIf="(props['quickSearchSubtitle'] ?? props['subtitle']) && hasSearched">
  {{ props['quickSearchSubtitle'] ?? props['subtitle'] }}
</h3>
<ng-container #fieldComponent></ng-container>
