div > mat-card {
  display: flex;
  flex-wrap: wrap;
  padding: 4%;
}

.my-intel {
  width: 50%;
  display: block;
  float: right;
}

mat-card .my-intel-col {
  right: 2%;
  position: absolute;
}

.my-intel-col button mat-icon {
  margin-right: 5px;
}
