<div class="my-intel">
  <mat-card>
    <h2><mat-icon icon="fa-solid fa-circle-info"></mat-icon> My Intel</h2>
    <div class="my-intel-col">
      <button type="button" mat-stroked-button color="primary" aria-label="Drafts" [routerLink]="['./drafts']">
        <mat-icon icon="fa-regular fa-pen-to-square"></mat-icon> Drafts
      </button>
      &nbsp;
      <button type="button" mat-stroked-button color="primary" aria-label="Find Intel" [routerLink]="['./find-intel']">
        <mat-icon icon="fas fa-search"></mat-icon> Find Intel
      </button>
      &nbsp;
      <button type="button" mat-stroked-button color="primary" aria-label="Add Intel" [routerLink]="['../add']">
        <mat-icon icon="fas fa-plus"></mat-icon> Add Intel
      </button>
    </div>
  </mat-card>
</div>
