:host {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.overlay {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  position: absolute;
  z-index: 2;
}

.custom-loader {
  display: grid;
  border-width: var(--loader-border);
  border-style: solid;
  border-radius: 50%;
  rotate: 45deg;
  animation: spin1 3s infinite ease-in-out;
  animation-direction: normal;
}

.custom-loader::before,
.custom-loader::after {
  content: '';
  grid-area: 1/1;
  margin: var(--loader-margin-before-after);
  border: inherit;
  border-radius: 50%;
}

.custom-loader::after {
  animation: spin2 3s infinite ease-in-out;
  margin: var(--loader-margin-after);
}

@keyframes spin1 {
  90% {
    transform: rotate(1turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

@keyframes spin2 {
  90% {
    transform: rotate(-2turn);
  }
  100% {
    transform: rotate(-2turn);
  }
}
