<!-- Keep alphabetical please -->
<ng-container [ngSwitch]="metaDataItemControl?.value?.ItemType">
  <ng-container *ngSwitchCase="ItemType.AttachmentUpload">
    <ni-meta-data-attachment
      [metaDataItemControl]="metaDataItemControl"
      [metaData]="metaData"
      [readonly]="readonly"
      [index]="index"
    ></ni-meta-data-attachment>
  </ng-container>

  <ng-container *ngSwitchCase="ItemType.BinarySize">
    <ni-meta-data-binary-size
      [metaDataItemControl]="metaDataItemControl"
      [metaData]="metaData"
      [readonly]="readonly"
      [index]="index"
      [model]="model"
    ></ni-meta-data-binary-size>
  </ng-container>

  <ng-container *ngSwitchCase="ItemType.Checkbox">
    <ni-meta-data-checkbox
      [metaDataItemControl]="metaDataItemControl"
      [metaData]="metaData"
      [readonly]="readonly"
      [index]="index"
      [model]="model"
    ></ni-meta-data-checkbox>
  </ng-container>
  <ng-container *ngSwitchCase="ItemType.Choice">
    <ni-meta-data-choice
      [metaDataItemControl]="metaDataItemControl"
      [metaData]="metaData"
      [readonly]="readonly"
      [index]="index"
    ></ni-meta-data-choice>
  </ng-container>
  <ng-container *ngSwitchCase="ItemType.ChoiceSimple">
    <ni-meta-data-choice-simple
      [metaDataItemControl]="metaDataItemControl"
      [metaData]="metaData"
      [readonly]="readonly"
      [index]="index"
    ></ni-meta-data-choice-simple>
  </ng-container>
  <ng-container *ngSwitchCase="ItemType.Date">
    <ni-meta-data-date
      [metaDataItemControl]="metaDataItemControl"
      [metaData]="metaData"
      [readonly]="readonly"
      [index]="index"
      [showTime]="false"
    ></ni-meta-data-date>
  </ng-container>
  <ng-container *ngSwitchCase="ItemType.DateTime">
    <ni-meta-data-date
      [metaDataItemControl]="metaDataItemControl"
      [metaData]="metaData"
      [readonly]="readonly"
      [index]="index"
      [showTime]="true"
      [showSeconds]="true"
      [showTimeZone]="true"
    ></ni-meta-data-date>
  </ng-container>
  <ng-container *ngSwitchCase="ItemType.DateRange">
    <ni-meta-data-date-range
      [metaDataItemControl]="metaDataItemControl"
      [metaData]="metaData"
      [readonly]="readonly"
      [index]="index"
    ></ni-meta-data-date-range>
  </ng-container>
  <ng-container *ngSwitchCase="ItemType.Lookup">
    <ni-meta-data-lookup
      [metaDataItemControl]="metaDataItemControl"
      [metaData]="metaData"
      [readonly]="readonly"
      [index]="index"
    ></ni-meta-data-lookup>
  </ng-container>
  <ng-container *ngSwitchCase="ItemType.MediaUpload">
    <ni-meta-data-media
      [metaDataItemControl]="metaDataItemControl"
      [metaData]="metaData"
      [readonly]="readonly"
      [index]="index"
    ></ni-meta-data-media>
  </ng-container>
  <ng-container *ngSwitchCase="ItemType.MultiChoice">
    <ni-meta-data-multi-choice
      [metaDataItemControl]="metaDataItemControl"
      [metaData]="metaData"
      [readonly]="readonly"
      [index]="index"
    ></ni-meta-data-multi-choice>
  </ng-container>
  <ng-container *ngSwitchCase="ItemType.RichText">
    <ni-meta-data-rich-text-editor
      [metaDataItemControl]="metaDataItemControl"
      [metaData]="metaData"
      [readonly]="readonly"
      [index]="index"
    ></ni-meta-data-rich-text-editor>
  </ng-container>
  <ng-container *ngSwitchCase="ItemType.Text">
    <ni-meta-data-input
      [metaDataItemControl]="metaDataItemControl"
      [metaData]="metaData"
      [readonly]="readonly"
      [index]="index"
      [model]="model"
    ></ni-meta-data-input>
  </ng-container>
  <ng-container *ngSwitchCase="ItemType.TextArea">
    <ni-meta-data-text-area
      [metaDataItemControl]="metaDataItemControl"
      [metaData]="metaData"
      [readonly]="readonly"
      [index]="index"
    ></ni-meta-data-text-area>
  </ng-container>
  <ng-container *ngSwitchCase="ItemType.TextPanel">
    <ni-meta-data-text-panel
      [metaDataItemControl]="metaDataItemControl"
      [metaData]="metaData"
      [readonly]="readonly"
      [index]="index"
    ></ni-meta-data-text-panel>
  </ng-container>
  <ng-container *ngSwitchCase="ItemType.YesNo">
    <ni-meta-data-choice-simple
      [metaDataItemControl]="metaDataItemControl"
      [metaData]="metaData"
      [readonly]="readonly"
      [index]="index"
      [choices]="yesNoChoices"
    ></ni-meta-data-choice-simple>
  </ng-container>
</ng-container>
