.button-dialog-wrapper {
  position: fixed;
  z-index: 500;
}
@media screen and (min-width: 1281px) {
  .button-dialog-wrapper {
    right: 17px;
    top: 50%;
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 1280px) {
  .button-dialog-wrapper {
    bottom: 0;
    right: 0;
  }
}
