<mat-nav-list>
  <mat-list-item *ngFor="let item of items">
    <a [routerLink]="item.route" class="sidenav-link">
      <mat-icon color="primary">{{ item.icon }}</mat-icon>
      <span>{{ item.name }}</span>
    </a>
    <ph-sidenav *ngIf="item.items" [items]="item.items"></ph-sidenav>
  </mat-list-item>
</mat-nav-list>
