<div
  class="action-bar"
  [ngClass]="{ 'flex-column': layout === ActionLayout.Column, 'flex-row': layout === ActionLayout.Row }"
>
  <ng-container *ngIf="style === ActionStyle.Button; else elseBlock">
    <button
      *ngFor="let item of items; let last = last"
      type="button"
      mat-raised-button
      (click)="itemClicked(item)"
      [color]="buttonColour"
      [attr.aria-label]="item.AriaLabel || item.Label"
      [style.margin-right]="last ? null : layout === ActionLayout.Column ? null : gap"
      [style.margin-bottom]="last ? null : layout === ActionLayout.Row ? null : gap"
    >
      {{ item.Label }}
    </button>
  </ng-container>
  <ng-template #elseBlock>
    <a *ngFor="let item of items" (click)="itemClicked(item)">{{ item.Label }}</a>
  </ng-template>
</div>
