<div class="icon-text-inline">
  <mat-icon *ngIf="icon" [icon]="icon" [size]="iconSize" [ngClass]="colorClass"></mat-icon>
  <p
    *ngIf="text"
    class="icon-text"
    [ngClass]="colorClass"
    [ngStyle]="{ 'font-size': textSize }"
    [attr.aria-label]="text"
  >
    {{ text }}
  </p>
</div>
