.icon-text-inline {
  display: flex;
}
.icon-text {
  margin: auto;
  width: 100%;
  font-weight: 500;
}
mat-icon,
p {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0;
  padding: 0;
}
