<ni-meta-data-form-field
  *ngIf="isVisibleConditionally"
  [fieldId]="id"
  [hideRequiredMarker]="hideRequiredMarker"
  [hideLabel]="true"
  [required]="required"
  [control]="localControl"
  [itemTouched]="itemTouched"
  [instructions]="instructions"
  [showInstructions]="!readonly"
>
  <mat-checkbox
    [formControl]="localControl"
    [id]="id || ''"
    [tabIndex]="tabIndex"
    [indeterminate]="indeterminate && localControl.value === null"
    [color]="color"
    [disabled]="readonly"
    [labelPosition]="labelPosition"
    [attr.aria-label]="ariaLabelInternal"
    (change)="onChange($event.checked)"
  >
    {{ label }}
    <span *ngIf="required && !hideRequiredMarker" class="mat-form-field-required-marker">*</span>
  </mat-checkbox>
</ni-meta-data-form-field>
