<div class="list-summary-view">
  <p *ngIf="icon">
    <mat-icon [icon]="icon" [size]="'80px'"></mat-icon>
  </p>
  <p class="count">{{ itemCount }}</p>
  <p>{{ listName }}</p>
</div>
<div *ngIf="itemCount > 0" class="button-wrapper">
  <button mat-raised-button color="primary" type="button" (click)="view()">View</button>
</div>
