.list-summary-view {
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;

  .button-wrapper {
    text-align: right;
    margin-top: 16px;
  }

  .count,
  .mat-icon {
    color: #158ac0;
  }

  .count {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
  }
}
