.mapping-container {
  .input-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: inherit;
    border-radius: 4px;
    margin-bottom: 1rem;

    .input-test {
      align-self: flex-end;
    }

    @media screen and (min-width: 960px) {
      .half-width-container {
        display: flex;

        > section {
          width: calc(50% - 0.5rem);

          &:first-of-type {
            margin-right: 1rem;
          }
        }
      }
    }

    .input-container-actions {
      align-self: flex-end;
      align-items: center;
    }
  }
}

.textarea-container {
  display: block;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 1rem;

  &:hover {
    button {
      opacity: 1;
    }
  }

  textarea {
    display: block;
    box-sizing: inherit;
    width: 100%;
    min-height: 125px;
    resize: vertical;
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}

pre {
  padding: 1rem;
  border-radius: 4px;
}
