<ni-page [title]="'Mapping Sandbox'">
  <div class="mapping-container">
    <div class="input-container mat-elevation-z1">
      <div class="half-width-container">
        <section>
          <label for="mapping"><strong>Mapping Config</strong></label>
          <span class="textarea-container">
            <textarea id="mapping" [formControl]="inputMappingConfig"></textarea>
            <button
              type="button"
              mat-icon-button
              niCopyToClipboard
              [text]="inputMappingConfig.value"
              aria-label="Copy Mapping"
            >
              <mat-icon icon="content_copy"></mat-icon>
            </button>
          </span>
        </section>

        <section>
          <label for="model"><strong>Model</strong></label>
          <span class="textarea-container">
            <textarea id="model" [formControl]="inputModel"></textarea>
            <button type="button" mat-icon-button niCopyToClipboard [text]="inputModel.value" aria-label="Copy Model">
              <mat-icon icon="content_copy"></mat-icon>
            </button>
          </span>
        </section>
      </div>

      <section class="input-container-actions">
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="getMapping()"
          class="input-test"
          aria-label="Get Mapping"
        >
          Test
        </button>
      </section>
    </div>
    <pre *ngIf="output" class="mat-elevation-z1">{{ output | json }}</pre>
  </div>
</ni-page>
