<div class="multi-choice-component">
  <mat-form-field [appearance]="appearance" [ngClass]="{ loading: loadingMatches }">
    <mat-chip-list #chipList>
      <ng-container *ngIf="!readonly">
        <mat-chip
          *ngFor="let item of selectedItems"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(item)"
          (keyup.Enter)="remove(item)"
          (keyup.Space)="remove(item)"
          [class]="'auto-height ' + item.cssClass"
        >
          {{ item.hierarchicalDisplayValue }}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </ng-container>
      <ng-container *ngIf="readonly">
        <mat-chip
          *ngFor="let item of selectedItems"
          [selectable]="false"
          [removable]="false"
          [class]="'auto-height ' + item.cssClass"
        >
          {{ item.hierarchicalDisplayValue }}
        </mat-chip>
      </ng-container>
      <input
        [id]="id"
        [placeholder]="placeholder"
        #itemInput
        [readonly]="readonly"
        [formControl]="itemControl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [attr.aria-label]="ariaLabel"
        [disabled]="itemControl.disabled"
        (matChipInputTokenEnd)="add($event)"
        (blur)="blur()"
      />
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let item of filteredItems | async" [value]="item.lookupId">
        {{ parentLookupId ? item.displayValue : item.hierarchicalDisplayValue }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="button"
    class="multi-choice-browse"
    (click)="openDialog()"
    *ngIf="isTree && enableTree !== false"
  >
    Browse
  </button>
</div>

<div class="any-all" *ngIf="isFilterSearchMode">
  <mat-radio-group (change)="changeNegative($event)">
    <mat-radio-button [value]="true" [checked]="this.negative.value === false">Include all</mat-radio-button>
    <mat-radio-button [value]="false" [checked]="this.negative.value === true">Exclude all</mat-radio-button>
  </mat-radio-group>
</div>
