.multi-choice-component {
  display: flex;
  flex-direction: row;
  place-content: flex-start center;
  align-items: flex-start;
}

.mat-form-field {
  width: 100%;

  &.loading {
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: 10px;
      height: 23px;
      width: 23px;
      margin: -25px 0 0 -25px;

      border-radius: 50%;
      -webkit-animation: spin3 1s infinite linear;
      animation: spin3 1s infinite linear;
    }
  }
}

.auto-height {
  height: auto;
}

.multi-choice-browse {
  min-width: auto;
  margin-left: 10px;
}

.any-all {
  padding-bottom: 1.34375em;
  margin-top: -1em;

  mat-radio-button + mat-radio-button {
    margin-left: 16px;
  }
}
