mat-card {
  width: 100%;
  padding: 24px;
  cursor: pointer;

  .hidden {
    visibility: hidden;
  }

  &:hover,
  &:focus {
    transition: background-color 0.5s ease;
  }

  &:not(:hover):not(:focus) {
    background-color: initial;
    transition: background-color 0.5s ease;
  }
}

label {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  &-text {
    margin-left: 5px;
  }

  mat-icon:not(:first-child) {
    margin-left: 10px;
  }
}

.image-wrapper {
  margin: 0 -24px 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
  }
}

.repeat-wrapper-carousel-control {
  &.next,
  &.prev {
    right: 5px;
  }
}

.viewed,
.not-viewed {
  position: absolute;
  top: 10px;
  right: 30px;
}

.row {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;

  .image-wrapper {
    margin: 0;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  label {
    margin-bottom: 0;
    strong {
      display: block;
    }
  }
  .icons {
    margin-bottom: 0;
  }
  .viewed,
  .not-viewed {
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    font-size: 15px;
  }
}
