<mat-card
  [ngClass]="[viewType]"
  class="unident-subject"
  tabindex="0"
  (keyup.enter)="cardAction(item, $event)"
  (click)="cardAction(item, $event)"
>
  <div class="image-wrapper" *ngIf="unidentifiedSubjectMedia && unidentifiedSubjectMedia.length > 0">
    <img class="block" *ngIf="viewType === 'grid'" [src]="defaultPhoto" />
    <img *ngIf="viewType === 'row'" [src]="defaultPhoto" />
    <mat-icon *ngIf="item.viewed" icon="fas fa-eye" class="viewed"></mat-icon>
    <mat-icon *ngIf="!item.viewed" icon="fas fa-eye-slash" class="not-viewed"></mat-icon>
  </div>
  <div class="icons" tabindex="0" (focus)="announce(item)">
    <mat-icon class="color-primary" icon="image"></mat-icon>
    <span class="icons-text">{{ item?.photoCount }}</span>
    <mat-icon icon="videocam"></mat-icon>
    <span class="icons-text">{{ item?.videoCount }}</span>
  </div>
  <label tabindex="0"
    >Division: <strong ni-format class="shortString" [dataType]="DataType.lookup" [value]="item?.unitId"></strong
  ></label>
  <label tabindex="0"
    >Crime Type: <strong ni-format class="shortString" [dataType]="DataType.lookup" [value]="item?.crimeTypeId"></strong
  ></label>
  <label tabindex="0">
    Crime No:
    <strong>{{
      item?.crimeNumber.length > 10 ? item?.crimeNumber.substring(0, 10) + '...' : item?.crimeNumber || notFoundText
    }}</strong>
  </label>
  <label tabindex="0"
    >Offence Date:
    <strong ni-format [dataType]="DataType.date" [value]="item?.creationDate" class="shortString"></strong
  ></label>
  <label tabindex="0">
    Premises Name:
    <strong>{{
      item?.premisesName.length > 10 ? item?.premisesName.substring(0, 10) + '...' : item?.premisesName || notFoundText
    }}</strong>
  </label>
  <label tabindex="0">
    Premises Address:
    <strong>{{
      item?.premisesAddress.length > 10
        ? item?.premisesAddress.substring(0, 10) + '...'
        : item?.premisesAddress || notFoundText
    }}</strong>
  </label>
  <label tabindex="0">
    Reference: <strong>{{ item?.reference || notFoundText }}</strong>
  </label>
</mat-card>
