<div class="task-summary">
  <a
    *ngIf="entityId"
    [href]="'/EntityCalendarItem/Calendar/' + entityTypeId + '/' + entityId"
    [title]="'View ' + description"
  ></a>
  <section>
    <ng-container *ngIf="overdue; else elseblock">
      <span class="overdue" *ngIf="requiredCompletionDate">
        <mat-icon [icon]="'fas fa-exclamation-circle'" [size]="'20px'"></mat-icon>{{ requiredCompletionDate | toDate }}
      </span>
    </ng-container>
    <ng-template #elseblock>
      <span *ngIf="requiredCompletionDate">
        <mat-icon [icon]="'fas fa-clock'" [size]="'20px'"></mat-icon>{{ requiredCompletionDate | toDate }}
      </span>
    </ng-template>
    <span class="action" *ngIf="actionLinked">
      <mat-icon [icon]="'fas fa-link'" [size]="'20px'"></mat-icon>Action
    </span>
  </section>
  <section class="text-right">
    <p *ngIf="description">{{ description }}</p>
  </section>
</div>
