ni-chart-pie-type {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.chart-pie {
  display: flex;
  flex-direction: row;

  &.chart-position {
    width: 100%;
    height: 100%;
  }
}
