<div class="progress-container" [ngClass]="{ 'custom-colour': isCustomColour }">
  <div class="progress-details">
    <label *ngIf="label" class="progress-label">{{ label }}</label>
    <p *ngIf="showValue" class="progress-value">{{ progressValue }}</p>
  </div>
  <progress [value]="progressValue" [max]="progressMax"></progress>
</div>
