progress {
  -webkit-appearance: none;
  appearance: none;
  height: 0.5rem;
  width: 100%;
  display: block;
}

progress::-webkit-progress-bar {
  border-radius: 10px;
}

progress::-webkit-progress-value {
  border-radius: 10px;
}

.progress-container.custom-colour {
  progress::-webkit-progress-value {
    background-color: var(--progress-color);
  }
}

.progress-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4px;
}

.progress-value {
  margin: 0 0 0 auto;
}
