<div class="layout-choice" *ngIf="items.length > 0">
  <button
    *ngFor="let option of items"
    type="button"
    mat-icon-button
    (click)="setValue(option.id, option.layoutKey)"
    [ngClass]="{ active: formControl.value === option.id }"
    [disabled]="disabled"
    [attr.aria-label]="option.id + ' layout'"
  >
    <mat-icon [icon]="option.icon"></mat-icon>
  </button>
</div>
