<div cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
  <mat-dialog-content>
    <!-- Do not use trackby, it is flawed on mat-tree -->
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
        <mat-checkbox
          class="checklist-leaf-node"
          [checked]="checklistSelection.isSelected(node)"
          (change)="leafItemSelectionToggle(node)"
          ><span *ngIf="node?.item?.prefix">{{ node.item.prefix }}: </span>{{ node.item.displayValue }}</mat-checkbox
        >
      </mat-tree-node>

      <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
        <mat-form-field class="checklist-leaf-node">
          <mat-label>{{ data.newItemLabel }}</mat-label>
          <input matInput #itemValue [placeholder]="data.placeholder" />
        </mat-form-field>
        <button mat-button type="button" aria-label="Save" (click)="saveNode(node, itemValue.value)">Save</button>
      </mat-tree-node>

      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button
          mat-icon-button
          matTreeNodeToggle
          type="button"
          [attr.aria-label]="
            (treeControl.isExpanded(node) ? 'Collapse ' : 'Expand ') + node.item.displayValue + ' Items'
          "
          [attr.aria-expanded]="treeControl.isExpanded(node) ? true : false"
        >
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
          </mat-icon>
        </button>
        <mat-checkbox
          [checked]="descendantsAllSelected(node)"
          [indeterminate]="descendantsPartiallySelected(node)"
          (change)="itemSelectionToggle(node)"
          >{{ node.item.displayValue }}</mat-checkbox
        >
        <button *ngIf="data.addCustom" mat-icon-button type="button" aria-label="Add Item" (click)="addNewItem(node)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-tree-node>
    </mat-tree>
  </mat-dialog-content>
  <div mat-dialog-actions>
    <button
      mat-raised-button
      type="button"
      [attr.aria-label]="data.cancelText || 'Cancel'"
      (click)="onClose(DialogTreeAction.Cancel)"
    >
      {{ data.cancelText || 'Cancel' }}
    </button>
    <button
      mat-raised-button
      type="button"
      (click)="onClose(DialogTreeAction.Ok)"
      color="primary"
      [disabled]="data.disabled"
      [attr.aria-label]="data.okText || 'OK'"
    >
      {{ data.okText || 'OK' }}
    </button>
  </div>
</div>
