.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1em;

  .mat-button-base + .mat-button-base {
    margin-left: 0.5em;

    [dir='rtl'] & {
      margin-left: 0;
      margin-right: 0.5em;
    }
  }
}
.mat-tree-node {
  padding: 8px 0px;
}
.checklist-leaf-node {
  padding-left: 40px;
}
