<mat-menu #menu="matMenu" [overlapTrigger]="false">
  <ng-container *ngFor="let item of items">
    <!-- branch node menu items -->
    <ng-container *ngIf="item.items && item.items.length > 0">
      <button mat-menu-item color="primary" [matMenuTriggerFor]="subMenu.menu || dummy">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.name }}</span>
      </button>
      <ph-menu #subMenu [items]="item.items"></ph-menu>
    </ng-container>
    <!-- leaf node menu items -->
    <ng-container *ngIf="(!item.items || item.items.length === 0) && item.route">
      <button mat-menu-item type="button" [attr.aria-label]="item.name" [routerLink]="item.route">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.name }}</span>
      </button>
    </ng-container>
  </ng-container>
</mat-menu>
<mat-menu #dummy="matMenu"></mat-menu>
