<div class="home-component d-flex w-100 flex-column justify-content-center align-items-center vh-100 bg-secondary">
  <div class="split-screen-wrapper">
    <div class="split-screen-col branding-pane"></div>
    <div class="split-screen-col primary-col col-sm-fixed index-bg overflow-hidden">
      <header>
        <div class="main-header-wrapper">
          <div class="logo-wrapper">
            <img src="/assets/svg/black-rainbow_icon.svg" width="24" />
            <img src="/assets/svg/phaneros_dark.svg" width="120" />
          </div>
        </div>
      </header>
      <div class="options-wrapper w-100 align-items-center d-flex flex-column position-relative">
        <div class="text-wrapper">
          <h2>You have successfully logged out.</h2>
          <span class="sub-text">To log back in, please click the login button below</span>
          <div class="button-wrapper">
            <button type="button" (click)="login()" mat-raised-button color="primary">LOGIN</button>
          </div>
        </div>
        <footer>
          <img src="/assets/svg/black-rainbow_full.svg" width="131" />
        </footer>
      </div>
    </div>
  </div>
</div>
