.forms-stepper-type {

  .stepper-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: -1rem;
    margin-right: -1rem;

    .mat-button-base + .mat-button-base {
      margin-left: 0.5rem;

      [dir='rtl'] & {
        margin-left: 0;
        margin-right: 0.5rem;
      }
    }
  }

  .mat-horizontal-content-container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
}
