<ng-container *ngIf="isSmallBreakpoint$ | async; else materialStepper">
  <ni-custom-stepper class="forms-stepper-type" [selectedIndex]="selectedIndex" (selectionChange)="stepChanged($event)">
    <cdk-step
      *ngFor="let step of stepsToShow; let index = index; let last = last"
      [label]="step.props?.['label'] ?? 'Step ' + (index + 1)"
    >
      <formly-field [field]="step"></formly-field>
      <div class="stepper-actions">
        <button
          mat-raised-button
          matStepperPrevious
          color="primary"
          *ngIf="index !== 0"
          class="btn btn-primary"
          type="button"
        >
          Back
        </button>

        <button
          mat-raised-button
          matStepperNext
          color="primary"
          *ngIf="!last"
          class="btn btn-primary"
          type="button"
          [disabled]="!isValid(step)"
        >
          Next
        </button>
      </div>
    </cdk-step>
  </ni-custom-stepper>
</ng-container>

<ng-template #materialStepper>
  <mat-horizontal-stepper
    [linear]="isLinear"
    class="forms-stepper-type"
    [selectedIndex]="selectedIndex"
    (selectionChange)="stepChanged($event)"
  >
    <mat-step
      *ngFor="let step of stepsToShow; let index = index; let last = last"
      [label]="step.props?.['label'] || 'Step ' + (index + 1)"
    >
      <formly-field [field]="step" *ngIf="!initializing"></formly-field>
      <div class="stepper-actions">
        <button
          mat-raised-button
          matStepperPrevious
          color="primary"
          *ngIf="index !== 0"
          class="btn btn-primary"
          type="button"
        >
          Back
        </button>

        <button
          mat-raised-button
          matStepperNext
          color="primary"
          *ngIf="!last"
          class="btn btn-primary"
          type="button"
          [disabled]="!isValid(step)"
        >
          Next
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</ng-template>
