table {
  width: 100%;
}

.mat-cell {
  vertical-align: top;
  padding-top: 1em;
  padding-bottom: 1em;
}

.mat-header-cell,
.mat-cell {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

tr:hover {
  cursor: pointer;
}
