<div class="entity-table" *ngIf="!allRowsAreHidden">
  <ng-container *ngIf="tableTabIds.size === 1 && items.length > 0">
    <ng-container
      *ngTemplateOutlet="table; context: { columns: columnDefinitions, columnKeys: columnKeys }"
    ></ng-container>
  </ng-container>
  <mat-tab-group *ngIf="tableTabIds.size > 1 && items.length > 0" class="mat-elevation-z1">
    <mat-tab label="{{ tab }}" *ngFor="let tab of tableTabIds">
      <ng-container
        *ngTemplateOutlet="table; context: { columns: tabColumns.get(tab), columnKeys: tabColumnKeys.get(tab) }"
      ></ng-container>
    </mat-tab>
  </mat-tab-group>
  <span *ngIf="!(items.length > 0)" class="placeholder">{{ placeholder }}</span>
</div>

<ng-template #table let-columns="columns" let-columnKeys="columnKeys">
  <table mat-table [dataSource]="items" [attr.aria-label]="ariaTableName" [title]="ariaTableName">
    <ng-container [matColumnDef]="column.key" *ngFor="let column of columns">
      <th mat-header-cell *matHeaderCellDef>{{ columnNames.get(column.key) }}</th>
      <td
        mat-cell
        *matCellDef="let element"
        ni-format
        [dataType]="columnTypes.get(column.key)"
        [value]="getValue(element, column)"
      ></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnKeys"></tr>
    <tr
      mat-row
      tabindex="0"
      *matRowDef="let row; columns: columnKeys"
      (keyup.enter)="rowClick.emit(row)"
      (click)="rowClick.emit(row)"
      [attr.aria-label]="ariaRowLabel"
      [class.hidden]="row._isVisuallyHidden"
    ></tr>
  </table>
</ng-template>
