<div class="radio-group-wrapper">
  <mat-radio-group
    [formControl]="formControl"
    [formlyAttributes]="field"
    [required]="props['required'] || false"
    [tabindex]="props['tabindex']"
    [attr.aria-label]="props['label']"
  >
    <mat-radio-button
      #button
      *ngFor="let option of props['options'] | formlySelectOptions : field | async; let i = index; last as isLastItem"
      [id]="id + '_' + i"
      [color]="props['color']"
      [labelPosition]="props['labelPosition']"
      [disabled]="option.disabled"
      [value]="option.value"
      [aria-label]="option.label"
      [style.width]="props['width'] || 'auto'"
      [ngClass]="{ column: props['isColumn'] }"
      niAnnounce
      [message]="isLastItem ? i + 1 + ' radio ' + (i === 0 ? 'button' : 'buttons') : ''"
      (click)="checkState($event, button)"
      (keyup.Space)="checkState($event, button)"
      (keyup.Enter)="checkState($event, button)"
    >
      {{ option.label }}
    </mat-radio-button>
  </mat-radio-group>
</div>
