.radio-group-wrapper {

  .mat-radio-button {
    margin-right: 1.5em;
    margin-bottom: 1em;
  }

  .mat-radio-button.column {
    margin-bottom: 0;
  }

  .mat-radio-button.column .mat-radio-label {
    display: flex;
    flex-direction: column;

    .mat-radio-label-content {
      padding: 0;
      text-align: center;
      word-break: break-word;
      white-space: pre-wrap;
      margin-top: 0.5rem;
    }
  }
}
