<ng-container *ngIf="props['enableCarousel']; else repeatAll">
  <div
    class="repeat-wrapper-carousel-container"
    [ngClass]="{
      horizontal: (props['carouselDirection'] ?? defaults.carouselDirection) === 'horizontal',
      vertical: (props['carouselDirection'] ?? defaults.carouselDirection) === 'vertical',
      'horizontal-controls': (props['carouselControlDirection'] ?? defaults.carouselDirection) === 'horizontal',
      'vertical-controls': (props['carouselControlDirection'] ?? defaults.carouselDirection) === 'vertical'
    }"
    [style.padding-left]="paddingLeft"
    [style.padding-right]="paddingRight"
    [style.padding-top]="paddingTop"
    [style.padding-bottom]="paddingBottom"
  >
    <div
      class="repeat-wrapper-carousel-control prev"
      *ngIf="!props['carouselGroupControls'] || props['carouselGroupControls'] === 'previous'"
    >
      <button
        type="button"
        (click)="prev($event)"
        mat-icon-button
        [style.width]="controlSize"
        [style.height]="controlSize"
        [attr.aria-label]="ariaLabelPrev"
      >
        <mat-icon
          [icon]="
            (props['carouselDirection'] ?? defaults.carouselDirection) === 'horizontal' ? 'chevron_left' : 'expand_less'
          "
          [size]="controlSize"
        ></mat-icon>
      </button>

      <button
        *ngIf="props['carouselGroupControls'] === 'previous'"
        type="button"
        (click)="next($event)"
        mat-icon-button
        [style.width]="controlSize"
        [style.height]="controlSize"
        [attr.aria-label]="ariaLabelNext"
      >
        <mat-icon
          [icon]="
            (props['carouselDirection'] ?? defaults.carouselDirection) === 'horizontal'
              ? 'chevron_right'
              : 'expand_more'
          "
          [size]="controlSize"
        ></mat-icon>
      </button>
    </div>

    <div #slides class="slides" [style.max-height]="props['carouselMaxHeight']">
      <ng-container *ngFor="let field of field.fieldGroup; let i = index">
        <formly-field
          *ngIf="slideHeightCss"
          [field]="field"
          class="slide"
          [id]="'slide-' + i"
          [style.place-content]="contentPosition"
          [style.max-height]="slideHeightCss"
          [style.width]="props['carouselItemWidth']"
        >
        </formly-field>
      </ng-container>
    </div>
    <div class="pips-locator" *ngIf="props['showPips']">
      <ni-pips
        [length]="field.fieldGroup?.length"
        [currIndex]="props['carouselIndex']"
        (pipClicked)="handlePipClick($event)"
      ></ni-pips>
    </div>

    <div
      class="repeat-wrapper-carousel-control next"
      *ngIf="!props['carouselGroupControls'] || props['carouselGroupControls'] === 'next'"
    >
      <button
        *ngIf="props['carouselGroupControls'] === 'next'"
        type="button"
        (click)="prev($event)"
        mat-icon-button
        [style.width]="controlSize"
        [style.height]="controlSize"
        [attr.aria-label]="ariaLabelPrev"
      >
        <mat-icon
          [icon]="
            (props['carouselDirection'] ?? defaults.carouselDirection) === 'horizontal' ? 'chevron_left' : 'expand_less'
          "
          [size]="controlSize"
        ></mat-icon>
      </button>

      <button
        type="button"
        (click)="next($event)"
        mat-icon-button
        [style.width]="controlSize"
        [style.height]="controlSize"
        [attr.aria-label]="ariaLabelNext"
      >
        <mat-icon
          [icon]="
            (props['carouselDirection'] ?? defaults.carouselDirection) === 'horizontal'
              ? 'chevron_right'
              : 'expand_more'
          "
          [size]="controlSize"
        ></mat-icon>
      </button>
    </div>
  </div>
</ng-container>

<ng-template #repeatAll>
  <ng-container *ngIf="props['layoutType'] === 'flex'; else grid">
    <div class="repeat-wrapper-flex">
      <ng-container *ngFor="let field of field.fieldGroup; let i = index">
        <div class="item-field" [ngClass]="{ 'item-field-margin': props['marginOnItems'] ?? defaults.marginOnItems }">
          <formly-field [field]="field"></formly-field>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <ng-template #grid>
    <div
      class="repeat-wrapper-grid"
      [gdGap]="gap"
      [gdColumns.lt-md]="getColumns(sm)"
      [gdColumns.md]="getColumns(md)"
      [gdColumns.gt-md]="getColumns(lg)"
    >
      <ng-container *ngFor="let field of field.fieldGroup; let i = index">
        <formly-field [field]="field" class="item-field"></formly-field>
      </ng-container>
    </div>
  </ng-template>
</ng-template>

<p *ngIf="field && field.fieldGroup && field.fieldGroup.length < 1 && props['showNoDataMessage']">
  {{ props['noData'] ?? defaults.noData }}
</p>
