:host {
  display: block;
  width: 100%;
}

.pips-locator {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.repeat-wrapper-grid {
  display: grid;
  padding: 0.2rem 0 0.2rem 0.2rem;
}

.repeat-wrapper-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .item-field-margin {
    margin: 0 1rem 1rem 0;
  }
}

.slides {
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;

  .slide {
    flex-shrink: 0;
    max-width: 100%;
    max-height: 100%;
    display: flex !important;
    flex-direction: row;
    padding: 0.5rem;
    box-sizing: inherit;
  }
}

.repeat-wrapper-carousel-container {
  position: relative;
  height: 100%;
}

.repeat-wrapper-carousel-control {
  position: absolute;
  display: flex;

  button {
    line-height: 1;
  }
}

.horizontal-controls .repeat-wrapper-carousel-control {
  top: 50%;
  transform: translateY(-50%);
  flex-direction: column;

  &.prev {
    left: var(--control-indent);
  }

  &.next {
    right: var(--control-indent);
  }
}

.vertical-controls .repeat-wrapper-carousel-control {
  left: 50%;
  transform: translateX(-50%);
  flex-direction: row;

  &.prev {
    top: var(--control-indent);
  }

  &.next {
    bottom: var(--control-indent);
  }
}

.horizontal .slides {
  flex-direction: row;
}

.vertical .slides {
  flex-direction: column;
}
