<div class="person-view">
  <ni-person
    *ngIf="!isEmpty; else elseBlock"
    [person]="person"
    [imageSize]="imageSize"
    [fields]="fields"
    [photoProp]="photoProp"
    [initialsProp]="initialsProp"
  >
  </ni-person>
  <ng-template #elseBlock>
    <div class="no-person">
      <mat-icon
        icon="fas fa-user-circle"
        [size]="noImageSize"
        [scale]="false"
        class="no-person-image fa-nobody"
      ></mat-icon>
      <div class="no-data-value">{{ isEmptyText }}</div>
    </div>
  </ng-template>
</div>
