<ni-page title="Search Lookups">
  <mat-card>
    <mat-form-field>
      <input matInput type="text" #input placeholder="Enter Guid or regex to filter" />
    </mat-form-field>
    <span class="orspan">or</span>
    <mat-form-field appearance="outline">
      <mat-label>Select an Lookup Type</mat-label>
      <mat-select (selectionChange)="onItemSelected($event.value)">
        <mat-option [value]="null">None</mat-option>
        <mat-option *ngFor="let item of lookupType" [value]="item">{{ item }}</mat-option>
      </mat-select>
    </mat-form-field>
    <p>Search can be either a LookupId or a regex formatted : /regex/flags (forward slashes are required for regex)</p>
  </mat-card>
  <pre
    >{{ lookups | json }}
  </pre>
</ni-page>
