:host {
  display: block;
}

.list-action-wrapper {
  .mat-paginator-container {
    justify-content: center;
    margin-top: 1rem;

    .mat-form-field-wrapper {
      padding: 0;
    }
  }
}

.list-action-wrapper-actions {
  text-align: right;
}
