<div class="list-action-wrapper">
  <ng-content></ng-content>
  <div *ngIf="itemCount > 0" class="list-action-wrapper-actions">
    <button
      mat-raised-button
      type="button"
      color="primary"
      [attr.aria-label]="actionLabel"
      (click)="onActionClick()"
      [disabled]="selectedItems.length === 0"
    >
      {{ actionLabel }}
    </button>
  </div>
</div>
