@use '@angular/material' as mat;

@mixin attachment-color($color, $variables) {
  $foreground: map-get($color, foreground);
  $is-dark-theme: map-get($color, is-dark);
  $border-color: mat.get-color-from-palette($foreground, divider, if($is-dark-theme, 0.3, 0.12));
  .attachment-details {
    span + span {
      border-left: 1px solid $border-color;
    }
  }
}

@mixin attachment-typography($typography, $variables) {
}

@mixin attachment-theme($color, $typography, $variables) {
  @include attachment-color($color, $variables);
  @include attachment-typography($typography, $variables);
}
