@use '@angular/material' as mat;

@mixin button-dialog-color($color, $variables) {
  $primary-color: mat.get-color-from-palette(map-get($color, primary));
  $is-dark-theme: map-get($color, is-dark);

  .button-dialog-wrapper {
    @if ($is-dark-theme) {
      .feedback {
        background: $primary-color;
      }
    } @else {
      .feedback {
        color: $primary-color;
      }
    }
  }
}

@mixin button-dialog-typography($typography, $variables) {
}

@mixin button-dialog-theme($color, $typography, $variables) {
  @include button-dialog-color($color, $variables);
  @include button-dialog-typography($typography, $variables);
}
