@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin card-list-wrapper-color($color, $variables) {
  $primary-color: mat.get-color-from-palette(map-get($color, primary));

  .card-list-wrapper {
    button {
      color: $primary-color;
    }

    .mat-badge-content {
      background-color: #ff9010;
    }
  }
}

@mixin card-list-wrapper-typography($typography, $variables) {
  .card-list-wrapper {
    .mat-card-title {
      font-weight: mat.font-weight($typography, 'subheading-2');
      font-size: mat.font-size($typography, 'subheading-2');
    }
  }
}

@mixin card-list-wrapper-theme($color, $typography, $variables) {
  @include card-list-wrapper-color($color, $variables);
  @include card-list-wrapper-typography($typography, $variables);
}
