@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin card-wrapper-color($color, $variables) {
  $primary-color: mat.get-color-from-palette(map-get($color, primary));
  $background: map-get($color, background);
  $background-color: mat.get-color-from-palette($background, card);

  .card-wrapper {

    &.alt {
      background-color: lighten($background-color, 5%);
    }

    &.card-wrapper-hover:hover {
      background-color: $primary-color;
    }
  }
}

@mixin card-wrapper-typography($typography, $variables) {
  .card-wrapper {
    .mat-card-title {
      font-weight: mat.font-weight($typography, 'subheading-2');
      font-size: mat.font-size($typography, 'subheading-2');
    }
  }
}

@mixin card-wrapper-theme($color, $typography, $variables) {
  @include card-wrapper-color($color, $variables);
  @include card-wrapper-typography($typography, $variables);
}
