@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin chart-bar-type-color($color, $variables) {
  $text-color: map-get(map-get($color, foreground), text);

  .chart-bar {

    &.themed-labels {

      text[id*='_AxisLabel_'] {
        fill: $text-color;
      }
    }
  }
}

@mixin chart-bar-type-typography($typography, $variables) {

}

@mixin chart-bar-type-theme($color, $typography, $variables) {
  @include chart-bar-type-color($color, $variables);
  @include chart-bar-type-typography($typography, $variables);
}
