@use '@angular/material' as mat;

@mixin chart-pie-type-color($color, $variables) {
  $accent-color: mat.get-color-from-palette(map-get($color, accent));
  $text-color: map-get(map-get($color, foreground), text);

  .chart-pie {

    .center-title,
    .center-sub-title {
      color: $accent-color;
    }

    text[id*='chart_legend_text'] {
      fill: $text-color;
    }
  }
}

@mixin chart-pie-type-typography($typography, $variables) {

}

@mixin chart-pie-type-theme($color, $typography, $variables) {
  @include chart-pie-type-color($color, $variables);
  @include chart-pie-type-typography($typography, $variables);
}
