@use '@angular/material' as mat;

@mixin circular-gauge-type-color($color, $variables) {
  $accent-color: mat.get-color-from-palette(map-get($color, accent));

  .circular-gauge {
    .center-titles {
      color: $accent-color;
    }
  }
}

@mixin circular-gauge-type-typography($typography, $variables) {
  .circular-gauge {
    .center-title {
      font-size: 40px;
    }

    .circular-gauge-legend {
      font-size: 18px;
    }
  }
}

@mixin circular-gauge-type-theme($color, $typography, $variables) {
  @include circular-gauge-type-color($color, $variables);
  @include circular-gauge-type-typography($typography, $variables);
}
