@use '@angular/material' as mat;

@mixin date-range-picker-color($color, $variables) {
  $is-dark-theme: map-get($color, is-dark);
  $primary-color: mat.get-color-from-palette(map-get($color, primary));

  .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    background-color: $primary-color;
    color: white;
  }
}

@mixin date-range-picker-typography($typography, $variables) {
}

@mixin date-range-picker-theme($color, $typography, $variables) {
  @include date-range-picker-color($color, $variables);
  @include date-range-picker-typography($typography, $variables);
}
