@use '@angular/material' as mat;

@mixin data-table-color($color, $variables) {
  $is-dark-theme: map-get($color, is-dark);
  $foreground: map-get($color, foreground);
  $divider: mat.get-color-from-palette($foreground, divider);
  $disabled-text: mat.get-color-from-palette($foreground, disabled-text);

  .data-table {
    .placeholder {
      color: $disabled-text;
    }
  }
}

@mixin data-table-typography($typography, $variables) {
}

@mixin data-table-theme($color, $typography, $variables) {
  @include data-table-color($color, $variables);
  @include data-table-typography($typography, $variables);
}
