@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin date-list-view-type-color($color, $variables) {
  $primary: map-get($color, primary);
  $is-dark-theme: map-get($color, is-dark);

  .date-list-view {
    .text-view-container {
      background: mat-color($primary, if($is-dark-theme, 900, 50));
    }
  }
}

@mixin date-list-view-type-typography($typography, $variables) {
  .date-list-view {
    label {
      @include mat.typography-level($typography, 'caption');
    }

    .text-view {
      font-size: mat.font-size($typography, 'title');
      font-weight: 600;
      line-height: 1;
    }
  }
}

@mixin date-list-view-type-theme($color, $typography, $variables) {
  @include date-list-view-type-color($color, $variables);
  @include date-list-view-type-typography($typography, $variables);
}
