@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin dialog-list-color($color, $variables) {
  $is-dark-theme: map-get($color, is-dark);

  .dialog-list {
    @if not $is-dark-theme {
      color: #707070;
    }
  }
}

@mixin dialog-list-typography($typography, $variables) {
}

@mixin dialog-list-theme($color, $typography, $variables) {
  @include dialog-list-color($color, $variables);
  @include dialog-list-typography($typography, $variables);
}
