@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin divider-type-color($color, $variables) {
  $divider: mat.get-color-from-palette(map-get($color, foreground), divider);

  .divider {
    border-left-color: $divider;
  }
}

@mixin divider-type-typography($typography, $variables) {
}

@mixin divider-type-theme($color, $typography, $variables) {
  @include divider-type-color($color, $variables);
  @include divider-type-typography($typography, $variables);
}
