@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin entity-summary-type-color($color, $variables) {
  $divider: mat.get-color-from-palette(map-get($color, foreground), divider);
  $text: mat.get-color-from-palette(map-get($color, foreground), text);

  .entity-summary {

    .divider {
      background-color: $divider;
    }

    a:focus {
      outline-color: $text!important;
    }
  }
}

@mixin entity-summary-type-typography($typography, $variables) {
}

@mixin entity-summary-type-theme($color, $typography, $variables) {
  @include entity-summary-type-color($color, $variables);
  @include entity-summary-type-typography($typography, $variables);
}
