@use '@angular/material' as mat;

@mixin expander-wrapper-color($color, $variables) {
  $primary-color: mat.get-color-from-palette(map-get($color, primary));

  .expander-wrapper {
    &::-webkit-expanderbar-track {
      background-color: rgba(0, 0, 0, 0.25);
    }

    &::-webkit-expanderbar-thumb {
      background-color: $primary-color;
    }
  }
}
@mixin expander-wrapper-typography($typography, $variables) {
}

@mixin expander-wrapper-theme($color, $typography, $variables) {
  @include expander-wrapper-color($color, $variables);
  @include expander-wrapper-typography($typography, $variables);
}
