@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin fields-view-type-color($color, $variables) {
}

@mixin fields-view-type-typography($typography, $variables) {
  .field-view {
    .heading {
      @include mat.typography-level($typography, 'title');
    }
  }
}

@mixin fields-view-type-theme($color, $typography, $variables) {
  @include fields-view-type-color($color, $variables);
  @include fields-view-type-typography($typography, $variables);
}
