@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin filter-bar-color($color, $variables) {
  $primary-color: mat.get-color-from-palette(map-get($color, primary));
  $background: map-get($color, background);
  $foreground: map-get($color, foreground);
  $is-dark-theme: map-get($color, is-dark);
  $border-color: mat.get-color-from-palette($foreground, divider, if($is-dark-theme, 0.3, 0.12));
  .filter-bar {
    .show-bar {
      border-left: 1px solid $border-color;
    }
    display: flex;
    justify-content: flex-start;
  }
}

@mixin filter-bar-typography($typography, $variables) {
}

@mixin filter-bar-theme($color, $typography, $variables) {
  @include filter-bar-color($color, $variables);
  @include filter-bar-typography($typography, $variables);
}
