@use '@angular/material' as mat;

@mixin form-field-wrapper-color($color, $variables) {
  $background: map-get($color, background);

  .field-wrapper {
    .mat-form-field-appearance-outline {
      .mat-form-field-outline-start,
      .mat-form-field-outline-gap,
      .mat-form-field-outline-end {
        background-color: mat.get-color-from-palette($background, background);
      }
    }

    .mat-form-field-appearance-outline {
      &.mat-focused {
        .mat-form-field-outline-start,
        .mat-form-field-outline-gap,
        .mat-form-field-outline-end {
          background-color: mat.get-color-from-palette($background, card) !important;
        }
      }
    }
  }
}

@mixin form-field-wrapper-typography($typography, $variables) {
  .field-wrapper {
    .field-label:not(.field-label--small) {
      font-weight: bold;
      font-size: mat.font-size($typography, 'subheading-2');
    }

    .field-label--small {
      font-size: mat.font-size($typography, 'body-1');
    }
  }
}

@mixin form-field-wrapper-theme($color, $typography, $variables) {
  @include form-field-wrapper-color($color, $variables);
  @include form-field-wrapper-typography($typography, $variables);
}
