@use '@angular/material' as mat;

@mixin form-gallery-group-wrapper-color($color, $variables) {
  $foreground: map-get($color, foreground);
  $is-dark-theme: map-get($color, is-dark);
  $border-color: mat.get-color-from-palette($foreground, divider, if($is-dark-theme, 0.3, 0.12));
  .form-gallery-group {
    border: 1px solid $border-color;
  }
}
@mixin form-gallery-group-wrapper-typography($typography, $variables) {
}

@mixin form-gallery-group-wrapper-theme($color, $typography, $variables) {
  @include form-gallery-group-wrapper-color($color, $variables);
  @include form-gallery-group-wrapper-typography($typography, $variables);
}
