@use '@angular/material' as mat;

@mixin form-gallery-wrapper-color($color, $variables) {
  $background: map-get($color, background);
  $foreground: map-get($color, foreground);
  $is-dark-theme: map-get($color, is-dark);
  $border-color: mat.get-color-from-palette($foreground, divider, if($is-dark-theme, 0.3, 0.12));
  $background-color: mat.get-color-from-palette($background, status-bar);

  .form-gallery-wrapper:not(.grouped) {
    border: 1px solid $border-color;
  }

  .form-gallery-wrapper {
    &.grouped {
      border-top: 1px solid $border-color;
    }
  }

  .form-gallery-json {
    background-color: $background-color;
    border: 1px solid $border-color;
  }

  .form-gallery-api pre {
    background-color: $background-color;
    border: 1px solid $border-color;
  }
}
@mixin form-gallery-wrapper-typography($typography, $variables) {
}

@mixin form-gallery-wrapper-theme($color, $typography, $variables) {
  @include form-gallery-wrapper-color($color, $variables);
  @include form-gallery-wrapper-typography($typography, $variables);
}
