@use '@angular/material' as mat;

@mixin formly-sandbox-color($color, $variables) {
  $is-dark-theme: map-get($color, is-dark);

  .sandbox-container {
    .input-container {
      @if ($is-dark-theme) {
        background-color: #424242;

        textarea {
          background-color: #424242;
          color: white;
        }
      } @else {
        background-color: white;
      }
    }
  }
}

@mixin formly-sandbox-typography($typography, $variables) {
}

@mixin formly-sandbox-theme($color, $typography, $variables) {
  @include formly-sandbox-color($color, $variables);
  @include formly-sandbox-typography($typography, $variables);
}
