@use '@angular/material' as mat;
@import '@angular/material/theming';
@mixin icon-text-inline-color($color, $variables) {
  $primary-color: mat.get-color-from-palette(map-get($color, primary));
  .icon-text-inline {
    .info {
      color: $primary-color;
    }
    .warning {
      color: $warn;
    }
    .success {
      color: $success;
    }
    .danger {
      color: $danger;
    }
  }
}
@mixin icon-text-inline-typography($typography, $variables) {
}

@mixin icon-text-inline-theme($color, $typography, $variables) {
  @include icon-text-inline-color($color, $variables);
  @include icon-text-inline-typography($typography, $variables);
}
