@use '@angular/material' as mat;

@mixin identification-color($color, $variables) {
  $warn: map-get($variables, action);
  .identification-component {
    #action-label {
      color: $warn;
    }
  }
}

@mixin identification-typography($typography, $variables) {
}

@mixin identification-theme($color, $typography, $variables) {
  @include identification-color($color, $variables);
  @include identification-typography($typography, $variables);
}
