@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin image-check-type-color($color, $variables) {
  $primary-color: mat.get-color-from-palette(map-get($color, primary));
  $background-color: mat.get-color-from-palette(map-get($color, foreground), divider);

  .image-check-wrapper {
    .remove {
      color: $primary-color;
    }

    .fa-circle {
      color: white;
    }

    .image-wrapper {
      background-color: $background-color;
    }
  }
}

@mixin image-check-type-typography($typography, $variables) {
}

@mixin image-check-type-theme($color, $typography, $variables) {
  @include image-check-type-color($color, $variables);
  @include image-check-type-typography($typography, $variables);
}
