@use '@angular/material' as mat;

@mixin inline-calendar-color($color, $variables) {
  $primary-color: mat.get-color-from-palette(map-get($color, primary));
  $accent-color: mat.get-color-from-palette(map-get($color, accent));
  $warn-color: mat.get-color-from-palette(map-get($color, warn));

  $foreground: map-get($color, foreground);
  $is-dark-theme: map-get($color, is-dark);
  $grey: mat.get-color-from-palette($foreground, divider, if($is-dark-theme, 0.3, 0.12));

  .inline-calendar {
    .inline-calendar-active {
      color: $primary-color;
    }

    .inline-calendar-title {
      .title-text {
        color: $primary-color;
      }
    }

    .material-calendar-wrapper {
      .mat-calendar-body-today {
        color: $primary-color !important;
      }

      .past .mat-calendar-body-cell-content {
        color: $grey !important;
      }

      .task-date {
        &::after {
          background-color: $primary-color !important;
        }

        &.overdue::after {
          background-color: $warn-color !important;
        }
      }
    }
  }
}

@mixin inline-calendar-typography($typography, $variables) {
}

@mixin inline-calendar-theme($color, $typography, $variables) {
  @include inline-calendar-color($color, $variables);
  @include inline-calendar-typography($typography, $variables);
}
