@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin jumbo-link-type-color($color, $variables) {
  $primary-color: mat.get-color-from-palette(map-get($color, primary));
  $background: map-get($color, background);
  $background-color: mat.get-color-from-palette($background, card);

  .jumbo-link {

    .mat-icon {
      color: $primary-color;
    }
  }

  .jumbo-link-bookmark .mat-icon {
    color: $primary-color
  }

  .jumbo-link:not(.jumbo-link-fill) {
    color: $primary-color;
  }

  .jumbo-link-fill {
    background-color: $primary-color;
    color: white;

    &:hover {
      background-color: darken($primary-color, 10%);

      .mat-icon {
        color: darken($primary-color, 10%);
      }
    }

    .mat-icon {
      background-color: $background-color;
    }
  }
}

@mixin jumbo-link-type-typography($typography, $variables) {

  .jumbo-link {
    font-size: 20px;
  }
}

@mixin jumbo-link-type-theme($color, $typography, $variables) {
  @include jumbo-link-type-color($color, $variables);
  @include jumbo-link-type-typography($typography, $variables);
}
