@use '@angular/material' as mat;

@mixin layout-choice-color($color, $variables) {
  $primary-color: mat.get-color-from-palette(map-get($color, primary));

  .layout-choice {

    .active {
      color: $primary-color;
    }
  }
}

@mixin layout-choice-typography($typography, $variables) {
}

@mixin layout-choice-theme($color, $typography, $variables) {
  @include layout-choice-color($color, $variables);
  @include layout-choice-typography($typography, $variables);
}
