@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin list-summary-view-color($color, $variables) {
  $primary-color: mat.get-color-from-palette(map-get($color, primary));

  .list-summary-view {
    .count,
    .mat-icon {
      color: $primary-color;
    }
  }
}

@mixin list-summary-view-typography($typography, $variables) {
}

@mixin list-summary-view-theme($color, $typography, $variables) {
  @include message-color($color, $variables);
  @include message-typography($typography, $variables);
}
