@use '@angular/material' as mat;

@mixin list-filter-wrapper-color($color, $variables) {
  $accent-color: mat.get-color-from-palette(map-get($color, accent));

  ni-list-filter-wrapper {

    .title {
      color: $accent-color;
    }
  }

}
@mixin list-filter-wrapper-typography($typography, $variables) {
}

@mixin list-filter-wrapper-theme($color, $typography, $variables) {
  @include list-filter-wrapper-color($color, $variables);
  @include list-filter-wrapper-typography($typography, $variables);
}
