@use '@angular/material' as mat;

@mixin loading-color($color, $variables) {
  .overlay {
    background-color: gray;
  }

  .custom-loader {
    border-color: #0000;
    border-top-color: #e8610c;
  }

  .custom-loader::before,
  .custom-loader::after {
    border-top-color: #e8610c;
  }
}

@mixin loading-typography($typography, $variables) {

}

@mixin loading-theme($color, $typography, $variables) {
  @include loading-color($color, $variables);
  @include loading-typography($typography, $variables);
}
