@use '@angular/material' as mat;

@mixin mapping-sandbox-color($color, $variables) {
  $is-dark-theme: map-get($color, is-dark);

  .mapping-container {
    .input-container {
      @if ($is-dark-theme) {
        background-color: #424242;

        textarea {
          background-color: #424242;
          color: white;
        }
      } @else {
        background-color: white;
      }
    }

    pre {
      @if ($is-dark-theme) {
        background-color: #424242;
        color: white;
      } @else {
        background-color: white;
      }
    }
  }
}

@mixin mapping-sandbox-typography($typography, $variables) {
}

@mixin mapping-sandbox-theme($color, $typography, $variables) {
  @include mapping-sandbox-color($color, $variables);
  @include mapping-sandbox-typography($typography, $variables);
}
