@use '@angular/material' as mat;

@mixin menu-list-item-color($color, $variables) {
  $primary: map-get($color, primary);
  $primary-color: mat.get-color-from-palette($primary);

  .menu-list-item {
    border-left: 0px solid transparent;
    transition: border-left 0.2s ease-out;

    .mat-nav-list .mat-list-item {
      cursor: pointer;
    }

    &.expanded {
      background-color: $expanded-menu-bg;

      .mat-icon {
        color: $primary-color;
      }

      & + div {
        background-color: $expanded-menu-bg;
      }
    }

    .mat-list-item-content {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0 1rem !important;
      white-space: nowrap;
    }

    .mat-list-item.active {
      color: $primary-color;
      border-left: 4px solid $primary-color;
    }
    &:hover,
    &:focus {
      > .mat-list-item:not(.expanded) {
        border-left: 4px solid $primary-color;
        .mat-icon {
          color: $primary-color;
        }
      }
    }
  }
}

@mixin menu-list-item-typography($typography, $variables) {
  .menu-list-item {
    font-size: mat.font-size($typography, 'subheading-2');
  }
}

@mixin menu-list-item-theme($color, $typography, $variables) {
  @include menu-list-item-color($color, $variables);
  @include menu-list-item-typography($typography, $variables);
}
