@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin message-bar-color($color, $variables) {
  $primary-color: mat.get-color-from-palette(map-get($color, primary));
  $background: map-get($color, background);
  $foreground: map-get($color, foreground);
  $is-dark-theme: map-get($color, is-dark);
  $border-color: mat.get-color-from-palette($foreground, divider, if($is-dark-theme, 0.3, 0.12));
  $button-lowlight: map-get($variables, 'button-lowlight');
  $input-background: map-get($variables, 'input-background');
  $background-color: mat.get-color-from-palette($background, card);

  .message-bar {
    border-top: lightgray 1px solid;

    .mat-button:disabled {
      color: gray;
    }

    .new-message {
      background-color: $primary-color;

      .mat-button {
        min-width: 51px;
      }

      .mat-button.attach {
        margin-left: 1rem;
      }

      .mat-button.attach:before {
        content: '';
        position: absolute;
        top: 1rem;
        bottom: 1rem;
        width: 1px;
        left: -8px;
        margin: 0;
        border-left: 2px solid $button-lowlight;
      }

      .inner {
        .mat-button {
          color: $button-lowlight;
        }
      }
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
      background-color: $background-color;
      border-radius: 5px;
    }
  }
}

@mixin message-bar-typography($typography, $variables) {
}

@mixin message-bar-theme($color, $typography, $variables) {
  @include message-bar-color($color, $variables);
  @include message-bar-typography($typography, $variables);
}
