@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin message-color($color, $variables) {
  $primary-color: mat.get-color-from-palette(map-get($color, primary));
  $foreground: map-get($color, foreground);
  $is-dark-theme: map-get($color, is-dark);
  $border-color: mat.get-color-from-palette($foreground, divider, if($is-dark-theme, 0.3, 0.12));
  $message-unread: map-get($variables, 'message-unread');

  .message-container {
    padding: 1rem 1rem 1rem 1rem;
    border-bottom: 1px solid $border-color;
    &.message-unread {
      background-color: $message-unread;
    }
    .message-info {
      margin: 0.2rem 1rem;
      .header {
        font-weight: 700;
      }
    }
    .message-top {
      margin-bottom: 0.2rem;
    }
  }
}

@mixin message-typography($typography, $variables) {
}

@mixin message-theme($color, $typography, $variables) {
  @include message-color($color, $variables);
  @include message-typography($typography, $variables);
}
