@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin note-color($color, $variables) {
  $primary-color: mat.get-color-from-palette(map-get($color, primary));
  $is-dark-theme: map-get($color, is-dark);

  .note {
    @if ($is-dark-theme) {
      background: #303030;

      .note-content-wrapper {
        background-color: #424242;

        &:before {
          border-color: transparent #424242 transparent transparent;
        }
      }
    } @else {
      background: lighten($primary-color, 50%);

      .note-content-wrapper {
        background-color: white;

        &:before {
          border-color: transparent white transparent transparent;
        }
      }
    }
  }
}

@mixin note-typography($typography, $variables) {
}

@mixin note-theme($color, $typography, $variables) {
  @include note-color($color, $variables);
  @include note-typography($typography, $variables);
}
