@use '@angular/material' as mat;

@mixin person-view-type-color($color, $variables) {
  $foreground: map-get($color, foreground);
  $disabled-color: mat.get-color-from-palette($foreground, disabled);

  .person-view {
    .no-person {
      color: $disabled-color;
    }
  }
}
@mixin person-view-type-typography($typography, $variables) {
}

@mixin person-view-type-theme($color, $typography, $variables) {
  @include person-view-type-color($color, $variables);
  @include person-view-type-typography($typography, $variables);
}
