@use '@angular/material' as mat;

@mixin progress-type-color($color, $variables) {
  $primary-color: mat.get-color-from-palette(map-get($color, primary));

  .progress-container {
    progress::-webkit-progress-bar {
      background-color: rgba(0, 0, 0, 0.25);
    }

    &:not(.custom-colour) {
      progress::-webkit-progress-value {
        background-color: $primary-color;
      }
    }
  }
}
@mixin progress-type-typography($typography, $variables) {
}

@mixin progress-type-theme($color, $typography, $variables) {
  @include progress-type-color($color, $variables);
  @include progress-type-typography($typography, $variables);
}
