@use '@angular/material' as mat;

@mixin rich-fields-view-type-color($color, $variables) {
}

@mixin rich-fields-view-type-typography($typography, $variables) {
  .rich-fields-view {
    .rich-fields-value {
      font-size: mat.font-size($typography, 'subheading-2');
    }

    .rich-fields-label {
      font-size: mat.font-size($typography, 'body-2');
      font-weight: 700;
    }
  }
}

@mixin rich-fields-view-type-theme($color, $typography, $variables) {
  @include rich-fields-view-type-color($color, $variables);
  @include rich-fields-view-type-typography($typography, $variables);
}
