@use '@angular/material' as mat;

@mixin scroll-wrapper-color($color, $variables) {
  $primary-color: mat.get-color-from-palette(map-get($color, primary));

  .scroll-wrapper {

    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.25);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary-color;
    }
  }
}
@mixin scroll-wrapper-typography($typography, $variables) {
}

@mixin scroll-wrapper-theme($color, $typography, $variables) {
  @include scroll-wrapper-color($color, $variables);
  @include scroll-wrapper-typography($typography, $variables);
}
