@use '@angular/material' as mat;

@mixin task-summary-type-color($color, $variables) {
  $warn-color: mat.get-color-from-palette(map-get($color, warn));
  .task-summary {
    .overdue {
      color: $warn-color;
    }
  }
}

@mixin task-summary-type-typography($typography, $variables) {
}

@mixin task-summary-type-theme($color, $typography, $variables) {
  @include task-summary-type-color($color, $variables);
  @include task-summary-type-typography($typography, $variables);
}
