@use '@angular/material' as mat;
@import '@angular/material/theming';
@mixin text-panel-color($color, $variables) {
  $primary-color: mat.get-color-from-palette(map-get($color, primary));

  .panel-alert-info {
    @include alert-variant($info, $info, $info-opposite);
    color: $primary-color;
  }
  .panel-alert-warning {
    @include alert-variant($warn, $warn, $warn-opposite);
    color: $warn;
  }
  .panel-alert-success {
    @include alert-variant($success, $success, $success-opposite);
    color: $success;
  }
  .panel-alert-danger {
    @include alert-variant($danger, $danger, $danger-opposite);
    color: $danger;
  }
}
@mixin text-panel-typography($typography, $variables) {
}

@mixin text-panel-theme($color, $typography, $variables) {
  @include text-panel-color($color, $variables);
  @include text-panel-typography($typography, $variables);
}
