@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin unidentified-subject-color($color, $variables) {
  $primary: map-get($color, primary);
  $is-dark-theme: map-get($color, is-dark);
  $viewed-color: map-get($variables, viewed);
  $foreground: map-get($color, foreground);
  $not-viewed-color: map-get($foreground, divider);

  .unident-subject {
    &:hover,
    &:focus {
      background-color: mat-color($primary, if($is-dark-theme, 900, 50));
    }

    .viewed {
      color: $viewed-color;
    }

    .not-viewed {
      color: $not-viewed-color;
    }
  }
}

@mixin unidentified-subject-typography($typography, $variables) {
}

@mixin unidentified-subject-theme($color, $typography, $variables) {
  @include unidentified-subject-color($color, $variables);
  @include unidentified-subject-typography($typography, $variables);
}
