<mat-form-field [appearance]="appearance" [color]="color" [style.width]="'100%'">
  <mat-date-range-input [rangePicker]="picker" [required]="required || false" [attr.aria-label]="ariaLabel">
    <input
      matStartDate
      [placeholder]="startDate"
      [formControl]="start"
      [required]="required || false"
      [readonly]="readonly"
      (dateChange)="onDateSelection()"
    />
    <input
      matEndDate
      [placeholder]="endDate"
      [formControl]="end"
      [required]="required || false"
      [readonly]="readonly"
      (dateChange)="onDateSelection()"
    />
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker" [showQuickLinks]="showQuickLinks"></mat-datepicker-toggle>
  <mat-date-range-picker #picker [disabled]="readonly"></mat-date-range-picker>
</mat-form-field>

<mat-radio-group *ngIf="showQuickLinks && showQuickLinkScope" (change)="changeNegative($event)">
  <mat-radio-button [value]="true" [checked]="this.negative.value === false">Within Range</mat-radio-button>
  <mat-radio-button [value]="false" [checked]="this.negative.value === true">Outside Range</mat-radio-button>
</mat-radio-group>
