<div
  class="chart-position chart-bar"
  [style.place-content]="flexPosition"
  *ngIf="hasData; else noData"
  [ngClass]="{ 'themed-labels': useThemeForLabels }"
>
  <div class="chart-wrapper">
    <ejs-chart
      style="display: block"
      [style.width]="width"
      [style.height]="height"
      [chartArea]="chartArea"
      [primaryXAxis]="xAxisGetter"
      [primaryYAxis]="yAxisGetter"
      [tooltip]="tooltip"
      [title]="title"
      [subTitle]="subTitle"
      [enableAnimation]="enableAnimation"
      selectionMode="Point"
      (pointRender)="pointRender($event)"
      (pointClick)="onPointClick($event)"
    >
      <e-series-collection>
        <e-series
          *ngIf="data"
          [dataSource]="data"
          [type]="barTypeGetter"
          xName="name"
          yName="value"
          pointColorMapping="colour"
          [marker]="marker"
          [columnWidth]="data.length === 1 ? singleColumnWidth : columnWidth"
          [columnSpacing]="columnSpacing"
        >
        </e-series>
      </e-series-collection>
    </ejs-chart>
  </div>
</div>

<ng-template #noData>
  <p>No Data</p>
</ng-template>
