ni-chart-bar-type {
  height: 100%;
}

.chart-bar {
  display: flex;
  flex-direction: row;

  &.chart-position {
    width: 100%;
    height: 100%;
  }

  .control-fluid {
    padding: 0px !important;
  }

  .chart-wrapper {
    width: 100%;
  }

  // Required for transparent backgrounds
  // ChartArea background should be transparent by default: https://ej2.syncfusion.com/angular/documentation/api/chart/chartArea/
  // But for whatever reason the rect elements have fill="#fff" by default and changing the background property doesn't work
  rect {
    fill: transparent !important;
  }
}
