:host {
  display: block;
  width: 100%;
}

.message-bar {
  margin-left: -1rem;
  margin-right: -1rem;
  position: relative;

  .flex-container {
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;

    button span {
      display: flex;
      flex-direction: column;
      margin: 0 2rem;

      mat-icon {
        margin: auto;
      }
    }

    .disabled {
      pointer-events: none;

      mat-icon, span {
        color: grey; //Used this way so 'All' can now be tabbed in to and read for aria.
      }
    }
  }

  mat-form-field {
    width: 100%;
    min-width: 0; // Required so that the input will shrink when messages component is within a thin space
  }

  .new-message {
    position: absolute;
    box-sizing: border-box;
    top: -86.75px; // Make sure this number matches the height of the new message box
    width: 100%;
    padding: 1rem;

    .inner {
      display: flex;
      justify-content: space-between;
      position: relative;
    }
  }

  .mat-form-field-appearance-outline .mat-form-field-flex {
    margin-top: 0;
  }

  .message-form-field .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}
