<div class="message-bar">
  <div class="new-message" *ngIf="isOpen" cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
    <div class="inner">
      <mat-form-field [appearance]="'outline'" class="message-form-field">
        <input
          matInput
          id="messageText"
          type="text"
          autocomplete="off"
          [formControl]="messageText"
          placeholder="Enter message text"
          cdkFocusInitial
        />
      </mat-form-field>
      <button mat-button type="button" aria-label="Send message" (click)="sendMessage()" (keyup.enter)="sendMessage()">
        <mat-icon>send</mat-icon>
      </button>
      <button
        mat-button
        type="button"
        aria-label="Attach file"
        (click)="attachFile()"
        (keyup.enter)="attachFile()"
        class="attach"
      >
        <mat-icon>file_upload</mat-icon>
      </button>
      <button mat-button type="button" aria-label="Close" (click)="close()" (keyup.enter)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <div class="flex-container">
    <button
      class="disabled"
      mat-button
      type="button"
      aria-disabled="true"
      [attr.aria-label]="'All messages ' + messageCount"
    >
      <mat-icon>drafts</mat-icon>
      <span>All ({{ messageCount }})</span>
    </button>
    <button mat-button type="button" (click)="newMessage()" (keyup.enter)="newMessage()" aria-label="New message">
      <mat-icon>add</mat-icon>
      <span>New</span>
    </button>
  </div>
</div>
