<div class="image-check-wrapper">
  <div class="image-wrapper" [style.margin]="margins" [style.min-width]="minWidth" [style.min-height]="minHeight">
    <img
      *ngIf="watermark; else plain"
      [src]="value | entityMedia: width:height:maintainAspect"
      [alt]="text || ''"
      [id]="value"
    />

    <ng-template #plain>
      <img *ngIf="imageUrl" [src]="imageUrl" [alt]="text || ''" [attr.width]="width" [attr.height]="height" />
    </ng-template>
  </div>

  <mat-checkbox
    *ngIf="!isRemoveOnly; else remove"
    class="check jumbo light-bg"
    (change)="onCheckChange()"
    [checked]="isSelected"
  ></mat-checkbox>

  <ng-template #remove>
    <button mat-icon-button type="button" class="remove" aria-label="Remove Image" (click)="onRemove()">
      <span class="fa-stack">
        <mat-icon class="fa-stack-1x mat-icon-bg" [icon]="'fas fa-circle'" [size]="'16px'"></mat-icon>
        <mat-icon class="fa-stack-1x" [icon]="'fas fa-times-circle'" [size]="'20px'"></mat-icon>
      </span>
    </button>
  </ng-template>
</div>
