:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-check-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 100%;

  .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    display: block;
    max-width: 100%;
  }
}

.check {
  position: absolute;
  top: 23px;
  right: 25px;
}

.remove {
  position: absolute;
  top: 0;
  right: 0;
}

// various hacks to get fa-stack to play nice with mat-icon-button

.fa-stack {
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.mat-icon {
  line-height: 1;
}

.mat-icon-button {
  width: 30px;
  height: 30px;
  line-height: 1;
}

.mat-icon-bg {
  margin-left: 2px;
}
