.entity-add {

  label {
    display: block;
  }

  button {
    background: none;
    border: 0;
    appearance: none;
    padding: 0;
    cursor: pointer;
  }

  .entities {
    margin-top: 1rem;

    button + button {
      margin-left: 2rem;
    }
  }
}
