<div class="entity-add">
  <label>Entities</label>
  <div class="entities">
    <ng-container *ngFor="let entity of entities">
      <button (click)="addOrSearch(entity)" type="button">
        <ni-icon-text
          [icon]="entity.icon"
          [subIcon]="entity.subIcon"
          [text]="entity.text"
          [count]="entity.count"
        ></ni-icon-text>
      </button>
    </ng-container>
  </div>
</div>
