<div
  *ngIf="formControl?.value || text || alwaysShowLabel"
  class="text-view-container"
  [class]="classNames || ''"
  [ngClass]="{ 'single-line': singleLine }"
>
  <mat-icon *ngIf="icon" [icon]="icon"></mat-icon>
  <div class="text-wrapper">
    <label *ngIf="alwaysShowLabel || (label && (formControl?.value || text))" [class]="labelClass">{{ label }}</label>
    <div
      class="text"
      [style.display]="inlineText ? 'inline' : 'block'"
      ni-format
      [dataType]="dataType"
      [value]="text || formControl?.value"
    ></div>
  </div>
</div>
