div {
  white-space: pre-wrap;
  word-break: break-word;
}

.text-view-container {
  display: flex;
  flex-flow: row wrap;
  place-content: center flex-start;
  align-items: center;
  flex: 1 1 auto;
}

.heading {
  font-weight: 700;
}

.large-heading {
  font-size: 20px;
  margin-bottom: 1rem;

  mat-icon {
    margin-right: 0.5rem;
  }
}

.sub-heading {
  font-size: 18px;

  mat-icon {
    margin-right: 0.5rem;
  }
}

mat-icon {
  display: flex;
  align-items: center;
}

.large {
  font-size: 18px;

  .text {
    margin-left: 0.5rem;
  }
}

.single-line {
  overflow: hidden;

  .text-wrapper {
    overflow: hidden;
  }

  .text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
