:host {
  position: relative;
  display: block;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1em;

  .mat-button-base + .mat-button-base {
    margin-left: 0.5em;

    [dir='rtl'] & {
      margin-left: 0;
      margin-right: 0.5em;
    }
  }
}

.mat-dialog-content {
  display: flex;
  justify-content: center;
  max-height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.select {
    padding: 0 40px;
  }

  h1 {
    margin-bottom: 0;
  }
}

.dialog-content-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;

  form {
    box-sizing: border-box;
    overflow-y: auto;
    width: 100%;
    padding: 0 10px 10px 10px;
  }
}

.prev,
.next {
  cursor: pointer;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
}

.prev,
.next {
  font-size: 50px;
}

.nextprev-button {
  width: 60px;
  height: 60px;
}

.header-title {
  margin: 0;
  display: flex;
  width: 100%;
  align-items: center;
}

.header-title-icon {
  margin-right: 1rem;
}
