<div cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
  <div mat-dialog-title class="header" [ngClass]="{ select: editorMode === EditorMode.Select }">
    <h1 class="header-title">
      <mat-icon *ngIf="config.titleIcon" class="header-title-icon" [icon]="config.titleIcon"></mat-icon>
      <span>{{ title }}</span>
    </h1>
    <button mat-icon-button mat-dialog-close [aria-label]="'Close dialog'">
      <mat-icon icon="far fa-times" size="24px"> </mat-icon>
    </button>
  </div>

  <div mat-dialog-content #content>
    <div class="dialog-content-wrapper" [ngClass]="{ select: editorMode === EditorMode.Select }">
      <button
        class="nextprev-button"
        mat-icon-button
        *ngIf="editorMode === EditorMode.Select"
        [style.visibility]="hasPreviousItem ? 'visible' : 'hidden'"
        (click)="previousItem.next(null)"
      >
        <mat-icon color="primary" class="prev" icon="fas fa-chevron-left"></mat-icon>
      </button>
      <form [formGroup]="form" [class]="'main-form ' + data.formClass || ''">
        <div niAnnounce [message]="errorMessage" class="alert alert-danger error-message" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>
        <formly-form [fields]="fieldConfig" [model]="model" [form]="form" [options]="options || {}"></formly-form>
      </form>
      <button
        class="nextprev-button"
        mat-icon-button
        *ngIf="editorMode === EditorMode.Select"
        [style.visibility]="hasNextItem ? 'visible' : 'hidden'"
        (click)="nextItem.next(null)"
      >
        <mat-icon color="primary" class="next" icon="fas fa-chevron-right"> </mat-icon>
      </button>
    </div>
  </div>

  <div mat-dialog-actions *ngIf="editorMode !== EditorMode.Select && editorMode !== EditorMode.None">
    <ng-container *ngIf="buttonType === 'raised'">
      <button
        mat-raised-button
        type="button"
        [attr.aria-label]="config.cancelText || 'Cancel'"
        (click)="onClose(DialogFormAction.Cancel)"
      >
        <mat-icon *ngIf="config.cancelIcon" [icon]="config.cancelIcon" [size]="'16px'"></mat-icon>
        {{ config.cancelText || 'Cancel' }}
      </button>
      <button
        mat-raised-button
        (click)="onClose(DialogFormAction.Hide)"
        *ngIf="editorMode === EditorMode.Edit && config.enableHide"
        [disabled]="data.disabled || !config.enableHide"
        type="button"
        [attr.aria-label]="config.hideText || 'Hide'"
      >
        {{ config.hideText || 'Hide' }}
      </button>
      <button
        mat-raised-button
        (click)="onClose(DialogFormAction.Delete)"
        *ngIf="editorMode === EditorMode.Edit"
        [disabled]="data.disabled || !config.enableDelete"
        type="button"
        [attr.aria-label]="config.deleteText || 'Delete'"
      >
        {{ config.deleteText || 'Delete' }}
      </button>
      <button
        mat-raised-button
        (click)="onClose(DialogFormAction.Edit)"
        *ngIf="editorMode === EditorMode.Edit"
        color="primary"
        [disabled]="data.disabled || !config.enableEdit || !form.valid"
        type="button"
        [attr.aria-label]="config.saveText || 'Save'"
      >
        {{ config.saveText || 'Save' }}
      </button>
      <button
        mat-raised-button
        (click)="onClose(DialogFormAction.Add)"
        *ngIf="editorMode === EditorMode.Add"
        color="primary"
        [disabled]="data.disabled || !form.valid"
        type="button"
        [attr.aria-label]="config.addText || 'Add'"
      >
        <mat-icon *ngIf="config.addIcon" [icon]="config.addIcon" [size]="'16px'"></mat-icon>
        {{ config.addText || 'Add' }}
      </button>
      <button
        mat-raised-button
        (click)="onDialogOpen()"
        *ngIf="editorMode === EditorMode.View"
        color="primary"
        [disabled]="!form.valid"
        type="button"
      >
        Next
      </button>
      <button
        mat-raised-button
        type="button"
        (click)="onSubmit()"
        *ngIf="editorMode === EditorMode.Form"
        color="primary"
        [disabled]="!form.valid"
      >
        Submit
      </button>
    </ng-container>
    <ng-container *ngIf="buttonType === 'stroked'">
      <button
        mat-stroked-button
        type="button"
        [attr.aria-label]="config.cancelText || 'Cancel'"
        (click)="onClose(DialogFormAction.Cancel)"
      >
        <mat-icon *ngIf="config.cancelIcon" [icon]="config.cancelIcon" [size]="'16px'"></mat-icon>
        {{ config.cancelText || 'Cancel' }}
      </button>
      <button
        mat-stroked-button
        (click)="onClose(DialogFormAction.Hide)"
        *ngIf="editorMode === EditorMode.Edit && config.enableHide"
        [disabled]="data.disabled || !config.enableHide"
        type="button"
        [attr.aria-label]="config.hideText || 'Hide'"
      >
        {{ config.hideText || 'Hide' }}
      </button>
      <button
        mat-stroked-button
        (click)="onClose(DialogFormAction.Delete)"
        *ngIf="editorMode === EditorMode.Edit"
        [disabled]="data.disabled || !config.enableDelete"
        type="button"
        [attr.aria-label]="config.deleteText || 'Delete'"
      >
        {{ config.deleteText || 'Delete' }}
      </button>
      <button
        mat-stroked-button
        (click)="onClose(DialogFormAction.Edit)"
        *ngIf="editorMode === EditorMode.Edit"
        color="primary"
        [disabled]="data.disabled || !config.enableEdit || !form.valid"
        type="button"
        [attr.aria-label]="config.saveText || 'Save'"
      >
        {{ config.saveText || 'Save' }}
      </button>
      <button
        mat-stroked-button
        (click)="onClose(DialogFormAction.Add)"
        *ngIf="editorMode === EditorMode.Add"
        color="primary"
        [disabled]="data.disabled || !form.valid"
        type="button"
        [attr.aria-label]="config.addText || 'Add'"
      >
        <mat-icon *ngIf="config.addIcon" [icon]="config.addIcon" [size]="'16px'"></mat-icon>
        {{ config.addText || 'Add' }}
      </button>
      <button
        mat-stroked-button
        (click)="onDialogOpen()"
        *ngIf="editorMode === EditorMode.View"
        color="primary"
        [disabled]="!form.valid"
        type="button"
      >
        Next
      </button>
      <button
        mat-stroked-button
        type="button"
        (click)="onSubmit()"
        *ngIf="editorMode === EditorMode.Form"
        color="primary"
        [disabled]="!form.valid"
      >
        Submit
      </button>
    </ng-container>
  </div>
</div>

<ni-loading *ngIf="loading"></ni-loading>

<ng-container *ngIf="debug">
  <h2>Form State</h2>
  <strong>valid: </strong>{{ form.valid }}, <strong>invalid: </strong>{{ form.invalid }}, <strong>dirty: </strong
  >{{ form.dirty }}, <strong>pristine: </strong>{{ form.pristine }}
  <h2>Model</h2>
  <pre>{{ model | json }}</pre>
  <h2>Context</h2>
  <pre>{{ options?.formState?.context | json }}</pre>
</ng-container>
