<div class="rich-fields-view-item" *ngFor="let item of fieldGroup">
  <label class="rich-fields-label" *ngIf="item.props?.['label']">
    {{ item.props?.['label'] + ':' }}
  </label>

  <div
    class="rich-fields-value"
    ni-format
    [dataType]="item.props?.['dataType'] || ''"
    [value]="getValue(item.key)"
  ></div>
</div>
