ni-chart-pie {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

ejs-accumulationchart {
  height: 100%;
  width: 100%;
}

.chart-pie {
  display: flex;
  flex-direction: row;

  &.chart-position {
    width: 100%;
    height: 100%;
  }

  .chart-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .center-titles {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
  }

  .center-title,
  .center-sub-title {
    display: inline-block;
    text-align: center;
  }

  // Required for transparent backgrounds
  // ChartArea background should be transparent by default: https://ej2.syncfusion.com/angular/documentation/api/chart/chartArea/
  // But for whatever reason the rect elements have fill="#fff" by default and changing the background property doesn't work
  rect {
    fill: transparent !important;
  }
}

.chart-pie-no-data {
  width: 100%;
}
