<div
  #outer
  class="chart-position chart-pie"
  [style.place-content]="flexPosition"
  [style.width]="width"
  [style.height]="height"
>
  <ng-container *ngIf="hasData; else noData">
    <div class="chart-wrapper" *ngIf="!calculating" [style.height]="_height">
      <ejs-accumulationchart
        #pie
        selectionMode="Point"
        (animationComplete)="onAnimationComplete($event)"
        (pointClick)="onPointClick($event)"
        [legendSettings]="legend"
        [tooltip]="tooltip"
        [enableAnimation]="enableAnimation"
        [center]="pieCenter"
        [style.height]="_height"
        role="img"
        presentation
      >
        <e-accumulation-series-collection>
          <e-accumulation-series
            xName="name"
            yName="value"
            pointColorMapping="colour"
            [dataSource]="data || []"
            [startAngle]="startAngle"
            [endAngle]="endAngle"
            [radius]="radius"
            [innerRadius]="innerRadius"
            [dataLabel]="dataLabel"
          >
          </e-accumulation-series>
        </e-accumulation-series-collection>
      </ejs-accumulationchart>
      <div *ngIf="centerTitles" class="center-titles" #titles>
        <div *ngIf="title" class="center-title" [ngStyle]="{ fontSize: titleSize, lineHeight: _titleSize }">
          {{ title }}
        </div>
        <div
          *ngIf="subTitle"
          class="center-sub-title"
          [ngStyle]="{ fontSize: subTitleSize, lineHeight: _subTitleSize }"
        >
          {{ subTitle }}
        </div>
      </div>
    </div>
  </ng-container>
</div>
<ng-template #noData>
  <div #noDataWrapper>
    <p class="chart-pie-no-data">No Data</p>
  </div>
</ng-template>
