<p *ngIf="attachment.description" class="attachment-description">
  {{ attachment.description }}
</p>

<button
  type="button"
  *ngIf="attachment.blobId"
  class="attachment-download"
  (click)="download()"
  [title]="attachment.fileName"
  aria-label="Download attachment"
>
  <span>
    <mat-icon [icon]="attachment.fileName | fileIcon"></mat-icon>
    <span class="file-name">{{ attachment.fileName }}</span>
  </span>
  <mat-icon icon="file_download" class="download-icon"></mat-icon>
</button>
