:host {
  display: block;
  width: 100%;
}

.attachment-download {
  display: inline-block;
  padding: 8px;
  cursor: pointer;

  @media screen and (min-width: 960px) {
    display: flex;
    flex-direction: row;
    place-content: center space-between;
    align-items: center;
    max-width: 250px;
    width: 100%;
  }
}

.attachment-description {
  font-size: 12px;
  margin-bottom: 8px;
}

.attachment-breadcrumbs {
  font-size: 12px;
  margin: 0;
}

.file-name {
  @media screen and (max-width: 959px) {
    word-break: break-all;
  }

  @media screen and (min-width: 960px) {
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
  }
}
