<ni-page title="Config Import/Export">
  <mat-card>
    <mat-card-title>Import</mat-card-title>
    <ni-uploader
      [asyncSettings]="options.asyncSettings"
      [multiple]="false"
      [autoUpload]="true"
      [minFileSize]="options.minFileSize"
      [maxFileSize]="options.maxFileSize"
      [sequentialUpload]="options.sequentialUpload"
      [enableDelete]="false"
      [allowedExtensions]="options.allowedExtensions"
    >
    </ni-uploader>
  </mat-card>
  <mat-card>
    <mat-card-title>Export</mat-card-title>
    <a phDownload name="export.json" [url]="exportUrl">Download Site Config</a>
  </mat-card>
  <mat-card>
    <mat-card-title>Upgrade Formly Configs</mat-card-title>
    <p>This will upgrade the form configs in the database for this site to use formly version 6.</p>
    <p>Changes are:</p>
    <ul>
      <li>'templateOptions' are now 'props'</li>
      <li>'expressionProperties' are now 'expressions'</li>
      <li>'hideExpression' is now in expressions as 'hide'</li>
    </ul>
    <button mat-raised-button color="primary" (click)="upgrade()">Upgrade</button>
    <div *ngIf="upgradeMessage$ | async"><strong>Status:</strong> {{ upgradeMessage$ | async }}</div>
  </mat-card>
</ni-page>
