<ni-section-edit
  (cancel)="onCancel()"
  (edit)="onEdit()"
  (save)="onSave()"
  [isEditMode]="isEditMode"
  [sectionEditCancelIcon]="props['sectionEditCancelIcon'] || defaults.sectionEditCancelIcon"
  [sectionEditCancelText]="props['sectionEditCancelText'] || defaults.sectionEditCancelText"
  [sectionEditEditIcon]="props['sectionEditEditIcon'] || defaults.sectionEditEditIcon"
  [sectionEditEditText]="props['sectionEditEditText'] || defaults.sectionEditEditText"
  [sectionEditMarginBottom]="props['sectionEditMarginBottom'] ?? defaults.sectionEditMarginBottom"
  [sectionEditMarginTop]="props['sectionEditMarginTop'] ?? defaults.sectionEditMarginTop"
  [sectionEditSaveIcon]="props['sectionEditSaveIcon'] || defaults.sectionEditSaveIcon"
  [sectionEditSaveText]="props['sectionEditSaveText'] || defaults.sectionEditSaveText"
>
  <div *ngIf="field.fieldGroup?.length !== 2">
    'Section Edit Wrapper requires two items within its field group, the first is view mode and the second is edit mode'
  </div>

  <ng-container *ngIf="field.fieldGroup?.length === 2">
    <ng-container *ngFor="let item of field.fieldGroup; let i = index">
      <formly-field *ngIf="(!isEditMode && i === 0) || (isEditMode && i === 1)" [field]="item"></formly-field>
    </ng-container>
  </ng-container>
</ni-section-edit>
