<section [class]="breakpoint$ | async">
  <section class="top-section">
    <section class="photo-section">
      <div #photoWrapper class="photo-wrapper">
        <ng-container *ngIf="unidentifiedSubjectMedia && !isLoading">
          <formly-form class="block" [form]="formGroup" [fields]="fieldConfigs" [model]="unidentifiedSubjectMedia">
          </formly-form>
        </ng-container>
      </div>
    </section>
    <section class="details-section">
      <section class="fields-section">
        <label
          >Division: <strong ni-format [dataType]="dataType.lookup" [value]="unidentifiedSubject?.unitId"></strong>
        </label>
        <label
          >Crime: <strong ni-format [dataType]="dataType.lookup" [value]="unidentifiedSubject?.crimeTypeId"></strong>
        </label>
        <label
          >Crime No.: <strong>{{ unidentifiedSubject?.crimeNumber }}</strong>
        </label>
        <label
          >Date: <strong ni-format [dataType]="dataType.date" [value]="unidentifiedSubject?.offenceDate"></strong>
        </label>
        <label
          >Premises Name: <strong>{{ unidentifiedSubject?.premisesName }}</strong>
        </label>
        <label
          >Premises No.: <strong>{{ unidentifiedSubject?.premisesNumber }}</strong>
        </label>
        <label
          >Address: <strong>{{ unidentifiedSubject?.premisesAddress }}</strong>
        </label>
        <label
          >Record No.: <strong>{{ unidentifiedSubject?.reference }}</strong>
        </label>

        <mat-chip-list *ngIf="currentMedia && isEntityMediaLike(currentMedia)">
          <mat-chip *ngFor="let tag of currentMedia?.tags" tabindex="0" color="primary" selected="true">
            {{ tag.displayValue }}
          </mat-chip>
        </mat-chip-list>
      </section>
      <section class="button-section">
        <button color="primary" mat-raised-button type="button" (click)="identify()" mat-dialog-close>IDENTIFY</button>
      </section>
    </section>
  </section>

  <section class="middle-section">
    <span><mat-icon icon="visibility" class="color-primary"></mat-icon> This is now marked as seen</span>
  </section>

  <section class="bottom-section">
    <!-- Handle EntityMedia -->
    <ng-container *ngIf="unidentifiedSubjectMedia">
      <ng-container *ngFor="let item of unidentifiedSubjectMedia; let i = index">
        <a
          *ngIf="item.mediaType === mediaType.Image || item.mediaType === mediaType.Video"
          href="javascript:void(0);"
          class="thumbnail-wrapper"
          [ngClass]="{ active: item.entityMediaId === currentMedia?.entityMediaId }"
          (click)="setCurrentMedia(item)"
          (keyup.enter)="setCurrentMedia(item)"
        >
          <img
            *ngIf="item.mediaType === mediaType.Image"
            [src]="item.thumbnailUrl"
            alt="Unidentified Subject Photo"
            class="thumbnail"
          />
          <div *ngIf="item.mediaType === mediaType.Video" class="av-thumb">
            <mat-icon *ngIf="item.mediaType === mediaType.Video" icon="fas fa-play"></mat-icon>
          </div>
        </a>
      </ng-container>
    </ng-container>
  </section>
</section>
