.top-section {
  display: flex;
  justify-content: space-between;
}

.middle-section {
  margin-top: 1rem;
}

.photo-section {
  width: 68%;
}

.details-section {
  width: 30%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
}

.photo-wrapper {
  display: flex;
  align-items: start;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.thumbnail {
  max-width: 100px;
  max-height: 100px;
}

.bottom-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.thumbnail-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 104px;
  height: 104px;
  margin: 1rem 1rem 0 0;
  &.active {
    border: 2px solid var(--color-primary);
  }
  text-decoration: none;
}

.av-thumb {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    font-size: 3rem;
    width: 50px;
    height: 50px;
  }
}

.sm,
.md {
  .top-section {
    flex-direction: column;
  }

  .photo-section {
    width: 100%;
  }

  .details-section {
    margin-top: 1rem;
    width: 100%;
    height: auto;
  }

  .photo-wrapper {
    height: auto;
  }

  .button-section {
    margin-top: 1rem;
  }
}
