.field-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .field-label {
    margin-bottom: 1em;
    display: block;
    padding-right: 0.7em;
  }

  .field-description {
    padding-right: 0.7em;
    padding-bottom: 1em;
  }
}

// force in modal
mat-dialog-container {
  .field-wrapper > div {
    flex: 1 1 100% !important;
    max-width: 100% !important;
  }
}
