<div class="field-wrapper" [style.margin-top]="formFieldMarginTop">
  <div class="flex-100" [style.max-width]="leftFlex$ | async">
    <label class="field-label" *ngIf="label && !hideLabel" [for]="fieldId">
      {{ label }}
      <span *ngIf="required && !hideRequiredMarker" class="form-field-required-marker">*</span>
    </label>
    <div class="field-description" *ngIf="instructions && showInstructions">
      {{ instructions }}
    </div>
  </div>
  <div class="flex-100" [style.max-width]="middleFlex$ | async">
    <ng-content></ng-content>
    <mat-error *ngIf="(control?.touched || validPreTouch) && !control.valid">
      <div *ngFor="let error of errors">{{ error }}</div>
    </mat-error>
  </div>
  <div class="flex-100" [style.max-width]="rightFlex$ | async"></div>
</div>
