<div *ngIf="person" class="search-result-team-member">
  <a *ngIf="userProfileId" [href]="'/Staff/View/Details/' + userProfileId" [title]="'View ' + person.fullName"></a>
  <ni-person
    [person]="person"
    [imageSize]="imageSize"
    [fields]="fields"
    [photoProp]="photoProp"
    [initialsProp]="initialsProp"
  >
  </ni-person>
</div>
