<ni-meta-data-form-field
  *ngIf="isVisibleConditionally"
  [fieldId]="id"
  [hideRequiredMarker]="hideRequiredMarker"
  [label]="label"
  [required]="required"
  [control]="localControl"
  [itemTouched]="itemTouched"
  [instructions]="instructions"
  [showInstructions]="!readonly"
>
  <mat-radio-group [formControl]="localControl" [attr.aria-label]="ariaLabelInternal">
    <mat-radio-button
      #button
      *ngFor="let option of choices || metaDataItemControl?.value?.Choices"
      [id]="id + '_' + option.Label || ''"
      [disabled]="readonly"
      [required]="required"
      [name]="name"
      [value]="option.Value"
      [attr.aria-label]="option.Label"
      (click)="onChange(option.Value)"
    >
      {{ option.Label }}
    </mat-radio-button>
  </mat-radio-group>
</ni-meta-data-form-field>
