<div class="filter-bar">
  <mat-form-field *ngIf="showQuickSearch" class="example-full-width" [ngClass]="{ loading: loadingMatches }">
    <input matInput #input [value]="quickSearch ?? ''" [attr.aria-label]="'Search ' + listName || 'list'" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <div class="column-filters" [ngClass]="{ 'show-bar': showQuickSearch && filterableCols?.length > 0 }">
    <button
      (click)="openDialog()"
      *ngIf="filterableCols?.length > 0 && !disabled"
      cdkFocusInitial
      color="primary"
      mat-icon-button
      [disabled]="disabled"
      type="button"
      [attr.aria-label]="'Open dialog to filter ' + listName || 'list'"
    >
      <mat-icon class="filter-icon">filter_alt</mat-icon>
    </button>
  </div>

  <ng-container *ngIf="filterableCols?.length > 0 && !disabled">
    <mat-chip-list>
      <mat-chip
        *ngFor="let filter of userFilters"
        (removed)="removeFilter(filter)"
        [removable]="true"
        [selectable]="true"
      >
        {{ getFilterText(filter) }}

        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </ng-container>
</div>
