.filter-bar {

  .column-filters {
    margin: 0rem 1.5rem 1.5rem;
    height: 3rem;
  }
  button {
    margin-left: 0.5rem;
    margin-top: 0.2rem;

    .filter-icon {
      transform: scale(1.3);
    }
  }

  mat-chip-list {

    mat-chip {
      height: auto; // overrides default height 1px
      line-height: 1.1em;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    margin: 0.4rem;
  }

  .mat-input-element, .mat-form-field-infix {
    max-width: 180px !important;
    width: 100% !important;
  }
}
