<label *ngIf="enableFieldLabel">{{ title }}</label>
<mat-form-field appearance="outline" (click)="openDialog()" (keyup.enter)="openDialog()">
  <input
    *ngIf="isTree"
    #lookupInput
    type="text"
    class="pseudo-readonly"
    matInput
    [id]="id"
    [formControl]="lookupControl"
    [matAutocomplete]="auto"
    [readonly]="true"
    [attr.aria-label]="ariaLabel"
    [placeholder]="placeholder || ''"
    (blur)="onBlur()"
  />
  <input
    *ngIf="!isTree"
    #lookupInput
    class="pseudo-readonly"
    type="text"
    matInput
    [id]="id"
    [formControl]="lookupControl"
    [matAutocomplete]="auto"
    [placeholder]="placeholder || ''"
    [required]="required"
    [attr.aria-label]="ariaLabel"
    [readonly]="disabled"
    (keydown)="pseudoReadOnly($event)"
    (blur)="onBlur()"
  />
  <mat-autocomplete
    #auto="matAutocomplete"
    [displayWith]="displayStatusName.bind(this)"
    (optionSelected)="onItemSelected($event.option.value)"
  >
    <mat-option *ngIf="addDefaultOption" [value]="null">---choose---</mat-option>
    <mat-option *ngFor="let lookup of lookups" [value]="getValue(lookup)">{{ lookup.item.displayValue }}</mat-option>
  </mat-autocomplete>
</mat-form-field>
