.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: -webkit-fill-available;
  .mat-form-field-infix {
    display: flex;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 180px;
  }
}
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 1em 0 1em 0;
  display: flex;
}
.mat-radio-button {
  min-width: 100px;
  height: 30px;
  padding: 0 10px 0 0px;
}
.radio-label {
  display: block;
  margin: 0.5rem auto;
}
.radio-field {
  margin: 1.25rem auto;
}
.step-container {
  display: block;
}
.step {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  .radio-button-grid {
    display: grid;
  }
}
.button-panel {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 1rem 0px;
  .button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    mat-label {
      height: 2rem;
    }
  }
}
.step-item {
  display: block;
  padding: 1em;
}

.custom-date-container {
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0;
  }
}
.icon-text {
  text-align: center;
  max-width: auto;
  width: 100%;
  padding: 1.5rem;
  border: solid 1px #575665;
}
.input_fileupload--hidden {
  display: none;
}
ni-icon-text {
  cursor: pointer;
}
ni-icon-text.icon-text:hover {
  opacity: 0.7;
}
mat-divider {
  margin: auto auto 1.5rem auto;
}
.form-bottom {
  display: block;
  padding: 0.5rem;
}
.mat-date-range-input {
  display: block;
  width: 100%;
  padding: 1rem 0;
}
