<form
  [formGroup]="formIntelReport"
  (submit)="submit()"
  [attr.aria-label]="'Form Intel Report' | translate"
  nwTranslateContext="NCA"
>
  <ni-page-stepper
    #cdkStepper
    formArrayName="steps"
    [stepDivider]="stepDivider"
    [progressBar]="progressBar"
    [valueChanges]="formIntelReport.valueChanges"
    [buttonConfig]="buttonConfig"
    [useStepButtonLabels]="true"
    [hidePreviousNextButtons]="true"
    (buttonClicked)="onButtonPressed($event)"
  >
    <ni-page-stepper-step
      #stepOne
      formGroupName="0"
      [label]="getFormValue('label', formArray.get([0])) | translate"
      [subLabel]="getFormValue('subLabel', formArray.get([0])) | translate"
      [buttonLabel]="getFormValue('buttonLabel', formArray.get([0])) | translate"
      [icon]="getFormValue('icon', formArray.get([0]))"
      [buttonIcon]="getFormValue('buttonIcon', formArray.get([0]))"
      [buttonColour]="getFormValue('buttonColour', formArray.get([0]))"
      [aria-label]="('Step' | translate) + ' ' + 1"
      [stepControl]="formArray"
      [optional]="false"
      [control]="formArray.get([0])"
    >
      <ng-template cdkStepLabel> </ng-template>
      <div class="step-container">
        <h2>{{ 'Step' | translate }} {{ 1 }} / {{ formArray.length }}</h2>
        <h1>
          {{ getFormValue('heading', formArray.get([0])) | translate }}
        </h1>
        <div class="step">
          <div class="step-item">
            <mat-label>{{ 'Report Title' | translate }}</mat-label>
            <mat-form-field>
              <input
                matInput
                type="text"
                [placeholder]="'Add the Report Title' | translate"
                required="true"
                formControlName="title"
                [attr.aria-label]="'Add the Report Title' | translate"
              />
            </mat-form-field>
            <mat-label>{{ 'Reporting Officer' | translate }}</mat-label>
            <ni-type-ahead
              [id]="reportingOfficerProps.label"
              [labelProp]="'fullName'"
              [mustMatch]="true"
              [placeholder]="'Add the Reporting Officer' | translate"
              [listName]="reportingOfficerProps.listName"
              [ariaLabel]="'Add the Reporting Officer' | translate"
              [version]="2"
              [selectColumns]="selectColumns"
              [valueProp]="reportingOfficerProps.valueProp"
              formControlName="reportingOfficer"
            ></ni-type-ahead>

            <mat-label>{{ 'Date / Time Reported' | translate }}</mat-label>
            <div class="custom-date-container">
              <mat-form-field [appearance]="'outline'" [style.width]="'100%'">
                <input
                  matInput
                  [matDatepicker]="datetimereportedpicker"
                  formControlName="dateTimeReported"
                  [required]="true"
                  [showTime]="true"
                  [placeholder]="'Choose your Date / Time' | translate"
                  [attr.aria-label]="'Choose your Date / Time' | translate"
                  (focus)="datetimereportedpicker.open()"
                />
                <mat-datepicker-toggle matIconSuffix [for]="datetimereportedpicker"></mat-datepicker-toggle>
                <mat-datepicker [showTime]="true" #datetimereportedpicker></mat-datepicker>
              </mat-form-field>
            </div>

            <mat-label>{{ 'Source Evaluation' | translate }}</mat-label>
            <mat-form-field>
              <mat-select
                name="sourceEvaluation"
                formControlName="sourceEvaluation"
                [placeholder]="'Source Evaluation' | translate"
                [attr.aria-label]="'Source Evaluation' | translate"
              >
                <mat-option
                  *ngFor="let option of sourceEvaluationOptions"
                  [value]="option.value"
                  [attr.aria-label]="'Source Evaluation' + ' ' + option.text | translate"
                  >{{ option.text | translate }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div class="step-item">
            <mat-label>{{ 'Report URN' | translate }}</mat-label>
            <mat-form-field>
              <input
                matInput
                type="text"
                [placeholder]="'Add the Report URN' | translate"
                required="true"
                formControlName="urn"
                readonly="true"
                [attr.aria-label]="'Add the Report URN' | translate"
              />
            </mat-form-field>

            <ni-lookup
              [id]="'organization'"
              [placeholder]="'Add the Organisation'"
              [title]="'Organisation' | translate"
              [required]="true"
              [leafSelection]="true"
              [addDefaultOption]="true"
              [outputDisplayValue]="true"
              [minDialogWidth]="'15%'"
              [maxDialogWidth]="'1000px'"
              [enableFieldLabel]="true"
              [ariaLabel]="'Add the Organisation' | translate"
              [lookupKey]="'InvestigatingUnit'"
              formControlName="organization"
              (valueChange)="setFieldValue(formArray.get([0]), 'organization', $event)"
            ></ni-lookup>

            <div class="radio-field">
              <div class="radio-label">
                <mat-label>{{ 'Sensitivity' | translate }}</mat-label>
              </div>
              <mat-radio-group aria-label="Select an option" formControlName="sensitivity">
                <mat-radio-button
                  *ngFor="let option of sensitivityOptions"
                  [value]="option.value"
                  [aria-label]="'Sensitivity' + ' ' + option.text | translate"
                  >{{ option.text | translate }}</mat-radio-button
                >
              </mat-radio-group>
            </div>

            <mat-label>{{ 'Source / Source Reference Number (ISR)' | translate }}</mat-label>
            <mat-form-field>
              <input
                matInput
                type="text"
                [placeholder]="'Add the Source / Source Reference Number' | translate"
                required="false"
                formControlName="isr"
                [attr.aria-label]="'Add the Source / Source Reference Number' | translate"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="form-bottom">
          <mat-divider></mat-divider>
          <mat-label>{{ 'Provenance Statement' | translate }}</mat-label>
          <mat-form-field>
            <textarea
              matInput
              type="text"
              [placeholder]="'Add your Provenance Statement' | translate"
              required="false"
              rows="8"
              formControlName="provenanceStatement"
              [attr.aria-label]="'Add your Provenance Statement' | translate"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
    </ni-page-stepper-step>
    <ni-page-stepper-step
      #stepTwo
      formGroupName="1"
      [stepControl]="formArray.get([1])"
      [label]="getFormValue('label', formArray.get([1])) | translate"
      [buttonLabel]="getFormValue('buttonLabel', formArray.get([1])) | translate"
      [subLabel]="getFormValue('subLabel', formArray.get([1])) | translate"
      [icon]="getFormValue('icon', formArray.get([1]))"
      [buttonIcon]="getFormValue('buttonIcon', formArray.get([1]))"
      [buttonColour]="getFormValue('buttonColour', formArray.get([1]))"
      [aria-label]="'Step' + ' ' + 2 | translate"
      [stepControl]="formArray.get([1])"
      [control]="formArray.get([1])"
    >
      <ng-template cdkStepLabel> </ng-template>
      <div class="step-container">
        <h2>{{ 'Step' | translate }} {{ 2 }} / {{ formArray.length }}</h2>
        <h1>{{ getFormValue('heading', formArray.get([1])) | translate }}</h1>
        <div class="step">
          <div class="step-item">
            <mat-label>{{ 'Intel Text' | translate }}</mat-label>
            <mat-form-field>
              <textarea
                matInput
                type="text"
                [placeholder]="'Add some details' | translate"
                required="true"
                rows="15"
                formControlName="intelligenceItem"
                [attr.aria-label]="'Add some details' | translate"
              ></textarea>
            </mat-form-field>

            <mat-label>{{ 'Event Date / Time' | translate }}</mat-label>
            <div class="custom-date-container">
              <mat-form-field [appearance]="'outline'" [style.width]="'100%'">
                <input
                  matInput
                  #eventInput
                  name="eventInput"
                  autocomplete="on"
                  [matDatepicker]="eventpicker"
                  [showTime]="true"
                  [placeholder]="'-- Pick a Time and Date --' | translate"
                  [attr.aria-label]="'-- Pick a Time and Date --' | translate"
                  (dateInput)="addEvent(formArray.get([1]), 'eventDate', $event)"
                  (dateChange)="addEvent(formArray.get([1]), 'eventDate', $event)"
                  (focus)="eventpicker.open()"
                />
                <mat-datepicker-toggle matIconSuffix [for]="eventpicker"></mat-datepicker-toggle>
                <mat-datepicker [showTime]="true" #eventpicker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="step-item">
            <div class="radio-field">
              <div class="radio-label">
                <mat-label>{{ 'Intelligence Assessment' | translate }}</mat-label>
              </div>
              <mat-radio-group aria-label="Select an option" formControlName="assessment" class="radio-button-grid">
                <mat-radio-button
                  *ngFor="let option of assessmentOptions"
                  [value]="option.value"
                  [aria-label]="'Intelligence Assessment' + ' ' + option.text | translate"
                  >{{ option.text | translate }}</mat-radio-button
                >
              </mat-radio-group>
            </div>
            <div class="radio-field">
              <div class="radio-label">
                <mat-label>{{ 'Handling Code' | translate }}</mat-label>
              </div>
              <mat-radio-group aria-label="Select an option" formControlName="handlingCode">
                <mat-radio-button
                  *ngFor="let option of handlingCodeOptions"
                  [value]="option.value"
                  [aria-label]="'Handling Code' + ' ' + option.text | translate"
                  >{{ option.text | translate }}</mat-radio-button
                >
              </mat-radio-group>
            </div>
            <div *ngIf="formArray.get([1]).get('handlingCode').value === 'c'">
              <div>
                <mat-form-field>
                  <textarea
                    matInput
                    type="text"
                    [placeholder]="'Add detailed handling instructions' | translate"
                    formControlName="detailedHandlingInstructions"
                    required="false"
                    rows="2"
                    [attr.aria-label]="'Add detailed handling instructions' | translate"
                  ></textarea>
                </mat-form-field>
              </div>

              <div class="radio-field">
                <div class="radio-label">
                  <mat-label>{{ 'Action Code' | translate }}</mat-label>
                </div>
                <mat-radio-group aria-label="Select an option" formControlName="actionCode">
                  <mat-radio-button
                    *ngFor="let option of actionCodeOptions"
                    [value]="option.value"
                    [aria-label]="'Action Code' + ' ' + option.text | translate"
                    >{{ option.text | translate }}</mat-radio-button
                  >
                </mat-radio-group>
              </div>

              <div *ngIf="formArray.get([1]).get('actionCode').value === 'a3'">
                <mat-form-field>
                  <textarea
                    matInput
                    type="text"
                    [placeholder]="'Add what this information can be used for' | translate"
                    formControlName="informationUsedFor"
                    required="false"
                    rows="2"
                    [attr.aria-label]="'Add what this information can be used for' | translate"
                  ></textarea>
                </mat-form-field>
              </div>

              <div class="radio-field">
                <div class="radio-label">
                  <mat-label>{{ 'Sanitisation Code' | translate }}</mat-label>
                </div>
                <mat-radio-group aria-label="Select an option" formControlName="senitisationCode">
                  <mat-radio-button
                    *ngFor="let option of senitisationCodeOptions"
                    [value]="option.value"
                    [aria-label]="'Sanitisation Code' + ' ' + option.text | translate"
                    >{{ option.text | translate }}</mat-radio-button
                  >
                </mat-radio-group>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ni-page-stepper-step>
    <ni-page-stepper-step
      #stepThree
      formGroupName="2"
      [stepControl]="formArray.get([2])"
      [label]="getFormValue('label', formArray.get([2])) | translate"
      [subLabel]="getFormValue('subLabel', formArray.get([2])) | translate"
      [buttonLabel]="getFormValue('buttonLabel', formArray.get([2])) | translate"
      [icon]="getFormValue('icon', formArray.get([2]))"
      [buttonIcon]="getFormValue('buttonIcon', formArray.get([2]))"
      [buttonColour]="getFormValue('buttonColour', formArray.get([2]))"
      [aria-label]="'Step' + ' ' + 3 | translate"
      [stepControl]="formArray.get([2])"
      [control]="formArray.get([2])"
    >
      <ng-template cdkStepLabel> </ng-template>
      <div class="step-container">
        <h2>{{ 'Step' | translate }} {{ 3 }} / {{ formArray.length }}</h2>
        <h1>{{ getFormValue('heading', formArray.get([2])) | translate }}</h1>
        <div class="step">
          <div class="step-item"></div>
          <div class="step-item"></div>
        </div>
      </div>
    </ni-page-stepper-step>
  </ni-page-stepper>
</form>

<div *ngIf="frmValues" class="content has-content-centered">
  <h3 class="subtitle">{{ 'Form value' | translate }}</h3>
  {{ frmValues | json }}
</div>
