:host {
  display: block;
  width: 100%;
}

.note-content {
  &:not(.open) {
    overflow: hidden;
  }
}

.note-details {
  font-size: 12px;
  margin-bottom: 8px;
  width: 100%;

  button {
    float: right;
    margin-left: 16px;
    background: 0;
    border: 0;
    padding-top: 0;
    cursor: pointer;
  }

  span + span {
    margin-left: 8px;
    padding-left: 8px;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }

  > span {
    @media screen and (max-width: 959px) {
      display: block;
      padding-left: 0 !important;
      margin-left: 0 !important;
      border-left: 0 !important;
    }
  }
}

.note-description {
  font-size: 12px;
  margin-bottom: 8px;
}

.note-breadcrumbs {
  font-size: 12px;
  margin: 0;
}

.expander {
  &:not(.open) {
    max-height: 22px; // height of 1 line of text
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.open {
    max-height: 100%;
  }
}

.note {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  place-content: center flex-start;
  align-items: center;

  .note-content-wrapper {
    position: relative;
    margin-left: 1.5rem;
    border-radius: 4px;
    padding: 0.75rem;
    width: 100%;

    &:before {
      content: '';
      display: block;
      border-style: solid;
      border-width: 10px 15px 10px 0;

      position: absolute;
      top: 50%;
      left: -15px;
      transform: translateY(-50%);
    }
  }
}

// TODO: theme
// .note {
//   background: blue;
// }

// .note-content-wrapper {
//   background: white;
// }
