<div class="note">
  <ni-profile-picture [blobId]="item.createdByBlobId" [initials]="item.createdByInitials" [size]="'large'">
  </ni-profile-picture>

  <div class="note-content-wrapper mat-elevation-z1">
    <div class="note-content" [ngClass]="{ open: isOpen }">
      <p class="note-details">
        <span *ngIf="item.createdByFullName"
          >Creator: <strong>{{ item.createdByFullName }}</strong></span
        >
        <span *ngIf="item.creationDate"
          >Created: <strong>{{ item.creationDate | toDatetime }}</strong></span
        >
        <span *ngIf="item.updatedDate"
          >Updated: <strong>{{ item.updatedDate | toDatetime }}</strong></span
        >
        <span *ngIf="item.entityReference"
          >Relates to: <strong>{{ item.entityReference }}</strong></span
        >
        <span *ngIf="item.communicationType"
          >Type: <strong>{{ item.communicationType }}</strong></span
        >
        <span *ngIf="item.reference"
          >Reference: <strong>{{ item.reference }}</strong></span
        >
        <button
          *ngIf="item.details && showExpander"
          type="button"
          [attr.aria-label]="isOpen ? 'Collapse Note' : 'Expand Note'"
          [attr.aria-expanded]="isOpen ? true : false"
          (click)="isOpen = !isOpen"
        >
          <mat-icon [icon]="isOpen ? 'expand_less' : 'expand_more'"></mat-icon>
        </button>
      </p>

      <div
        #expander
        *ngIf="item.details"
        class="note-description expander"
        [ngClass]="{ open: isOpen }"
        [innerHTML]="item.details"
      ></div>

      <ni-entity-breadcrumbs *ngIf="breadcrumbs.length > 0" [breadcrumbs]="breadcrumbs"> </ni-entity-breadcrumbs>
    </div>
  </div>
</div>
