:host {
  display: block;
  width: 100%;
}

.attachment {
  display: flex;
  flex-direction: row;
  place-content: flex-start;
  align-items: flex-start;
}

.attachment-content {
  margin-left: 12px;
  width: 100%;

  &:not(.open) {
    overflow: hidden;
  }
}

.attachment-details {
  font-size: 12px;
  margin-bottom: 8px;
  width: 100%;

  button {
    float: right;
    margin-left: 16px;
    background: 0;
    border: 0;
    padding-top: 0;
    cursor: pointer;
  }

  span + span {
    margin-left: 8px;
    padding-left: 8px;
  }

  > span {
    @media screen and (max-width: 959px) {
      display: block;
      padding-left: 0 !important;
      margin-left: 0 !important;
      border-left: 0 !important;
    }
  }
}

.expander {
  &:not(.open) {
    max-height: 22px; // height of 1 line of text
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.open {
    max-height: 100%;
  }
}
