<div class="attachment">
  <ni-profile-picture [blobId]="attachment.createdByBlobId" [initials]="attachment.createdByInitials" [size]="'large'">
  </ni-profile-picture>

  <div class="attachment-content">
    <p class="attachment-details">
      <span *ngIf="attachment.createdByFullName"
        >Creator: <strong>{{ attachment.createdByFullName }}</strong></span
      >
      <span *ngIf="attachment.creationDate"
        >Uploaded: <strong>{{ attachment.creationDate | toDatetime }}</strong></span
      >
      <span *ngIf="attachment.updatedDate"
        >Updated: <strong>{{ attachment.updatedDate | toDatetime }}</strong></span
      >
      <span *ngIf="relatedEntities"
        >Relates to: <strong>{{ relatedEntities }}</strong></span
      >
    </p>
    <ni-downloader [attachment]="attachment"> </ni-downloader>
  </div>
</div>
