.scroll-wrapper {
  overflow: auto;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: var(--scroll-wrapper-width);
    height: var(--scroll-wrapper-width);
  }

  &::-webkit-scrollbar-track {
    border-radius: var(--scroll-wrapper-border-radius);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--scroll-wrapper-border-radius);
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}
