.progress-bar {
  margin: 0 auto;
  position: relative;
}

.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;

  p{
    line-height: 1;
    margin: 0;
  }
}

.label__sub-label {
  margin-bottom: 1rem;
}

.label__inner {
  display: flex;
  align-items: center;

  span + span {
    margin-left: 0.5rem;
  }
}
