<div class="progress-bar" [style.width]="width" [style.height]="height">
  <ejs-progressbar
    #progress
    [type]="type"
    [maximum]="max"
    [minimum]="min"
    [value]="value"
    [width]="width"
    [height]="height"
    [animation]="animation"
    [trackThickness]="thickness"
    [progressThickness]="thickness"
    [cornerRadius]="isProgressRounded ? 'Round' : 'Auto'"
    [progressColor]="progressColour"
    [trackColor]="trackColour"
    (valueChanged)="refresh($event)"
    (progressCompleted)="refresh($event)"
  >
  </ejs-progressbar>
  <div class="label">
    <p *ngIf="subLabel" class="label__sub-label">{{ subLabel }}</p>
    <p class="label__inner">
      <span class="label__value">{{ value }}</span>
      <span class="label__conjunction">{{ conjunction }}</span>
      <span class="label__max">{{ max }}</span>
    </p>
  </div>
</div>
