<div class="field-wrapper" [style.margin-top]="props['formFieldMarginTop'] ?? defaults.formFieldMarginTop">
  <div class="flex-100" [style.max-width]="leftFlex$ | async">
    <label
      class="field-label"
      [ngClass]="{ 'field-label--small': props['formFieldSmallLabel'] }"
      *ngIf="
        (props['formFieldLabel'] || props['label']) &&
        props['hideLabel'] !== true &&
        props['formFieldHidelabel'] !== true
      "
      [for]="id"
    >
      {{ props['formFieldLabel'] ?? props['label'] }}
      <span
        *ngIf="
          props['required'] && props['hideRequiredMarker'] !== true && props['fieldFormHideRequiredMarker'] !== true
        "
        class="form-field-required-marker"
        >*</span
      >
    </label>
    <div class="field-description" *ngIf="props['formFieldDescription'] ?? props['description']">
      {{ props['formFieldDescription'] ?? props['description'] }}
    </div>
  </div>
  <div class="flex-100" [style.max-width]="middleFlex$ | async">
    <ng-container #fieldComponent></ng-container>
    <mat-error [ngClass]="{ 'display-none': !field.formControl?.touched || field.formControl?.valid }">
      <formly-validation-message [field]="field"></formly-validation-message>
    </mat-error>
  </div>
  <div class="flex-100" [style.max-width]="rightFlex$ | async"></div>
</div>
