.field-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .field-label {
    margin-bottom: 1rem;
    display: block;
    padding-right: 0.7rem;
  }

  .field-label--small {
    margin-bottom: 0.25rem;
  }

  .field-description {
    padding-right: 0.7rem;
    padding-bottom: 1rem;
  }
}

// force in modal
mat-dialog-container {

  .field-wrapper > div {
    flex: 1 1 100% !important;
    max-width: 100% !important;
  }
}

.display-none {
  display: none;
}
