<div
  class="uploader-offline"
  (drop)="onFileDrop($event)"
  (dragover)="$event.preventDefault()"
  (dragend)="$event.preventDefault()"
>
  <section class="uploader-offline__interaction">
    <button type="button" mat-raised-button color="primary" (click)="uploader.click()">Browse...</button>
    <p>{{ multipleFiles }}</p>
    <button
      *ngIf="enableFileManager !== false"
      class="action-button"
      type="button"
      aria-label="Uploader Icon"
      (click)="openDialog()"
    >
      <mat-icon icon="fas fa-cabinet-filing"></mat-icon>
    </button>
  </section>

  <input type="file" #uploader (change)="onFileChange()" (click)="onUploaderClick()" hidden multiple />

  <ul class="uploader-offline__queue" *ngIf="displayFiles?.length ?? 0 > 0">
    <li class="uploader-offline__item" *ngFor="let file of displayFiles">
      <section class="uploader-offline__item__details">
        <p class="truncate" [title]="file.file.name">{{ file.file.name }}</p>
        <p>{{ file.file.size | formatFileSize }}</p>
      </section>
      <p class="uploader-offline__item__status">
        {{ file.status }}
        <span class="progress-container" *ngIf="file.status === 'Saving...' && file.progressMax">
          <progress [value]="file.progressCurrent ?? 0" [max]="file.progressMax"></progress>
        </span>
      </p>
      <section>
        <button class="action-button" type="button" aria-label="Delete File" (click)="removeFileFromQueue(file)">
          <mat-icon niAnnounce [message]="'Delete icon for ' + file.file.name">delete</mat-icon>
        </button>
      </section>
    </li>
  </ul>
</div>
