.uploader-offline {
  border: 1px solid;
  border-radius: 6px;
  padding: 1rem;

  #file-upload-button {
    padding: 4px 6px;
  }

  .truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .action-button {
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
  }

  progress {
    -webkit-appearance: none;
    appearance: none;
    height: 0.5rem;
    width: 100%;
    display: block;
  }

  progress::-webkit-progress-bar {
    border-radius: 10px;
  }

  progress::-webkit-progress-value {
    border-radius: 10px;
  }
}

.uploader-offline__interaction {
  display: flex;
  flex-direction: row;
  align-items: center;

  p {
    flex: 1 1 auto;
    margin: 0 0 0 1rem;
  }
}

.uploader-offline__queue {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.uploader-offline__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1rem 0 0;
  padding: 1rem 0 0;

  &__details {
    width: 30%;
  }

  &__status {
    flex: 1 1 auto;
    padding: 0 1rem;
  }

  p {
    margin: 0;
  }
}
