img {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 35px;

  &.has-text {
    margin-right: 0.3rem;
  }

  &.xsmall {
    width: 24px;
    height: 24px;
  }

  &.small {
    width: 32px;
    height: 32px;
  }

  &.medium {
    width: 60px;
    height: 60px;
  }

  &.large {
    width: 75px;
    height: 75px;
  }

  &.xlarge {
    width: 124px;
    height: 124px;
  }
}

.circle {
  border-radius: 50%;
}
