<img
  *ngIf="blobId"
  [src]="profileImageUrl"
  [class]="'circle ' + size"
  [alt]="text || ''"
  [ngClass]="{ 'has-text': text }"
/>
<ni-profile-initials *ngIf="!blobId && initials" [text]="initials" [size]="size"> </ni-profile-initials>
<span *ngIf="text; else elseBlock">{{ text }}</span>
<ng-template #elseBlock>{{ defaultIfEmpty }}</ng-template>
