<mat-icon *ngIf="error">error</mat-icon>
<mat-icon *ngIf="warn">warning</mat-icon>
<mat-icon *ngIf="info">info</mat-icon>
<div class="message">{{ data.message }}</div>
<button mat-button type="button" [attr.aria-label]="data.action" (click)="snackBarRef.dismiss()">
  {{ data.action }}
</button>
