:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;
  overflow: hidden;

  &.child {
    padding-left: 0.75em;
  }
}

.mat-list-item {
  display: flex;
  width: auto;
  cursor: pointer;

  .media-list-item-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
  }

  .icon {
    margin-right: 15px;
    font-size: 18px;
    min-width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .indicator {
    background-color: transparent;
  }
}

ph-menu-list-item {
  box-sizing: border-box;
}
