<ng-container *ngIf="item.route || (item.items && item.items.length > 0)">
  <a
    mat-list-item
    (click)="onItemSelected(item)"
    [ngClass]="{ active: active, expanded: expanded, child: child }"
    class="menu-list-item"
    [title]="item.name"
    href="javascript:void(0)"
    [attr.aria-label]="item.items ? item.name + (expanded ? ' Menu expanded' : ' Menu collapsed') : item.name"
    [attr.aria-expanded]="expanded ? true : false"
  >
    <mat-icon *ngIf="item.icon" [icon]="item.icon" class="icon"></mat-icon>
    <span class="media-list-item-text">{{ item.name }}</span>
    <span class="flex flex-0 flex-row" *ngIf="item.items && item.items.length">
      <span class="flex-0"></span>
      <mat-icon [@indicatorRotate]="expanded ? 'expanded' : 'collapsed'" class="indicator"> expand_more </mat-icon>
    </span>
  </a>
  <div [@toggleChild]="expanded && menuState !== 'closed' ? 'expanded' : 'collapsed'">
    <ph-menu-list-item
      *ngFor="let child of item.items"
      [item]="child"
      [depth]="depth + 1"
      [menuState]="menuState"
      [routeId]="routeId"
      [child]="true"
      (itemSelected)="onItemSelected($event)"
      [style.visibility]="expanded ? 'visible' : 'hidden'"
      [attr.aria-label]="child.name"
    >
    </ph-menu-list-item>
  </div>
</ng-container>
