:host {
  display: block;
  width: 100%;
  position: relative;
}
.person-list {
  width: 100%;
  display: flex;
  flex: 1 1 auto;

  @media screen and (max-width: 599px) {
    flex-direction: column;
  }

  @media screen and (min-width: 600px) {
    flex-flow: row wrap;
  }
}

.person-wrapper {
  margin-bottom: 1rem;
}
