<div *ngIf="people && people.length > 0; else elseBlock" class="person-list">
  <div *ngFor="let person of people" class="person-wrapper" [style.width]="personWidth">
    <ni-person
      [fields]="fields"
      [person]="person"
      [imageSize]="imageSize"
      [photoProp]="photoProp"
      [initialsProp]="initialsProp"
    ></ni-person>
  </div>
</div>
<ng-template #elseBlock>
  <p>{{ noDataString }}</p>
</ng-template>
