<section class="custom-stepper mat-stepper-horizontal">
  <header>
    <button
      type="button"
      class="custom-stepper-button"
      cdkStepperPrevious
      [ngClass]="{ disabled: selectedIndex === 0 }"
    >
      <mat-icon [icon]="'fas fa-chevron-left'" [size]="'24px'"></mat-icon>
    </button>
    <ng-container *ngFor="let step of steps; let index = index">
      <ng-container *ngIf="selectedIndex === index">
        <ng-container *ngIf="step.stepLabel; else showLabelText" [ngTemplateOutlet]="step.stepLabel.template">
        </ng-container>

        <ng-template #showLabelText>
          <div class="step-header">
            <span class="step-icon" [ngClass]="{ active: selectedIndex === index }">
              {{ selectedIndex + 1 }}/{{ steps.length }}
            </span>
            <span>{{ step.label }}</span>
          </div>
        </ng-template>
      </ng-container>
    </ng-container>

    <button
      type="button"
      class="custom-stepper-button"
      cdkStepperNext
      [ngClass]="{ disabled: selectedIndex === steps.length - 1 }"
    >
      <mat-icon [icon]="'fas fa-chevron-right'" [size]="'24px'"></mat-icon>
    </button>
  </header>

  <div [ngTemplateOutlet]="selected ? selected.content : null"></div>
</section>
