.custom-stepper {
  padding: 1rem;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .custom-stepper-label {
    margin: 0;
    font-weight: 500;
  }

  .custom-stepper-button {
    background: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    padding: 0 0.5rem;

    &.disabled {
      cursor: not-allowed;
      opacity: 0.25;
    }
  }

  .step-icon {
    margin-right: 8px;
    border-radius: 16px;
    height: 20px;
    min-width: 20px;
    padding: 6px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .step-header {
    display: flex;
    align-items: center;
  }
}
