button {
  min-width: 10px;
  padding: 0;
}

mat-icon {
  font-size: 15px;
  margin-right: 8px;
}

@media screen and (min-width: 1281px) {
  button {
    border-radius: 0px 10px 10px 0px;
  }

  .feedback {
    writing-mode: vertical-rl;
    padding: 10px 0px 10px 0px;
    border-radius: 0px 10px 10px 0px;
  }

  mat-icon {
    transform: rotate(90deg);
  }
}

@media screen and (max-width: 1280px) {
  button {
    border-radius: 10px 10px 0px 0px;
  }

  .feedback {
    border-radius: 10px 10px 0px 0px;
    padding: 10px 10px 10px 10px;
  }
}
