<button mat-button type="button" (click)="openForm()" [attr.aria-label]="ariaLabel" [disabled]="disabled">
  <span *ngIf="!showIconText" [class]="buttonClass"><mat-icon [icon]="buttonIcon"></mat-icon>{{ label }}</span>
  <span *ngIf="showIconText" class="mat-button-wrapper">
    <ni-icon-text mat-button [attr.aria-label]="ariaLabel" [icon]="buttonIcon" [text]="label"></ni-icon-text>
  </span>
</button>
