mat-form-field {
  width: 100%;
}

.custom-loader {
  position: absolute;
  width: 25px;
  height: 25px;
  display: grid;
  border-width: 3px;
  border-style: solid;
  border-radius: 50%;
  rotate: 45deg;
  animation: spin1 3s infinite ease-in-out;
  animation-direction: normal;
  right: 10px;
  top: 25%;
}

.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  margin: 5px;
  border: inherit;
  border-radius: 50%;
}

.custom-loader::after {
  animation: spin2 3s infinite ease-in-out;
  margin: 1px;
}

@keyframes spin1 {
  90% {
    transform: rotate(1turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

@keyframes spin2 {
  90% {
    transform: rotate(-2turn);
  }
  100% {
    transform: rotate(-2turn);
  }
}
