<mat-form-field [appearance]="appearance">
  <input
    matInput
    [id]="id"
    type="text"
    [readonly]="readonly"
    [required]="required || false"
    [tabIndex]="tabindex"
    [placeholder]="placeholder || ''"
    [matAutocomplete]="auto"
    [formControl]="displayName"
    (blur)="onBlur($event)"
    #input
    [attr.aria-label]="ariaLabel"
  />

  <div *ngIf="loadingMatches" class="custom-loader"></div>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onItemSelected($event)">
    <mat-option *ngIf="defaultOption" [value]="defaultOption">{{ getLabel(defaultOption) }}</mat-option>
    <mat-option *ngFor="let item of items$ | async" [value]="item">
      {{ getLabel(item) }}
    </mat-option>
    <mat-option disabled *ngIf="(items$ | async)?.length === 0">
      {{ noMatchText ? noMatchText : 'No match found' }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
