<div class="dialog-list">
  <div class="list-header">
    <h3><mat-icon [icon]="dialogData?.icon || ''"></mat-icon> {{ dialogData?.listName || '' }}</h3>
  </div>
  <button mat-icon-button type="button" class="close-button" aria-label="Close dialog" (click)="close()">
    <mat-icon icon="close"></mat-icon>
  </button>
  <mat-divider></mat-divider>
  <ng-container *ngFor="let item of dialogData?.items; let last = last">
    <div class="wrapper">
      <ni-note [item]="item"> </ni-note>
    </div>
  </ng-container>
</div>
