.dialog-list {
  position: relative;

  .list-header {
    padding: 16px;
    overflow: hidden;

    .mat-icon {
      vertical-align: middle;
    }

    h3 {
      font-size: 24px;
      font-weight: 700;
      margin: 0;
      float: left;
      line-height: 1;
    }
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
