<div
  class="flex-wrapper"
  [fxLayout]="(layout$ | async) || ''"
  [fxLayoutGap]="(gap$ | async) || ''"
  [fxLayoutAlign]="(alignment$ | async) || ''"
>
  <div *ngFor="let item of field.fieldGroup" class="flex-wrapper-item" [style.flex]="item.props?.['flexes$'] | async">
    <formly-field [field]="item"></formly-field>
  </div>
</div>
