<div class="page-stepper">
  <div class="steps">
    <div class="steps__inner">
      <ni-progress-bar
        *ngIf="progressBar && progressBar.enabled"
        [max]="steps.length"
        [value]="selectedIndex + 1"
        [width]="progressBar.width"
        [height]="progressBar.height"
        [subLabel]="progressBar.subLabel | translate"
        [conjunction]="progressBar.conjunction"
        [trackColour]="progressBar.trackColour"
        [progressColour]="progressBar.progressColour"
      ></ni-progress-bar>
      <ng-container *ngFor="let step of steps; let i = index; let first = first">
        <div
          class="step"
          [ngClass]="{
            'step--active': selectedIndex === i,
            'step--no-divider': !stepDivider || !stepDivider.enabled,
            'step--no-click': isStepSelectable(i)
          }"
        >
          <div
            *ngIf="stepDivider && stepDivider.enabled && !first"
            class="step__divider"
            [style.height]="stepDivider.height || ''"
            [style.margin]="stepDivider.margin || ''"
          ></div>
          <button type="button" (click)="setSelectedStepByIndex(i)">
            <div class="step__info">
              <p class="step__index">{{ i + 1 }} of {{ steps.length }}</p>
              <p class="step__label">{{ step.label === undefined ? '' : (step.label | translate) }}</p>
              <p *ngIf="step.subLabel" class="step__sub-label">
                {{ step.subLabel === undefined ? '' : (step.subLabel | translate) }}
              </p>
            </div>
            <mat-icon *ngIf="step.icon" class="step__icon" [icon]="step.icon" [size]="'50px'"></mat-icon>
          </button>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="content">
    <mat-card *ngIf="selected">
      <div [ngTemplateOutlet]="selected ? selected.content : null"></div>
      <div class="actions">
        <div *ngFor="let btn of buttonConfig; let btnIdx = index">
          <button
            class="custom-button"
            *ngIf="btn.visible && selectedIndex === btn.stepIndex && btn.materialType === 'stroked'"
            (click)="onButtonPress(btn.name, btn.isStepperControl, btn.moveToStep)"
            [disabled]="isButtonDisabled(btn.alwaysEnabled, steps.get(selectedIndex)?.control?.invalid)"
            type="button"
            mat-stroked-button
            [color]="btn.colour"
            [attr.aria-label]="btn.ariaLabel === undefined ? '' : (btn.ariaLabel | translate)"
          >
            <mat-icon [icon]="btn.icon" [size]="btn.size"></mat-icon>
            {{ btn.label | translate }}
          </button>
          <!-- Following button is only the implemtation of review & submit button and submit button -->
          <button
            class="custom-button"
            *ngIf="btn.visible && selectedIndex === btn.stepIndex && btn.materialType === 'flat'"
            (click)="onButtonPress(btn.name, btn.isStepperControl, btn.moveToStep)"
            [disabled]="isButtonDisabled(btn.alwaysEnabled, steps.get(steps.length - 2)?.control?.invalid)"
            type="button"
            mat-flat-button
            [color]="btn.colour"
            [attr.aria-label]="btn.ariaLabel === undefined ? '' : (btn.ariaLabel | translate)"
          >
            {{ btn.label === undefined ? '' : (btn.label | translate) }}
            <mat-icon *ngIf="btn.icon" [icon]="btn.icon" [size]="btn.size"></mat-icon>
          </button>
        </div>
        <div *ngIf="!hidePreviousNextButtons">
          <button
            *ngIf="selectedIndex !== 0"
            cdkStepperPrevious
            type="button"
            mat-stroked-button
            color="primary"
            (click)="onButtonPress('previous', false, 0)"
            [attr.aria-label]="'previous' | translate"
          >
            <mat-icon [icon]="'fal fa-arrow-circle-left'" [size]="'16px'"></mat-icon>
            {{ 'Back' | translate }}
          </button>
          <button
            *ngIf="selectedIndex !== steps.length - 1"
            cdkStepperNext
            type="button"
            mat-stroked-button
            color="primary"
            [disabled]="steps.get(selectedIndex)?.control?.invalid"
            (click)="onButtonPress('next', false, 0)"
            [attr.aria-label]="'next' | translate"
          >
            <mat-icon [icon]="'fal fa-arrow-circle-right'" [size]="'16px'"></mat-icon>
            {{ 'Next' | translate }}
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
