:host {
  display: contents;
}

.mat-card,
.page-stepper {
  flex: 1;
  min-height: 30rem;
}

.page-stepper {
  display: flex;
}

.mat-card {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: calc(100% + 2rem);
  padding-top: 60px;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: -2rem;
}

.steps {
  padding-left: 30px;
  padding-right: 60px;
  padding-bottom: 60px;
  width: 360px;
  height: calc(100vh - 124px);
  display: flex;
  justify-content: flex-end;
  .steps__inner {
    justify-content: center;
    display: grid;
    align-items: center;
    height: fit-content;
    margin-top: 10%;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;

  button + button {
    margin-left: 1rem;
  }
}

.custom-button {
  margin: auto 0.5rem auto auto;
}
.content {
  flex: 1;
}

.step {
  width: 100%;

  button {
    display: flex;
    cursor: pointer;
    width: 100%;
    text-align: right;
    border: 0;
    background: 0;
    appearance: none;
    align-items: center;

    > div {
      flex: 1;
    }
  }

  &__info {
    flex: 1;
  }

  &__icon {
    border: 2px solid;
    border-radius: 50%;
    margin-left: 1rem;
    padding: 2rem;
  }
}

.step--no-click {
  button {
    cursor: default;
  }
}

.step--no-divider + .step--no-divider {
  margin-top: 1rem;
}

.step__label,
.step__sub-label,
.step__index {
  margin-bottom: 0;
  line-height: 1;
}

.step__sub-label {
  margin-top: 0.5rem;
}

.step__divider {
  height: 3.5rem;
  margin: 1rem 38px 1rem;
}

ni-progress-bar {
  display: block;
  margin-bottom: 3vw;
}

@media screen and (max-width: 1919px) {
  .step__index {
    display: block;
    margin-bottom: 0.5rem;
  }

  ni-progress-bar {
    display: none;
  }
}

@media screen and (min-width: 1920px) {
  .step__index {
    display: none;
  }
}
.mat-flat-button {
  border-radius: 20px;
  margin: 0 0.5rem;
}
