<div class="date-list-view">
  <ng-container *ngIf="!isEmpty; else elseBlock">
    <form [formGroup]="formGroup">
      <formly-form [fields]="fieldConfig || []" [model]="model || {}" [form]="form" [options]="{}"> </formly-form>
    </form>
  </ng-container>
  <ng-template #elseBlock>
    <p>{{ props['noData'] }}</p>
  </ng-template>
</div>
