.date-list-view {
  form {
    padding: 0;
  }

  .text-view-container {
    margin-bottom: 1rem;
    padding: 0.75rem;
  }

  mat-icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
    margin-right: 0.5em;
  }
}
