<div class="main-container" nwTranslateContext="MY INTEL">
  <h1 class="my-intel-main-title">
    <mat-icon class="title-icon" [icon]="'fas fa-tachometer-alt-fast'"></mat-icon>
    <span nwTranslate>My Intel</span>
  </h1>
  <div class="my-intel-container">
    <mat-card
      *ngIf="['INTEL_MANAGEMENT'] | userHasPermissions"
      class="my-intel-card my-intel-management-card"
      title="{{ 'My intel management' | translate }}"
      tabindex="0"
    >
      <mat-card-title>
        <h2>
          <mat-icon class="title-icon" [icon]="'fas fa-gears'"></mat-icon>
          <span nwTranslate>My Intel Management</span>
        </h2>
      </mat-card-title>
      <nw-my-intel-management
        *ngIf="oirActionCounts$ | async as oirActionCounts"
        class="flex-auto"
        [authoriseCount]="oirActionCounts.authorise"
        [sanitiseCount]="oirActionCounts.sanitise"
        [manageCount]="oirActionCounts.manage"
      ></nw-my-intel-management>
    </mat-card>
  </div>
</div>
