.my-intel-main-title {
  margin-bottom: 2rem;
}

.title-icon {
  margin-right: 0.8rem;
}

.my-intel-container {
  position: relative;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  min-height: 80vh;
}

.my-intel-card {
  padding: 2rem;
}

.my-intel-management-card {
  // Override mat-card style
  display: flex !important;
  flex-direction: column;
}
