<ng-container [ngSwitch]="dataTypeClean">
  <ng-container *ngSwitchCase="DataType.date">{{ value | toDate }}</ng-container>
  <ng-container *ngSwitchCase="DataType.dateTime">{{ value | toDatetime }}</ng-container>
  <ng-container *ngSwitchCase="DataType.dateTimeNoTz">{{ value | toDatetime: false }}</ng-container>
  <ng-container *ngSwitchCase="DataType.dateTimeWithSeconds">{{ value | toDatetime: true:true }}</ng-container>
  <ng-container *ngSwitchCase="DataType.dateTimeWithSecondsNoTz">{{ value | toDatetime: false:true }}</ng-container>
  <ng-container *ngSwitchCase="DataType.multiChoice">{{ value | lookupList | async }}</ng-container>
  <ng-container *ngSwitchCase="DataType.selectOption">{{ value | toDisplayValue }}</ng-container>
  <ng-container *ngSwitchCase="DataType.lookup">{{ value | lookup | async }}</ng-container>
  <ng-container *ngSwitchCase="DataType.lookupHierarchical">{{ value | lookup: true | async }}</ng-container>
  <ng-container *ngSwitchCase="DataType.profile">
    <ni-profile-cell [value]="value"> </ni-profile-cell>
  </ng-container>
  <ng-container *ngSwitchCase="DataType.status">
    <ni-badge [text]="value?.value" [cssClass]="value?.cssClass"> </ni-badge>
  </ng-container>
  <ng-container *ngSwitchCase="DataType.icon">
    <mat-icon [icon]="value"></mat-icon>
  </ng-container>
  <ng-container *ngSwitchCase="DataType.messages">
    <span *ngIf="value > 0" [title]="'You have ' + value + ' unread messages'">
      <mat-icon [icon]="'fas fa-envelope'" class="ni-format-message" [size]="'30px'"></mat-icon> {{ value }}
      <span class="cdk-visually-hidden">unread messages</span>
    </span>
  </ng-container>
  <ng-container *ngSwitchCase="DataType.blobView">
    <div *ngIf="value" [style.background-image]="'url(' + (value | blobView) + ')'" class="blob-view"></div>
  </ng-container>
  <ng-container *ngSwitchCase="DataType.entityReference">
    <span *ngIf="value && value.entityReference">
      <ng-container *ngIf="value.entityTypeId | entityType as type">{{ type }}: </ng-container>
      {{ value.entityReference }}
    </span>
  </ng-container>
  <ng-container *ngSwitchCase="DataType.entityMedia">
    <div class="image-wrapper">
      <img class="entity-media" [src]="value | entityMedia: '150':'150'" />
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="DataType.iconText">
    <mat-icon *ngIf="value.enableDefault" [icon]="value.icon ? value.icon : 'fas fa-circle'"></mat-icon>
    <mat-icon *ngIf="value.icon && !value.enableDefault" [icon]="value.icon"></mat-icon>
    {{ value.text }}
  </ng-container>
  <ng-container *ngSwitchCase="DataType.dateRelative">{{ value | toDateRelative }}</ng-container>
  <ng-container *ngSwitchCase="DataType.lookupWithFallback">{{ value | lookup: false:true | async }}</ng-container>
  <ng-container *ngSwitchCase="DataType.lookupHierarchicalWithFallback">{{
    value | lookup: true:true | async
  }}</ng-container>
  <ng-container *ngSwitchDefault>{{ value }}</ng-container>
</ng-container>
