<div *ngIf="item" [ngClass]="{ 'message-unread': !item.isRead }" class="message-container">
  <div class="message-top">
    <ni-profile-picture [blobId]="item.photoId" [initials]="item.initials" [size]="'medium'"> </ni-profile-picture>
    <div class="message-info">
      <p class="message-details">
        <span *ngIf="item.fullName"
          >Posted By:
          <strong>{{ item.fullName }}</strong>
        </span>
        <span *ngIf="item.lastUpdatedDate"
          >Date:
          <strong>{{ item.lastUpdatedDate | toDatetime }}</strong>
        </span>
      </p>
      <ng-container *ngIf="!item.blobId; else download">
        <img
          *ngIf="imageThumbnail; else message"
          [src]="imageThumbnail | blobView"
          alt="Message image attachment"
          width="60"
        />
        <ng-template #message>
          <div [innerHTML]="item.messageHtml"></div>
        </ng-template>
      </ng-container>
      <ng-template #download>
        <ni-downloader [attachment]="item"> </ni-downloader>
      </ng-template>
    </div>
  </div>
</div>
