.message-container {
  display: flex;
  flex-direction: row;
  place-content: flex-start;
  align-items: flex-start;
}

.message-top {
  display: flex;
}

.attachment-content {
  margin-left: 12px;
  width: 100%;

  &:not(.open) {
    overflow: hidden;
  }
}

.message-info {
  font-size: 12px;

  .message-details {
    margin-bottom: 8px;
    width: 100%;

    button {
      float: right;
      margin-left: 16px;
      background: 0;
      border: 0;
      padding-top: 0;
      cursor: pointer;
    }

    span + span {
      margin-left: 8px;
      padding-left: 8px;
      border-left: 1px solid rgba(0, 0, 0, 0.12);
    }

    > span {
      @media screen and (max-width: 959px) {
        display: block;
        padding-left: 0 !important;
        margin-left: 0 !important;
        border-left: 0 !important;
      }
    }
  }
}
