:host {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
  }

  .custom-loader {
    width: min(20vh, 20vw);
    height: min(20vh, 20vw);
    display: grid;
    border-width: calc(min(20vh, 20vw) * 0.12);
    border-style: solid;
    border-radius: 50%;
    rotate: 45deg;
    animation: spin1 3s infinite ease-in-out;
    animation-direction: normal;
  }

  .custom-loader::before,
  .custom-loader::after {
    content: "";
    grid-area: 1/1;
    margin: calc(min(20vh, 20vw) * 0.2);
    border: inherit;
    border-radius: 50%;
  }

  .custom-loader::after {
    animation: spin2 3s infinite ease-in-out;
    margin: calc(min(20vh, 20vw) * 0.04);
  }

  @keyframes spin1 {
    90% {
      transform: rotate(1turn);
    }
    100% {
      transform: rotate(1turn);
    }
  }

  @keyframes spin2 {
    90% {
      transform: rotate(-2turn);
    }
    100% {
      transform: rotate(-2turn);
    }
  }
