<formly-form
  *ngIf="routes.length > 0 && fieldArray; else noData"
  [form]="formgroup"
  [fields]="fields"
  [model]="{ routes }"
></formly-form>

<ng-template #noData>
  <p class="no-data">No data</p>
</ng-template>
