<div *ngIf="groups && groups.length > 0">
  <ng-container *ngFor="let group of groups">
    <ng-container [ngSwitch]="containerType">
      <ng-container *ngSwitchCase="'card'">
        <mat-card *ngIf="group.items && group.items.length > 0" class="meta-data-group">
          <mat-card-header *ngIf="group.name || ungroupedTitle">
            <mat-card-title>{{ group.name || ungroupedTitle }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ni-meta-data-item
              *ngFor="let item of group.items; let index = index"
              [metaDataItemControl]="item"
              [metaData]="metaData.items"
              [readonly]="readonly"
              [index]="index"
              [model]="formModel"
            ></ni-meta-data-item>
          </mat-card-content>
        </mat-card>
      </ng-container>
      <ng-container *ngSwitchCase="'panel'">
        <div class="panel-wrapper">
          <h2 *ngIf="group.name || ungroupedTitle" class="panel-wrapper__header">{{ group.name || ungroupedTitle }}</h2>
          <ni-meta-data-item
            *ngFor="let item of group.items; let index = index"
            [metaDataItemControl]="item"
            [metaData]="metaData.items"
            [readonly]="readonly"
            [index]="index"
            [model]="formModel"
          ></ni-meta-data-item>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'none'">
        <h2 *ngIf="group.name || ungroupedTitle">{{ group.name || ungroupedTitle }}</h2>
        <ni-meta-data-item
          *ngFor="let item of group.items; let index = index"
          [metaDataItemControl]="item"
          [metaData]="metaData.items"
          [readonly]="readonly"
          [index]="index"
          [model]="formModel"
        ></ni-meta-data-item>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
