@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin header-bar-color($color, $variables) {
  $background: map-get($color, background);
  $is-dark-theme: map-get($color, is-dark);
  $disabled: mat.get-color-from-palette($background, disabled-button, if($is-dark-theme, 0.5, 0.12));

  .header-bar {
    &.mat-toolbar {
      background-color: mat.get-color-from-palette(map-get($color, background), card) !important;
      box-shadow: 0px 3px 3px rgb(0 0 0 / 8%);
    }

    .phaneros-logo {
      background-image: url($branding-logo);
    }

    .online-icon, .offline-icon {
      border-radius: 50%;
      padding: 5px;
      color: white;
    }

    .online-icon {
      background-color: $success;
    }

    .offline-icon {
      background-color: $disabled;
    }
  }
}

@mixin header-bar-typography($typography, $variables) {
  .header-bar {
    font-weight: mat.font-weight($typography, 'body-2');
  }
}

@mixin header-bar-theme($color, $typography, $variables) {
  @include header-bar-color($color, $variables);
  @include header-bar-typography($typography, $variables);
}
