<mat-toolbar class="header-bar">
  <!-- iOS for some reasosn won't read the aria expanded state here, so agreed to add into the label and read as one -->
  <button
    class="lt-md-hide"
    colour="primary"
    [attr.aria-label]="menuLabel + (menuState === 'closed' ? ' Menu collapsed' : ' Menu expanded')"
    (click)="onMenuButtonClicked()"
    mat-icon-button
  >
    <mat-icon>{{ menuState === 'closed' ? 'menu' : 'close' }}</mat-icon>
  </button>
  <span class="phaneros-logo"></span>
  <span class="spacer"></span>
  <span class="name lt-md-hide">{{ user?.fullName }}</span>
  <button
    *ngIf="workOnline && (['PHANEROS_WORK_OFFLINE'] | userHasPermissions)"
    class="gt-md-hide"
    mat-icon-button
    (click)="setOnlinePreference()"
    aria-label="Switch to work offline"
    aria-checked="true"
  >
    <mat-icon class="online-icon" [icon]="onlineWifiIcon"></mat-icon>
  </button>

  <button
    *ngIf="!workOnline && (['PHANEROS_WORK_OFFLINE'] | userHasPermissions)"
    class="gt-md-hide"
    [disabled]="workOnline === false && online === false"
    mat-icon-button
    (click)="setOfflinePreference()"
    aria-label="Switch to work online"
    aria-checked="false"
  >
    <mat-icon class="offline-icon" [icon]="offlineWifiIcon"></mat-icon>
  </button>

  <ph-theme-menu class="lt-md-hide" (themeChange)="onThemeChange($event)" [themes]="themes"></ph-theme-menu>
  <button
    class="gt-sm-hide"
    colour="primary"
    [attr.aria-label]="menuLabel"
    [attr.aria-expanded]="menuState === 'closed' ? false : true"
    (click)="onMenuButtonClicked()"
    mat-icon-button
  >
    <mat-icon>{{ menuState === 'closed' ? 'menu' : 'close' }}</mat-icon>
  </button>
</mat-toolbar>
