.spacer {
  flex: 1 1 auto;
}

.name {
  margin-right: 1em;
}

.logo {
  margin-left: 15px;
  .sto {
    fill: green;
  }
}

mat-toolbar {
  height: 60px;
  padding-left: 7px;
}

.phaneros-logo {
  display: inline-block;
  width: 100px;
  height: 15px;
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  margin-left: 25px;
}
