<mat-chip-list role="listbox" [attr.aria-label]="listAriaLabel">
  <mat-chip [color]="colour" [selected]="!!colour" (removed)="onRemove()" role="option">
    {{ text }}
    <button *ngIf="enableRemove" matChipRemove type="button" [attr.aria-label]="removeButtonAriaLabel || ariaLabel">
      <mat-icon [icon]="'cancel'" [size]="'18px'"></mat-icon>
    </button>
  </mat-chip>
</mat-chip-list>
