<div *ngIf="title" class="title">
  <p>Title</p>
  <p class="title-count">{{ itemCount }}</p>
  <p class="title-text">{{ title }}</p>
</div>

<div class="actions">
  <div
    class="actions-filters"
    [ngClass]="{
      'actions-filters-small': enableSearch
    }"
  >
    <mat-chip-list>
      <ng-container *ngFor="let filter of userFilters">
        <mat-chip
          *ngIf="filter.stringFilter"
          (click)="removeFilter(filter)"
          [title]="filter.displayValue ?? filter.stringFilter"
        >
          <span>{{ filter.displayValue ?? filter.stringFilter }}</span>
          <button matChipRemove type="button" aria-label="Remove Filter" (click)="removeFilter(filter)">
            <mat-icon [icon]="'cancel'" [size]="'18px'"></mat-icon>
          </button>
        </mat-chip>
      </ng-container>
    </mat-chip-list>
  </div>
  <div
    class="actions-buttons"
    [ngClass]="{
      'actions-buttons-full': enableSearch
    }"
  >
    <a
      *ngIf="(enableAdd && listFilterAddUrl) || addUrl"
      [href]="listFilterAddUrl ?? addUrl"
      mat-stroked-button
      color="primary"
    >
      <mat-icon *ngIf="enableButtonIcons" [icon]="addButtonIcon" [size]="iconButtonSize"></mat-icon>
      {{ addText }}
    </a>
    <a
      *ngIf="listFilterEnableAdd && listFilterAddRoute"
      [routerLink]="listFilterAddRoute"
      mat-stroked-button
      color="primary"
    >
      <mat-icon *ngIf="enableButtonIcons" [icon]="addButtonIcon" [size]="iconButtonSize"></mat-icon>
      {{ addText }}
    </a>
    <button
      *ngIf="enableSearch"
      type="button"
      mat-stroked-button
      color="primary"
      [attr.aria-label]="searchText"
      (click)="openSearchDialog()"
    >
      <mat-icon *ngIf="enableButtonIcons" [icon]="searchButtonIcon" [size]="iconButtonSize"></mat-icon>
      {{ searchText }}
    </button>
  </div>
</div>

<div class="list-filter-contents">
  <ng-container></ng-container>
</div>
