ni-circular-gauge {
  display: flex;
  justify-content: center;
  height: 100%;
}

.circular-gauge {
  display: flex;
  flex-direction: row;

  p {
    margin: 0;
    line-height: 1;
  }

  &.chart-position {
    height: 100%;
  }

  .chart-wrapper {
    position: relative;
    width: 100%;
    flex: 1 1 auto;
    min-height: 0;
  }

  .chart-container {
    display: flex;
    flex-direction: column;
  }

  .center-titles {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: lighter;
  }

  .circular-gauge-legend {
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
    position: absolute;
    bottom: 0;
  }

  .circular-gauge-legend-item {
    text-align: center;

    + .circular-gauge-legend-item {
      margin-left: 1rem;
    }
  }

  ejs-circulargauge {
    height: 100%;
  }

  rect {
    fill: transparent !important;
  }
}
