<div
  #outer
  class="chart-position circular-gauge"
  [style.width]="width"
  [style.max-height]="height"
  [style.place-content]="flexPosition"
  *ngIf="hasData; else noData"
>
  <div class="chart-container" *ngIf="data">
    <div class="chart-wrapper" *ngIf="!calculating">
      <ejs-circulargauge
        #chart
        style="display: block"
        allowMargin="false"
        [margin]="margin"
        [centerY]="centerY"
        [style.height]="height"
      >
        <e-axes>
          <e-axis
            [lineStyle]="lineStyle"
            [ranges]="calcRangeRadii(data.ranges || [])"
            [pointers]="calcPointerRadii(data.pointers || [])"
            [maximum]="total"
            [majorTicks]="majorTicks"
            [minorTicks]="minorTicks"
            startAngle="240"
            endAngle="120"
            radius="100%"
          >
          </e-axis>
        </e-axes>
      </ejs-circulargauge>

      <div *ngIf="!calculating" class="center-titles" [style.top]="titlesTop + 'px'">
        <p *ngIf="title" [ngStyle]="{ fontSize: calculatedTitleSize, lineHeight: calculatedTitleSize }">
          {{ title }}
        </p>
        <p *ngIf="subTitle" [ngStyle]="{ fontSize: calculatedSubTitleSize, lineHeight: calculatedSubTitleSize }">
          {{ subTitle }}
        </p>
      </div>

      <div
        #legend
        *ngIf="chartLegend?.visible && !calculatingHeight"
        class="circular-gauge-legend"
        [style.width]="chartLegend?.width"
        [style.height]="chartLegend?.height"
        [style.top]="legendTop + 'px'"
      >
        <div *ngFor="let bar of data.pointers || []" class="circular-gauge-legend-item" [style.color]="bar.color">
          <p class="summary-item-value" [style.font-size]="calculatedLegendTitleSize">{{ bar.value }}</p>
          <p class="summary-item-text" [style.font-size]="calculatedLegendSubTitleSize">{{ bar.text }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noData>
  <p>No Data</p>
</ng-template>
