<div class="form-field-group">
  <mat-form-field appearance="outline">
    <mat-select
      (selectionChange)="_onItemSelected($event.value, level)"
      [formControl]="selectedIdControl"
      (closed)="onClosed()"
    >
      <mat-option *ngIf="addDefaultOption" [value]="null">---choose---</mat-option>
      <mat-option *ngFor="let lookup of lookups" [value]="lookup.item.lookupId"
        >{{ lookup.item.displayValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="selectedLookup?.children?.length || 0 > 0">
  <ni-lookup-level
    [lookups]="selectedLookup?.children || null"
    [level]="level + 1"
    (itemSelected)="onItemSelected($event)"
    [selectedIds]="selectedIds"
  >
  </ni-lookup-level>
</div>
