<mat-sidenav-container autosize class="form-gallery-container">
  <mat-sidenav
    #sidenav
    mode="side"
    opened
    class="form-gallery-sidenav lt-md-hide"
    [fixedInViewport]="true"
    [fixedTopGap]="0"
    [fixedBottomGap]="0"
  >
    <mat-nav-list>
      <ni-menu-list-item [item]="homeItem" (itemSelected)="navigateToHome()"> </ni-menu-list-item>
      <ni-menu-list-item
        *ngFor="let item of menuItems"
        [item]="item || {}"
        [menuState]="'open'"
        [expanded]="true"
        (itemSelected)="menuAction($event)"
      >
      </ni-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content-wrapper flex flex-auto flex-column">
      <div class="content">
        <ni-page [title]="'Form Gallery'">
          <ni-form
            [definition]="definition"
            [model]="model"
            [context]="context"
            (formAction)="executeAction($event.action)"
          >
          </ni-form>
        </ni-page>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
