.form-gallery-container {
  .content-wrapper {
    overflow-y: auto;
    height: 100%;
  }

  .content {
    max-width: 1180px;
    min-height: 100%;
    width: 90%;
    padding: 1% 0;
    align-self: center;
  }

  .form-gallery-sidenav {
    width: 280px;
  }

  ::ng-deep .menu-group {
    margin-top: 1.5rem !important;
  }

  .scroll-wrapper-child {
    div {
      height: 1000px;
      width: 5000px;
      background: #f0f0f0;
    }
  }

  .mat-drawer-inner-container {
    display: block;
  }

  .mat-drawer-content {
    margin-left: 0 !important;
  }

  @media screen and (min-width: 960px) { // gt-sm
    .content-wrapper {
      margin-left: 278px;
    }
  }
}
