<div class="button-list">
  <button
    *ngFor="let button of buttonsToShow"
    mat-raised-button
    type="button"
    [color]="formControl?.value === button.value ? 'primary' : ''"
    [attr.aria-label]="button.text"
    (click)="setValue(button.value)"
  >
    {{ button.text }}
  </button>
  <button *ngIf="formControl?.value && enableClear" mat-raised-button type="button" (click)="clearValue()">
    {{ clearText }}
  </button>
</div>
