.entity-summary {
  display: flex;
  gap: 0.5rem;
  position: relative;

  .divider {
    width: 2px;
  }

  a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &:focus {
      outline-width: 2px;
      outline-style: solid;
    }
  }
}
