<div class="entity-summary" *ngIf="entitySummaryItems.length > 0">
  <a
    *ngIf="entitySummaryUrl && props['entitySummaryIsUrlRoute']"
    [routerLink]="entitySummaryUrl"
    [attr.aria-label]="'View Entity'"
  ></a>
  <a
    *ngIf="entitySummaryUrl && !props['entitySummaryIsUrlRoute']"
    [href]="entitySummaryUrl"
    target="_blank"
    [attr.aria-label]="'View Entity'"
  ></a>
  <ng-container>
    <ng-container *ngFor="let item of entitySummaryItems">
      <ng-container *ngIf="item.isDivider; else textIcon">
        <div class="divider"></div>
      </ng-container>
      <ng-template #textIcon>
        <ni-icon-text
          [icon]="item.icon?.name"
          [label]="item.label?.text"
          [text]="this.formControl.value[item.text?.property ?? ''] ?? item.text?.text ?? ''"
        ></ni-icon-text>
      </ng-template>
    </ng-container>
  </ng-container>
</div>
