@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin app-component-color($color, $variables) {
  $background: map-get($color, background);
  $is-dark-theme: map-get($color, is-dark);
  $disabled: mat.get-color-from-palette($background, disabled-button, if($is-dark-theme, 0.5, 0.12));

  .toggle-connection {
    .online-icon {
      color: $success;
    }

    .offline-icon {
      color: $disabled;
    }
  }
}

@mixin app-component-typography($typography, $variables) {}

@mixin app-component-theme($color, $typography, $variables) {
  @include app-component-color($color, $variables);
  @include app-component-typography($typography, $variables);
}
