.page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  overflow-y: auto;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

.content-wrapper-inner {
  align-self: center;
}

.content {
  max-width: 1180px;
  width: 90%;
  padding: 1% 0;
  box-sizing: border-box;
}

.content-wide {
  max-width: 1480px;
}

.content-with-banner {
  padding-top: 0;
}

.content-full-width {
  max-width: 100%;
  width: 100%;
}

.content.no-pad {
  max-width: 100%;
  width: 100%;
  padding: 0;
}

.sidenav-container {
  height: 100%;
}

.toggle-connection {
  display: inline-block;
  padding: 16px;

  & > * {
    vertical-align: middle;
  }

  &:hover {
    cursor: pointer;
  }

  mat-slide-toggle {
    margin-left: 16px;
  }
}

.mat-sidenav.icon-peek {
  transform: none;
  visibility: visible !important;
  display: block;
}

.disabled {
  pointer-events: none;
}
