<ni-loading *ngIf="loading"></ni-loading>
<div class="page-wrapper">
  <ph-header-bar
    *ngIf="showToolbars$ | async"
    [menuState]="menuState"
    [online]="online$ | async"
    [workOnline]="workOnline$ | async"
    [user]="user$ | async"
    [menuItems]="menuItems$ | async"
    [themes]="(themes$ | async) || null"
    (themeChange)="onThemeChange($event)"
    (menuStateToggled)="onMenuButtonClicked($event)"
    (setWorkOnlineStatus)="setWorkOnlineStatus($event)"
  >
  </ph-header-bar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      *ngIf="(showToolbars$ | async) && (wide$ | async)"
      mode="side"
      [opened]="menuState !== 'closed'"
      class="icon-peek"
      [@menuToggle]="menuState === 'closed' ? 'closed' : 'open'"
    >
      <mat-nav-list>
        <div
          *ngIf="(workOnline$ | async) && menuState !== 'closed' && (['PHANEROS_WORK_OFFLINE'] | userHasPermissions)"
          class="toggle-connection"
          (click)="setWorkOnlineStatus(false)"
        >
          <mat-icon class="online-icon" [icon]="onlineWifiIcon"></mat-icon>
          <mat-slide-toggle
            (keydown.enter)="setWorkOnlineStatus(false)"
            [checked]="true"
            [aria-label]="workOnlineLabel + ((workOnline$ | async) === true ? 'offline' : 'online')"
          ></mat-slide-toggle>
        </div>
        <div
          *ngIf="
            (workOnline$ | async) === false &&
            menuState !== 'closed' &&
            (['PHANEROS_WORK_OFFLINE'] | userHasPermissions)
          "
          class="toggle-connection"
          [class.disabled]="(workOnline$ | async) === false && (online$ | async) === false"
          (click)="setWorkOnlineStatus(true)"
        >
          <mat-icon class="offline-icon" [icon]="offlineWifiIcon"></mat-icon>
          <mat-slide-toggle
            (keydown.enter)="setWorkOnlineStatus(true)"
            aria.checked="false"
            [aria-label]="workOnlineLabel + ((workOnline$ | async) === true ? 'offline' : 'online')"
          ></mat-slide-toggle>
        </div>
        <ph-menu-list-item
          *ngFor="let item of menuItems$ | async"
          [item]="item"
          [routeId]="routeId$ | async"
          (itemSelected)="onMenuItemSelected($event, false)"
          [menuState]="menuState"
        ></ph-menu-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content
      [style.margin-left]="(wide$ | async) && (showToolbars$ | async) ? (menuState === 'open' ? '280px' : '55px') : 0"
    >
      <div class="content-wrapper flex flex-auto flex-column">
        <div [class]="contentClass$ | async" class="content-wrapper-inner">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
    <mat-sidenav
      *ngIf="(showToolbars$ | async) && (wide$ | async) === false"
      mode="over"
      [opened]="menuState !== 'closed'"
      position="end"
      (closedStart)="onSideBarClosedStart()"
    >
      <h2>{{ (user$ | async)?.fullName }}</h2>
      <hr />
      <mat-nav-list>
        <div
          *ngIf="(workOnline$ | async) && menuState !== 'closed' && (['PHANEROS_WORK_OFFLINE'] | userHasPermissions)"
          class="toggle-connection"
          (click)="setWorkOnlineStatus(false)"
        >
          <mat-icon class="online-icon" [icon]="onlineWifiIcon"></mat-icon>
          <mat-slide-toggle
            (keydown.enter)="setWorkOnlineStatus(false)"
            [checked]="true"
            [aria-label]="workOnlineLabel + ((workOnline$ | async) === true ? 'offline' : 'online')"
          ></mat-slide-toggle>
        </div>
        <div
          *ngIf="
            (workOnline$ | async) === false &&
            menuState !== 'closed' &&
            (['PHANEROS_WORK_OFFLINE'] | userHasPermissions)
          "
          class="toggle-connection"
          [class.disabled]="(workOnline$ | async) === false && (online$ | async) === false"
          (click)="setWorkOnlineStatus(true)"
        >
          <mat-icon class="offline-icon" [icon]="offlineWifiIcon"></mat-icon>
          <mat-slide-toggle
            aria.checked="false"
            [aria-label]="workOnlineLabel + ((workOnline$ | async) === true ? 'offline' : 'online')"
            (keydown.enter)="setWorkOnlineStatus(true)"
          ></mat-slide-toggle>
        </div>
        <ph-menu-list-item
          *ngFor="let item of menuItems$ | async"
          [item]="item"
          (itemSelected)="onMenuItemSelected($event, true)"
          [menuState]="menuState"
          [routeId]="routeId$ | async"
        >
        </ph-menu-list-item>
      </mat-nav-list>
      <hr />
    </mat-sidenav>
  </mat-sidenav-container>
</div>
