<ni-meta-data-form-field
  *ngIf="isVisibleConditionally"
  [fieldId]="id"
  [hideRequiredMarker]="hideRequiredMarker"
  [label]="label"
  [required]="required"
  [control]="localControl"
  [itemTouched]="itemTouched"
  [instructions]="instructions"
  [showInstructions]="!readonly"
>
  <ni-uploader
    *ngIf="!readonly"
    [ariaLabel]="ariaLabel"
    [autoUpload]="settings.autoUpload"
    [asyncSettings]="settings.asyncSettings"
    [formControl]="localControl"
    [includeThumbnail]="includeThumbnail"
    [createWebImage]="createWebImage"
    [maxFileSize]="settings.maxFileSize"
    [multiple]="settings.multiple"
    [storageType]="storageType"
  >
  </ni-uploader>
  <div *ngIf="readonly">
    <img
      *ngFor="let item of localControl.value"
      class="media-thumbnail"
      [src]="item.thumbnailId | blobView"
      width="60"
      alt="Thumbnail"
    />
  </div>
</ni-meta-data-form-field>
