.profile-initials {
  background: #158ac0;
  color: #fff;
  border-radius: 100%;
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.large.profile-initials {
  width: 75px;
  height: 75px;
  font-size: 1.75em;
}

.xsmall.profile-initials {
  width: 24px;
  height: 24px;
  font-size: 0.9em;
  font-weight: normal;
}

.xlarge.profile-initials {
  width: 124px;
  height: 124px;
  font-size: 2.4em;
}

.medium.profile-initials {
  width: 60px;
  height: 60px;
  font-size: 1.5em;
}
