<vg-player [style.height]="height" [style.width]="width">
  <vg-overlay-play *ngIf="showPlayOverlay" [vgFor]="htmlVideoId"></vg-overlay-play>

  <vg-controls *ngIf="!hideControlPanel" [vgAutohide]="autoHideControls" [vgAutohideTime]="autoHideControlsTime">
    <vg-play-pause *ngIf="showPlayPause" [vgFor]="htmlVideoId"></vg-play-pause>
    <vg-mute *ngIf="showMute" [vgFor]="htmlVideoId"></vg-mute>
    <vg-volume *ngIf="showVolume" [vgFor]="htmlVideoId"></vg-volume>
    <vg-time-display
      *ngIf="showCurrentTime"
      [vgFor]="htmlVideoId"
      [vgProperty]="'current'"
      [vgFormat]="timeFormat"
    ></vg-time-display>

    <vg-scrub-bar *ngIf="showScrubBar">
      <vg-scrub-bar-current-time
        *ngIf="showScrubCurrentTime"
        [vgFor]="htmlVideoId"
        [vgSlider]="showScrubSlider"
      ></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time *ngIf="showScrubBufferTime" [vgFor]="htmlVideoId"></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>

    <vg-time-display
      *ngIf="showRemainingTime"
      [vgFor]="htmlVideoId"
      [vgProperty]="'left'"
      [vgFormat]="timeFormat"
    ></vg-time-display>
    <vg-time-display
      *ngIf="showTotalTime"
      [vgFor]="htmlVideoId"
      [vgProperty]="'total'"
      [vgFormat]="timeFormat"
    ></vg-time-display>

    <vg-fullscreen *ngIf="showFullscreen"></vg-fullscreen>
  </vg-controls>
  <video #videoRef [vgMedia]="$any(videoRef)" [id]="htmlVideoId" [src]="sourceUrl"></video>
</vg-player>
