:host {
  display: contents;
}

.icon-text {
  text-align: center;
  // max-width: 120px;
  width: 100%;
  padding: 1.5rem;
  p {
    margin: 0.25rem 0 0;
  }

  .mat-icon {
    display: block;
    margin: 0 auto;
  }

  .mat-icon + .mat-icon {
    margin-top: 0.5rem;
  }
}
