<div class="icon-text" [ngClass]="{ active: count && count > 0 }">
  <mat-icon *ngIf="icon" [icon]="icon" [size]="'60px'"></mat-icon>
  <ng-container *ngIf="subIcon || count">
    <mat-icon *ngIf="subIcon && !count" [icon]="subIcon" [size]="'24px'"></mat-icon>
    <p *ngIf="count" class="count">{{ count }}</p>
  </ng-container>
  <p *ngIf="label" class="label">{{ label }}</p>
  <p *ngIf="text" class="text">{{ text }}</p>
</div>
