.team-member {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;

  > a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.team-member-rank {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100px;
  line-height: 1;

  .mat-icon {
    margin-bottom: 0.25rem;
  }
}
