<a [href]="href" [title]="title"></a>
<ni-person
  [person]="person"
  [imageSize]="imageSize"
  [fields]="fields"
  [photoProp]="photoProp"
  [initialsProp]="initialsProp"
>
</ni-person>
<div *ngIf="rank" class="team-member-rank">
  <mat-icon [icon]="'fas fa-shield'" [size]="'24px'"></mat-icon>
  <span>{{ rank }}</span>
</div>
