﻿<div class="section-wrapper" [style.margin-top]="sectionEditMarginTop" [style.margin-bottom]="sectionEditMarginBottom">
  <div class="edit-section">
    <button
      *ngIf="!isEditMode"
      type="button"
      mat-stroked-button
      color="primary"
      [disableRipple]="true"
      [attr.aria-label]="sectionEditEditText"
      (click)="onEdit()"
    >
      <mat-icon class="edit-section-icon" [icon]="sectionEditEditIcon"></mat-icon>{{ sectionEditEditText }}
    </button>
    <div *ngIf="isEditMode">
      <button
        type="button"
        mat-stroked-button
        color="primary"
        [disableRipple]="true"
        [attr.aria-label]="sectionEditSaveText"
        (click)="onSave()"
      >
        <mat-icon class="edit-section-icon" [icon]="sectionEditSaveIcon"> </mat-icon>{{ sectionEditSaveText }}
      </button>
      <button
        type="button"
        mat-stroked-button
        color="primary"
        [disableRipple]="true"
        [attr.aria-label]="sectionEditCancelText"
        (click)="onCancel()"
      >
        <mat-icon class="edit-section-icon" [icon]="sectionEditCancelIcon"></mat-icon>{{ sectionEditCancelText }}
      </button>
    </div>
  </div>

  <ng-content></ng-content>
</div>
