﻿.edit-section {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;

  &-icon {
    height: auto;
    font-size: 12px;
  }

  button {
    font-size: 12px;
    padding: 0 10px 0 5px;
    line-height: 25px;

    &:last-of-type {
      margin-left: 10px;
    }
  }
}

