.table-actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1.5em;

  .mat-button-base + .mat-button-base {
    margin-left: 0.5em;

    [dir='rtl'] & {
      margin-left: 0;
      margin-right: 0.5em;
    }
  }
}
