<ni-entity-table
  [items]="value"
  [columnDefinitions]="columnDefinitions"
  [context]="context"
  [ariaTableName]="ariaTableName"
  [ariaRowLabel]="ariaRowLabel"
  [placeholder]="placeholder"
  [groupBy]="groupBy"
  [rootModel]="rootModel"
  [localModel]="localModel"
  (rowClick)="openEditDialog($event)"
></ni-entity-table>
<div class="table-actions" *ngIf="!disabled">
  <button
    *ngIf="enableAdd"
    [disabled]="addButtonIsDisabled"
    mat-raised-button
    type="button"
    [attr.aria-label]="addText"
    (click)="openAddDialog()"
    (keyup.enter)="openAddDialog()"
    color="primary"
  >
    {{ addText }}
  </button>
</div>
