<div
  #outer
  class="chart-position chart-line"
  [style.place-content]="flexPosition"
  *ngIf="hasData; else noData"
  [ngClass]="{ 'themed-labels': useThemeForLabels, 'themed-title': useThemeForTitle }"
>
  <div
    class="chart-wrapper"
    [style.width]="width"
    [style.height]="height"
    [style.max-width]="maxWidth"
    [ngClass]="{ 'chart-title-right': titleAlignment }"
  >
    <ejs-chart
      #line
      style="display: block; width: 100%; height: 100%"
      [chartArea]="chartArea"
      [primaryXAxis]="xAxis"
      [primaryYAxis]="yAxis"
      [tooltip]="tooltip"
      [title]="title"
      [titleStyle]="{ textAlignment: titleAlignment, color: titleColour }"
      [subTitle]="subTitle"
      [enableAnimation]="enableAnimation"
    >
      <e-series-collection>
        <e-series
          [dataSource]="data || []"
          type="Area"
          xName="name"
          yName="value"
          pointColorMapping="colour"
          [border]="seriesBorder"
          [fill]="isAreaGradient ? 'url(#area-gradient)' : areaColour"
        >
        </e-series>
      </e-series-collection>
    </ejs-chart>
  </div>

  <svg *ngIf="isAreaGradient" style="height: 0; width: 0">
    <defs>
      <linearGradient id="area-gradient" style="opacity: 1" class="chart-gradient" x1="0" x2="0" y1="0" y2="1">
        <stop offset="0"></stop>
        <stop offset="1"></stop>
      </linearGradient>
    </defs>
  </svg>
</div>

<ng-template #noData>
  <p>No Data</p>
</ng-template>
