ni-chart-line-type {
  height: 100%;
  display: block;
}

.chart-line {
  display: flex;
  flex-direction: row;

  #area-gradient stop {
    stop-color: var(--gradient-color, #c0c0c0);
  }

  .chart-gradient stop[offset='0'] {
    stop-opacity: 1;
  }

  .chart-gradient stop[offset='1'] {
    stop-opacity: 0;
  }

  &.chart-position {
    width: 100%;
    height: 100%;
  }

  // Required for transparent backgrounds
  // ChartArea background should be transparent by default: https://ej2.syncfusion.com/angular/documentation/api/chart/chartArea/
  // But for whatever reason the rect elements have fill="#fff" by default and changing the background property doesn't work
  rect {
    fill: transparent !important;
  }

  // Aligning title to the right cuts off the title if its too long, just another fun Syncfusion quirk.
  // We set the chart title text to have its anchor point at the right so it doesn't get cut off
  .chart-title-right text[id$='_ChartTitle'] {
    text-anchor: end !important;
  }
}
