<div class="container">
  <h1 class="margin-2">
    <mat-icon size="1.5rem" class="expanded-view-header-icon" [icon]="titleIcon"></mat-icon>
    {{ title }}
  </h1>
  <div class="expanded-view-grid-container">
    <div class="row">
      <nw-expanded-view-chart-panel
        [ageChartConfig]="ageChartConfig"
        [ageChartData]="ageChartData$ | async"
        [ageChartHasData]="ageChartHasData$ | async"
        [orgChartConfig]="orgChartConfig"
        [orgChartDataItems]="orgChartDataItems$ | async"
        [orgChartHasData]="orgChartHasData$ | async"
        [orgChartTitle]="orgChartTitle$ | async"
        [userChartConfig]="userChartConfig"
        [userChartData]="userChartData$ | async"
        [userChartHasData]="userChartHasData$ | async"
      ></nw-expanded-view-chart-panel>
    </div>
    <div class="row">
      <h3 class="margin-bottom-2">
        <mat-icon size="1rem" class="expanded-view-queue-header-icon" icon="fa-solid fa-layer-group"></mat-icon> Queue
        (Placeholder)
      </h3>
    </div>
  </div>
</div>
