.expanded-view-grid-container {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 2rem;
  max-height: calc(100vh - 124px);
}
.expanded-view-header-icon {
  margin-right: 0.4rem;
  margin-bottom: 2px;
}
.expanded-view-queue-header-icon {
  margin-right: 0.2rem;
  margin-bottom: 2px;
}
