<ni-meta-data-form-field
  *ngIf="isVisibleConditionally"
  [fieldId]="id"
  [hideRequiredMarker]="hideRequiredMarker"
  [label]="label"
  [required]="required"
  [control]="localControl"
  [itemTouched]="itemTouched"
  [instructions]="instructions"
  [showInstructions]="!readonly"
>
  <mat-form-field [appearance]="appearance">
    <mat-select
      #select
      [formControl]="localControl"
      [id]="id || ''"
      [required]="required"
      [attr.aria-label]="ariaLabel"
      [disabled]="readonly"
      [placeholder]="placeholder"
      [tabIndex]="tabIndex"
    >
      <mat-option
        *ngFor="let option of metaDataItemControl?.value?.Choices"
        [value]="option.Value"
        (click)="onChange(localControl.value)"
        >{{ option.Label }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</ni-meta-data-form-field>
