theme {
  color: (
    primary: (
      50: #e1f5fe,
      100: #b3e5fc,
      200: #81d4fa,
      300: #4fc3f7,
      400: #29b6f6,
      500: #03a9f4,
      600: #039be5,
      700: #0288d1,
      800: #0277bd,
      900: #158ac0,
      A100: #80d8ff,
      A200: #40c4ff,
      A400: #00b0ff,
      A700: #0091ea,
      contrast: (
        50: rgba(0, 0, 0, 0.87),
        100: rgba(0, 0, 0, 0.87),
        200: rgba(0, 0, 0, 0.87),
        300: rgba(0, 0, 0, 0.87),
        400: rgba(0, 0, 0, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(0, 0, 0, 0.87),
        A200: rgba(0, 0, 0, 0.87),
        A400: rgba(0, 0, 0, 0.87),
        A700: white,
      ),
      default: #158ac0,
      lighter: #b3e5fc,
      darker: #0288d1,
      text: #158ac0,
      default-contrast: white,
      lighter-contrast: rgba(0, 0, 0, 0.87),
      darker-contrast: white,
      '50-contrast': rgba(0, 0, 0, 0.87),
      '100-contrast': rgba(0, 0, 0, 0.87),
      '200-contrast': rgba(0, 0, 0, 0.87),
      '300-contrast': rgba(0, 0, 0, 0.87),
      '400-contrast': rgba(0, 0, 0, 0.87),
      '500-contrast': white,
      '600-contrast': white,
      '700-contrast': white,
      '800-contrast': white,
      '900-contrast': white,
      'A100-contrast': rgba(0, 0, 0, 0.87),
      'A200-contrast': rgba(0, 0, 0, 0.87),
      'A400-contrast': rgba(0, 0, 0, 0.87),
      'A700-contrast': white,
      'contrast-contrast': null,
    ),
    accent: (
      50: #e1f5fe,
      100: #b3e5fc,
      200: #81d4fa,
      300: #4fc3f7,
      400: #29b6f6,
      500: #03a9f4,
      600: #039be5,
      700: #0288d1,
      800: #0277bd,
      900: #158ac0,
      A100: #80d8ff,
      A200: #40c4ff,
      A400: #00b0ff,
      A700: #0091ea,
      contrast: (
        50: rgba(0, 0, 0, 0.87),
        100: rgba(0, 0, 0, 0.87),
        200: rgba(0, 0, 0, 0.87),
        300: rgba(0, 0, 0, 0.87),
        400: rgba(0, 0, 0, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(0, 0, 0, 0.87),
        A200: rgba(0, 0, 0, 0.87),
        A400: rgba(0, 0, 0, 0.87),
        A700: white,
      ),
      default: #40c4ff,
      lighter: #80d8ff,
      darker: #00b0ff,
      text: #40c4ff,
      default-contrast: rgba(0, 0, 0, 0.87),
      lighter-contrast: rgba(0, 0, 0, 0.87),
      darker-contrast: rgba(0, 0, 0, 0.87),
      '50-contrast': rgba(0, 0, 0, 0.87),
      '100-contrast': rgba(0, 0, 0, 0.87),
      '200-contrast': rgba(0, 0, 0, 0.87),
      '300-contrast': rgba(0, 0, 0, 0.87),
      '400-contrast': rgba(0, 0, 0, 0.87),
      '500-contrast': white,
      '600-contrast': white,
      '700-contrast': white,
      '800-contrast': white,
      '900-contrast': white,
      'A100-contrast': rgba(0, 0, 0, 0.87),
      'A200-contrast': rgba(0, 0, 0, 0.87),
      'A400-contrast': rgba(0, 0, 0, 0.87),
      'A700-contrast': white,
      'contrast-contrast': null,
    ),
    warn: (
      50: #ffebee,
      100: #ffcdd2,
      200: #ef9a9a,
      300: #e57373,
      400: #ef5350,
      500: #f44336,
      600: #e53935,
      700: #d32f2f,
      800: #c62828,
      900: #b71c1c,
      A100: #ff8a80,
      A200: #ff5252,
      A400: #ff1744,
      A700: #d50000,
      contrast: (
        50: rgba(0, 0, 0, 0.87),
        100: rgba(0, 0, 0, 0.87),
        200: rgba(0, 0, 0, 0.87),
        300: rgba(0, 0, 0, 0.87),
        400: rgba(0, 0, 0, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(0, 0, 0, 0.87),
        A200: white,
        A400: white,
        A700: white,
      ),
      default: #f44336,
      lighter: #ffcdd2,
      darker: #d32f2f,
      text: #f44336,
      default-contrast: white,
      lighter-contrast: rgba(0, 0, 0, 0.87),
      darker-contrast: white,
      '50-contrast': rgba(0, 0, 0, 0.87),
      '100-contrast': rgba(0, 0, 0, 0.87),
      '200-contrast': rgba(0, 0, 0, 0.87),
      '300-contrast': rgba(0, 0, 0, 0.87),
      '400-contrast': rgba(0, 0, 0, 0.87),
      '500-contrast': white,
      '600-contrast': white,
      '700-contrast': white,
      '800-contrast': white,
      '900-contrast': white,
      'A100-contrast': rgba(0, 0, 0, 0.87),
      'A200-contrast': white,
      'A400-contrast': white,
      'A700-contrast': white,
      'contrast-contrast': null,
    ),
    is-dark: false,
    foreground: (
      base: black,
      divider: rgba(0, 0, 0, 0.12),
      dividers: rgba(0, 0, 0, 0.12),
      disabled: rgba(0, 0, 0, 0.68),
      disabled-button: rgba(0, 0, 0, 0.26),
      disabled-text: rgba(0, 0, 0, 0.58),
      elevation: black,
      hint-text: rgba(0, 0, 0, 0.58),
      secondary-text: rgba(0, 0, 0, 0.54),
      icon: rgba(0, 0, 0, 0.54),
      icons: rgba(0, 0, 0, 0.54),
      text: rgba(0, 0, 0, 0.87),
      slider-min: rgba(0, 0, 0, 0.87),
      slider-off: rgba(0, 0, 0, 0.26),
      slider-off-active: rgba(0, 0, 0, 0.58),
    ),
    background: (
      status-bar: #e0e0e0,
      app-bar: #f5f5f5,
      background: #fafafa,
      hover: rgba(0, 0, 0, 0.04),
      card: white,
      dialog: white,
      disabled-button: rgba(0, 0, 0, 0.12),
      raised-button: white,
      focused-button: rgba(0, 0, 0, 0.12),
      selected-button: #e0e0e0,
      selected-disabled-button: #bdbdbd,
      disabled-button-toggle: #eeeeee,
      unselected-chip: #e0e0e0,
      disabled-list-option: #eeeeee,
      tooltip: #616161,
    )
  );
  typography: (
    display-4: (
      font-size: 112px,
      line-height: 112px,
      font-weight: 300,
      font-family: 'Roboto, "Helvetica Neue", sans-serif',
      letter-spacing: -0.05em,
    ),
    display-3: (
      font-size: 56px,
      line-height: 56px,
      font-weight: 400,
      font-family: 'Roboto, "Helvetica Neue", sans-serif',
      letter-spacing: -0.02em,
    ),
    display-2: (
      font-size: 45px,
      line-height: 48px,
      font-weight: 400,
      font-family: 'Roboto, "Helvetica Neue", sans-serif',
      letter-spacing: -0.005em,
    ),
    display-1: (
      font-size: 34px,
      line-height: 40px,
      font-weight: 400,
      font-family: 'Roboto, "Helvetica Neue", sans-serif',
      letter-spacing: normal,
    ),
    headline: (
      font-size: 24px,
      line-height: 32px,
      font-weight: 400,
      font-family: 'Roboto, "Helvetica Neue", sans-serif',
      letter-spacing: normal,
    ),
    title: (
      font-size: 20px,
      line-height: 32px,
      font-weight: 500,
      font-family: 'Roboto, "Helvetica Neue", sans-serif',
      letter-spacing: normal,
    ),
    subheading-2: (
      font-size: 16px,
      line-height: 28px,
      font-weight: 400,
      font-family: 'Roboto, "Helvetica Neue", sans-serif',
      letter-spacing: normal,
    ),
    subheading-1: (
      font-size: 15px,
      line-height: 24px,
      font-weight: 400,
      font-family: 'Roboto, "Helvetica Neue", sans-serif',
      letter-spacing: normal,
    ),
    body-2: (
      font-size: 14px,
      line-height: 24px,
      font-weight: 500,
      font-family: 'Roboto, "Helvetica Neue", sans-serif',
      letter-spacing: normal,
    ),
    body-1: (
      font-size: 14px,
      line-height: 20px,
      font-weight: 400,
      font-family: 'Roboto, "Helvetica Neue", sans-serif',
      letter-spacing: normal,
    ),
    caption: (
      font-size: 12px,
      line-height: 20px,
      font-weight: 400,
      font-family: 'Roboto, "Helvetica Neue", sans-serif',
      letter-spacing: normal,
    ),
    button: (
      font-size: 14px,
      line-height: 14px,
      font-weight: 500,
      font-family: 'Roboto, "Helvetica Neue", sans-serif',
      letter-spacing: normal,
    ),
    input: (
      font-size: inherit,
      line-height: 1.125,
      font-weight: 400,
      font-family: 'Roboto, "Helvetica Neue", sans-serif',
      letter-spacing: normal,
    ),
    font-family: 'Roboto, "Helvetica Neue", sans-serif'
  );
}
