.entity-breadcrumbs {
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 12px;

  .chevron {
    margin-left: 0.5rem;
    width: 10px !important;
  }

  li {
    display: inline;
    margin-right: 0.5rem;
  }

  .mat-icon,
  .description {
    vertical-align: middle;
  }

  .description {
    margin-left: 0.5rem;
  }
}
