<ul class="entity-breadcrumbs">
  <li *ngFor="let breadcrumb of breadcrumbs; let last = last" [ngClass]="{ 'last-item': last }">
    <ng-container *ngIf="breadcrumb.IsVisible">
      <mat-icon
        [icon]="breadcrumb.icon ?? 'fas fa-circle'"
        [size]="'16px'"
        [title]="breadcrumb.EntityTypeName + ': ' + breadcrumb.Description"
      ></mat-icon>
      <mat-icon *ngIf="!last" class="chevron" [icon]="'fas fa-chevron-right'" [size]="'16px'"></mat-icon>
      <span *ngIf="last" class="description">{{ breadcrumb.Description }}</span>
    </ng-container>
  </li>
</ul>
